# A Messy Notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from sklearn.metrics import plot_confusion_matrix, recall_score, accuracy_score

## Domain Knowledge Data

#### National Survey of Substance Abuse Treatment Services

In [3]:
nssats = pd.read_csv('data/NSSATS_PUF_2019_CSV.csv', low_memory=False)

In [4]:
nssats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15961 entries, 0 to 15960
Columns: 245 entries, CASEID to OPACAMNUM
dtypes: float64(75), int64(19), object(151)
memory usage: 29.8+ MB

In [5]:
nssats.head()

,CASEID,STATE,DETOX,TREATMT,SMISEDSUD,OWNERSHP,FEDOWN,HOSPITAL,LOCS,LOC5,OTP,ASSESSMENT,TESTING,MEDICAL,TRANSITION,RECOVERY,EDUCATION,ANCILLARY,OTHER_SRVC,PHARMACOTHERAPIES,SRVC89,SRVC90,SRVC1,SRVC2,SRVC107,SRVC91,SRVC93,SRVCEDCON,SRVCORAL,SRVC10,SRVC11,SRVC73,SRVC74,SRVC14,SRVC15,SRVC16,SRVCMETA,SRVCHAV,SRVCHBV,SRVC37,SRVC27,SRVCODED,SRVCOUTCM,SRVC97,SRVC102,SRVC39,SRVC38,SRVC36,SRVCCOACH,SRVC24,SRVC104,SRVC99,SRVC100,SRVC105,SRVC6,SRVC5,SRVC4,SRVC103,SRVCVOCED,SRVC49,SRVC96,SRVC50,SRVC52,SRVC98,SRVC59,SRVC101,SRVC48,SRVC75,SRVC117,SRVC118,SRVC119,SRVC70,SRVC71,SRVC108,SRVC88,SRVC94,SRVC106,SRVC95,SRVC85,SRVC87,SRVC86,SRVC129,SRVC130,SRVCMEDHIV,SRVCMEDHCV,SRVCMEDLOFE,SRVCMEDCLON,SRVC30,SRVC120,SRVC34,SRVC33,SRVC64,SRVC63,SRVC62,SRVC113,SRVC114,SRVC115,SRVC61,SRVC31,SRVCPAINSA,SRVC32,SRVC121,SRVC122,SRVC116,SRVC35,CTYPE4,CTYPEHI1,CTYPEHI2,CTYPE7,CTYPERC1,CTYPERC3,CTYPERC4,CTYPE1,CTYPE6,CTYPEML,CTYPEOP,CTYPE2,CTYPE3,SIGNLANG,LANG,LANG1,LANG2,LANG3,LANG4,LANG5,LANG6,LANG7,LANG8,LANG9,LANG10,LANG11,LANG12,LANG13,LANG14,LANG15,LANG16,LANG17,LANG18,LANG19,LANG20,LANG21,LANG22,LANG23,LANG24,LANG25,LANG26,DUI_DWI,ONLYDUI,ONLYOUD,OPIOIDDETOX,OPIOIDDLOFE,OPIOIDMAINT,OPIOIDNAL,OPIOIDOTH,OPIOIDWDRAW,FEESCALE,PAYASST,EARMARK,REVCHK1,REVCHK2,REVCHK3,REVCHK5,REVCHK8,REVCHK10,REVCHK15,REVCHK17,ACCRED,LICEN,LICENHOS,LICENMH,LICENPH,LICENSED,JCAHO,CARF,NCQA,COA,HFAP,A_PCT,B_PCT,D_PCT,HIBUPNUM,HIMATNUM,HIMETNUM,HIVIVNUM,OPBUPNUM,OPMATNUM,OPMETNUM,OPVIVNUM,RCBUPNUM,RCMATNUM,RCMETNUM,RCVIVNUM,HOSPBED,RESBED,H_AGE1,O_AGE1,R_AGE1,T_CLI1_D,T_CLI1_O,T_CLI1_X,T_CLI2_D,T_CLI2_O,T_CLI2_X,T_CLI3_D,T_CLI3_O,T_CLI3_X,T_CLI5_D,T_CLI5_O,T_CLI5_X,T_CLI6_D,T_CLI6_O,T_CLI6_X,T_CLI7_D,T_CLI7_O,T_CLI7_X,T_CLI8_D,T_CLI8_O,T_CLI8_X,T_CLI9_D,T_CLI9_O,T_CLI9_X,T_CLI10_D,T_CLI10_O,T_CLI10_X,T_CLIHI_D,T_CLIHI_O,T_CLIHI_X,T_CLIML_D,T_CLIML_O,T_CLIML_X,T_CLIOP_D,T_CLIOP_O,T_CLIOP_X,T_CLIRC_D,T_CLIRC_O,T_CLIRC_X,HIDISNUM,HINALNUM,HIACAMNUM,RCDISNUM,RCNALNUM,RCACAMNUM,OPDISNUM,OPNALNUM,OPACAMNUM
0,201900001,AK,0,1,1,6,3.0,0,NaN,0,0,7.0,1.0,0.0,3.0,4.0,9.0,6.0,0.0,0,1,1,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,1,1,0,1,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN,NaN,1,0.0,0.0,0.0,1.0,1.0,0,1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,1,1,0,1,1,1,1,1,1,1,0,1,0,1,0,1,0,0,0,5,2,1,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,4,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1
1,201900002,AK,0,1,1,2,NaN,0,NaN,0,0,5.0,2.0,0.0,3.0,6.0,10.0,6.0,3.0,16,1,1,1,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1,1,0,0,NaN,NaN,1,0.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,0,1,0,1,1,0,1,1,0,1,1,1,0,1,0,0,0,1,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,1,NaN,4,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN
2,201900003,AK,1,1,0,2,NaN,0,NaN,0,1,6.0,4.0,0.0,3.0,3.0,8.0,3.0,0.0,4,1,1,1,0,1,1,1,0,1,0,1,0,1,1,0,0,0,0,0,1,1,1,0,1,0,1,0,1,0,1,1,1,1,1,1,1,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN,NaN,1,1.0,1.0,0.0,0.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,1,0,1,1,0.0,1,1,0,1,1,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1,1,5,NaN,NaN,NaN,NaN,1,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1
3,201900004,AK,0,1,1,2,NaN,0,NaN,1,0,8.0,3.0,0.0,4.0,4.0,9.0,3.0,0.0,0,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,1,1,1,1,0,1,1,1,0,1,1,1,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,NaN,NaN,1,0.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,0,1,0,1,0,0,1,1,0,1,1,1,1,0,0,0,0,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,1,NaN,2,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN
4,201900005,AK,1,1,0,2,NaN,0,NaN,0,0,6.0,8.0,2.0,4.0,4.0,8.0,4.0,0.0,10,1,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1,1,0,0,1,1,0,0,0,1,1,0,0,0,0,0,1,1,1,0,1,1,1,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,NaN,NaN,0,NaN,NaN,NaN,1,1.0,1.0,0.0,0.0,1.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,1,1,1,1,0.0,0,1,1,1,1,1,0,1,1,1,1,1,0,1,0,1,0,0,0,0,0,0,0,4,1,5,NaN,NaN,NaN,NaN,3,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2

In [6]:
nssats.isna().sum()

CASEID                   0
STATE                    0
DETOX                    0
TREATMT                  0
SMISEDSUD                0
OWNERSHP                 0
FEDOWN               15628
HOSPITAL                 0
LOCS                 14569
LOC5                     0
OTP                      0
ASSESSMENT               1
TESTING                  1
MEDICAL                  1
TRANSITION               1
RECOVERY                 1
EDUCATION                2
ANCILLARY                1
OTHER_SRVC               1
PHARMACOTHERAPIES        0
SRVC89                   0
SRVC90                   0
SRVC1                    0
SRVC2                    0
SRVC107                  0
SRVC91                   0
SRVC93                   0
SRVCEDCON                0
SRVCORAL                 0
SRVC10                   0
SRVC11                   0
SRVC73                   0
SRVC74                   0
SRVC14                   0
SRVC15                   0
SRVC16                   0
SRVCMETA                 0
SRVCHAV                  0
SRVCHBV                  0
SRVC37                   0
SRVC27                   0
SRVCODED                 0
SRVCOUTCM                0
SRVC97                   0
SRVC102                  0
SRVC39                   0
SRVC38                   0
SRVC36                   0
SRVCCOACH                0
SRVC24                   0
SRVC104                  0
SRVC99                   0
SRVC100                  0
SRVC105                  0
SRVC6                    0
SRVC5                    0
SRVC4                    0
SRVC103                  0
SRVCVOCED                0
SRVC49                   0
SRVC96                   0
SRVC50                   0
SRVC52                   0
SRVC98                   0
SRVC59                   0
SRVC101                  0
SRVC48                   0
SRVC75                   0
SRVC117                  0
SRVC118                  0
SRVC119                  0
SRVC70                   0
SRVC71                   0
SRVC108                  0
SRVC88                   0
SRVC94                   0
SRVC106                  0
SRVC95                   0
SRVC85                   0
SRVC87                   0
SRVC86                   0
SRVC129                  0
SRVC130                  0
SRVCMEDHIV               0
SRVCMEDHCV               0
SRVCMEDLOFE              0
SRVCMEDCLON              0
SRVC30                   0
SRVC120                  0
SRVC34                   0
SRVC33                   0
SRVC64                   0
SRVC63                   0
SRVC62                   0
SRVC113                  0
SRVC114                  0
SRVC115                  0
SRVC61                   0
SRVC31                   0
SRVCPAINSA               0
SRVC32                   0
SRVC121                  0
SRVC122                  0
SRVC116                  0
SRVC35                   0
CTYPE4                   0
CTYPEHI1             15063
CTYPEHI2             15063
CTYPE7                   0
CTYPERC1             12167
CTYPERC3             12167
CTYPERC4             12167
CTYPE1                   0
CTYPE6                2917
CTYPEML               2917
CTYPEOP               2917
CTYPE2                2917
CTYPE3                2917
SIGNLANG                 0
LANG                     0
LANG1                15065
LANG2                15065
LANG3                15065
LANG4                15065
LANG5                15065
LANG6                15065
LANG7                15065
LANG8                15065
LANG9                15065
LANG10               15065
LANG11               15065
LANG12               15065
LANG13               15065
LANG14               15065
LANG15               15065
LANG16               11880
LANG17               15065
LANG18               15065
LANG19               15065
LANG20               15065
LANG21               15065
LANG22               15065
LANG23               15065
LANG24               15065
LANG25               15065
LANG26               15065
DUI_DWI                  0
ONLYDUI              12135
ONLYOUD               2952
OPIOIDDETOX           8456
OPIOIDDLOFE           8456
OPIOIDMAINT           8456
OPIOIDNAL             8455
OPIOIDOTH             8456
OPIOIDWDRAW           8456
FEESCALE                 0
PAYASST                  0
EARMARK                  0
REVCHK1                  0
REVCHK2                  0
REVCHK3                  0
REVCHK5                  0
REVCHK8                  0
REVCHK10                 0
REVCHK15                 0
REVCHK17                 0
ACCRED                   0
LICEN                    0
LICENHOS                 0
LICENMH                  0
LICENPH                  0
LICENSED                 0
JCAHO                    0
CARF                     0
NCQA                     0
COA                      0
HFAP                     0
A_PCT                 3673
B_PCT                 3673
D_PCT                 3673
HIBUPNUM             15270
HIMATNUM             15848
HIMETNUM             15848
HIVIVNUM             15270
OPBUPNUM              5968
OPMATNUM             14624
OPMETNUM             14624
OPVIVNUM              5968
RCBUPNUM             12907
RCMATNUM             15842
RCMETNUM             15841
RCVIVNUM             12907
HOSPBED              15270
RESBED               12907
H_AGE1               15270
O_AGE1                5968
R_AGE1               12907
T_CLI1_D             15924
T_CLI1_O             15844
T_CLI1_X             15415
T_CLI2_D             15924
T_CLI2_O             15844
T_CLI2_X             15416
T_CLI3_D             15738
T_CLI3_O             15840
T_CLI3_X             13220
T_CLI5_D             12840
T_CLI5_O             14607
T_CLI5_X              9620
T_CLI6_D             12963
T_CLI6_O             14611
T_CLI6_X             10003
T_CLI7_D             13049
T_CLI7_O             14620
T_CLI7_X             10195
T_CLI8_D             13057
T_CLI8_O             14626
T_CLI8_X             10173
T_CLI9_D             15735
T_CLI9_O             15841
T_CLI9_X             13183
T_CLI10_D            15736
T_CLI10_O            15840
T_CLI10_X            13188
T_CLIHI_D            15924
T_CLIHI_O            15844
T_CLIHI_X            15414
T_CLIML_D            13020
T_CLIML_O            14543
T_CLIML_X            10004
T_CLIOP_D            12835
T_CLIOP_O            14542
T_CLIOP_X             9469
T_CLIRC_D            15734
T_CLIRC_O            15839
T_CLIRC_X            13131
HIDISNUM             15270
HINALNUM             15270
HIACAMNUM            15270
RCDISNUM             12907
RCNALNUM             12907
RCACAMNUM            12907
OPDISNUM              5968
OPNALNUM              5968
OPACAMNUM             5968
dtype: int64

In [9]:
for col in nssats.columns[1:]:
    print(f'COL NAME: {col}\n\n{nssats[col].value_counts()}\n\n\n')

COL NAME: STATE

CA    1797
NY     925
IL     775
FL     725
PA     600
OH     554
NC     552
TX     512
MI     467
WA     452
KY     449
AZ     446
MA     438
MD     431
CO     408
MN     403
IN     393
NJ     370
GA     358
TN     313
UT     310
MO     281
WI     276
VA     254
OR     234
CT     220
OK     208
IA     187
ME     186
KS     179
AR     167
HI     167
NM     166
AL     153
LA     146
NE     131
ID     124
SC     121
WV     116
MS     110
NV     106
PR      97
AK      96
MT      88
ND      85
NH      80
SD      59
RI      59
WY      57
VT      48
DE      44
DC      26
ZZ      12
Name: STATE, dtype: int64



COL NAME: DETOX

0    12453
1     3508
Name: DETOX, dtype: int64



COL NAME: TREATMT

1    15783
0      178
Name: TREATMT, dtype: int64



COL NAME: SMISEDSUD

1    9402
0    6559
Name: SMISEDSUD, dtype: int64



COL NAME: OWNERSHP

2    8043
1    6327
4     694
6     333
3     310
5     254
Name: OWNERSHP, dtype: int64



COL NAME: FEDOWN

1.0    222
2.0     69
3.0     31
4.0     11
Name: FEDOWN, dtype: int64



COL NAME: HOSPITAL

0    14530
1     1390
M       41
Name: HOSPITAL, dtype: int64



COL NAME: LOCS

1    1005
2     320
3      65
M       2
Name: LOCS, dtype: int64



COL NAME: LOC5

0    14393
1     1564
M        4
Name: LOC5, dtype: int64



COL NAME: OTP

0    14270
1     1691
Name: OTP, dtype: int64



COL NAME: ASSESSMENT

6.0    3562
5.0    3255
7.0    3203
4.0    2315
3.0    1370
8.0    1121
2.0     750
1.0     218
0.0     166
Name: ASSESSMENT, dtype: int64



COL NAME: TESTING

2.0    3924
3.0    2474
1.0    2198
7.0    1730
0.0    1445
4.0    1098
6.0     981
8.0     966
5.0     829
9.0     315
Name: TESTING, dtype: int64



COL NAME: MEDICAL

0.0    14303
2.0     1386
1.0      271
Name: MEDICAL, dtype: int64



COL NAME: TRANSITION

3.0    6134
4.0    5606
2.0    3160
1.0     863
0.0     197
Name: TRANSITION, dtype: int64



COL NAME: RECOVERY

4.0    2906
5.0    2802
3.0    2791
2.0    2354
1.0    1929
0.0    1890
6.0    1288
Name: RECOVERY, dtype: int64



COL NAME: EDUCATION

9.0     3077
8.0     2461
5.0     2440
6.0     2319
7.0     2193
4.0     1271
10.0     985
3.0      822
2.0      211
1.0       99
0.0       81
Name: EDUCATION, dtype: int64



COL NAME: ANCILLARY

4.0    3597
3.0    3335
5.0    2564
2.0    2541
1.0    1454
6.0    1334
0.0     584
7.0     411
8.0     135
9.0       5
Name: ANCILLARY, dtype: int64



COL NAME: OTHER_SRVC

0.0    9259
1.0    3460
3.0    2147
2.0    1094
Name: OTHER_SRVC, dtype: int64



COL NAME: PHARMACOTHERAPIES

0     5534
1     1953
2     1074
3     1015
4      811
5      780
8      743
6      715
7      711
9      677
10     643
11     561
12     333
13     250
14      76
15      60
16      25
Name: PHARMACOTHERAPIES, dtype: int64



COL NAME: SRVC89

1    15443
0      517
M        1
Name: SRVC89, dtype: int64



COL NAME: SRVC90

1    12351
0     3609
M        1
Name: SRVC90, dtype: int64



COL NAME: SRVC1

1    14961
0      999
M        1
Name: SRVC1, dtype: int64



COL NAME: SRVC2

1    8964
0    6996
M       1
Name: SRVC2, dtype: int64



COL NAME: SRVC107

1    11564
0     4396
M        1
Name: SRVC107, dtype: int64



COL NAME: SRVC91

1    10282
0     5678
M        1
Name: SRVC91, dtype: int64



COL NAME: SRVC93

0    8301
1    7659
M       1
Name: SRVC93, dtype: int64



COL NAME: SRVCEDCON

0    13060
1     2900
M        1
Name: SRVCEDCON, dtype: int64



COL NAME: SRVCORAL

0    11824
1     4136
M        1
Name: SRVCORAL, dtype: int64



COL NAME: SRVC10

1    10232
0     5728
M        1
Name: SRVC10, dtype: int64



COL NAME: SRVC11

1    13993
0     1967
M        1
Name: SRVC11, dtype: int64



COL NAME: SRVC73

0    11672
1     4288
M        1
Name: SRVC73, dtype: int64



COL NAME: SRVC74

0    11079
1     4881
M        1
Name: SRVC74, dtype: int64



COL NAME: SRVC14

0    10956
1     5004
M        1
Name: SRVC14, dtype: int64



COL NAME: SRVC15

0    11868
1     4092
M        1
Name: SRVC15, dtype: int64



COL NAME: SRVC16

0    9310
1    6650
M       1
Name: SRVC16, dtype: int64



COL NAME: SRVCMETA

0    14672
1     1288
M        1
Name: SRVCMETA, dtype: int64



COL NAME: SRVCHAV

0    14427
1     1533
M        1
Name: SRVCHAV, dtype: int64



COL NAME: SRVCHBV

0    14450
1     1510
M        1
Name: SRVCHBV, dtype: int64



COL NAME: SRVC37

1    15229
0      731
M        1
Name: SRVC37, dtype: int64



COL NAME: SRVC27

1    13865
0     2095
M        1
Name: SRVC27, dtype: int64



COL NAME: SRVCODED

1    8007
0    7953
M       1
Name: SRVCODED, dtype: int64



COL NAME: SRVCOUTCM

1    10908
0     5052
M        1
Name: SRVCOUTCM, dtype: int64



COL NAME: SRVC97

1    9779
0    6181
M       1
Name: SRVC97, dtype: int64



COL NAME: SRVC102

0    8147
1    7813
M       1
Name: SRVC102, dtype: int64



COL NAME: SRVC39

1    9764
0    6196
M       1
Name: SRVC39, dtype: int64



COL NAME: SRVC38

0    9103
1    6857
M       1
Name: SRVC38, dtype: int64



COL NAME: SRVC36

1    10546
0     5414
M        1
Name: SRVC36, dtype: int64



COL NAME: SRVCCOACH

0    12347
1     3613
M        1
Name: SRVCCOACH, dtype: int64



COL NAME: SRVC24

1    9326
0    6633
M       2
Name: SRVC24, dtype: int64



COL NAME: SRVC104

1    8427
0    7532
M       2
Name: SRVC104, dtype: int64



COL NAME: SRVC99

1    9067
0    6892
M       2
Name: SRVC99, dtype: int64



COL NAME: SRVC100

1    15482
0      477
M        2
Name: SRVC100, dtype: int64



COL NAME: SRVC105

1    9148
0    6811
M       2
Name: SRVC105, dtype: int64



COL NAME: SRVC6

1    15445
0      514
M        2
Name: SRVC6, dtype: int64



COL NAME: SRVC5

1    14850
0     1109
M        2
Name: SRVC5, dtype: int64



COL NAME: SRVC4

1    12970
0     2989
M        2
Name: SRVC4, dtype: int64



COL NAME: SRVC103

1    9564
0    6395
M       2
Name: SRVC103, dtype: int64



COL NAME: SRVCVOCED

0    13471
1     2488
M        2
Name: SRVCVOCED, dtype: int64



COL NAME: SRVC49

1    13201
0     2759
M        1
Name: SRVC49, dtype: int64



COL NAME: SRVC96

1    11981
0     3979
M        1
Name: SRVC96, dtype: int64



COL NAME: SRVC50

0    15024
1      936
M        1
Name: SRVC50, dtype: int64



COL NAME: SRVC52

0    9853
1    6107
M       1
Name: SRVC52, dtype: int64



COL NAME: SRVC98

0    12290
1     3670
M        1
Name: SRVC98, dtype: int64



COL NAME: SRVC59

0    8584
1    7376
M       1
Name: SRVC59, dtype: int64



COL NAME: SRVC101

1    11102
0     4858
M        1
Name: SRVC101, dtype: int64



COL NAME: SRVC48

0    14983
1      977
M        1
Name: SRVC48, dtype: int64



COL NAME: SRVC75

0    15555
1      405
M        1
Name: SRVC75, dtype: int64



COL NAME: SRVC117

0    11807
1     4153
M        1
Name: SRVC117, dtype: int64



COL NAME: SRVC118

0    13543
1     2417
M        1
Name: SRVC118, dtype: int64



COL NAME: SRVC119

0    10441
1     5519
M        1
Name: SRVC119, dtype: int64



COL NAME: SRVC70

0    12245
1     3715
M        1
Name: SRVC70, dtype: int64



COL NAME: SRVC71

0    10251
1     5710
Name: SRVC71, dtype: int64



COL NAME: SRVC108

0    10367
1     5594
Name: SRVC108, dtype: int64



COL NAME: SRVC88

0    12080
1     3880
M        1
Name: SRVC88, dtype: int64



COL NAME: SRVC94

0    10789
1     5171
M        1
Name: SRVC94, dtype: int64



COL NAME: SRVC106

0    11722
1     4238
M        1
Name: SRVC106, dtype: int64



COL NAME: SRVC95

0    8200
1    7760
M       1
Name: SRVC95, dtype: int64



COL NAME: SRVC85

0    14002
1     1959
Name: SRVC85, dtype: int64



COL NAME: SRVC87

0    9778
1    6183
Name: SRVC87, dtype: int64



COL NAME: SRVC86

0    11655
1     4306
Name: SRVC86, dtype: int64



COL NAME: SRVC129

0    15423
1      538
Name: SRVC129, dtype: int64



COL NAME: SRVC130

0    14317
1     1644
Name: SRVC130, dtype: int64



COL NAME: SRVCMEDHIV

0    14659
1     1301
M        1
Name: SRVCMEDHIV, dtype: int64



COL NAME: SRVCMEDHCV

0    14545
1     1416
Name: SRVCMEDHCV, dtype: int64



COL NAME: SRVCMEDLOFE

0    15312
1      648
M        1
Name: SRVCMEDLOFE, dtype: int64



COL NAME: SRVCMEDCLON

0    12218
1     3742
M        1
Name: SRVCMEDCLON, dtype: int64



COL NAME: SRVC30

0    12131
1     3814
M       16
Name: SRVC30, dtype: int64



COL NAME: SRVC120

0    11016
1     4929
M       16
Name: SRVC120, dtype: int64



COL NAME: SRVC34

0    8110
1    7835
M      16
Name: SRVC34, dtype: int64



COL NAME: SRVC33

0    12070
1     3875
M       16
Name: SRVC33, dtype: int64



COL NAME: SRVC64

0    8441
1    7504
M      16
Name: SRVC64, dtype: int64



COL NAME: SRVC63

0    12244
1     3701
M       16
Name: SRVC63, dtype: int64



COL NAME: SRVC62

0    12345
1     3600
M       16
Name: SRVC62, dtype: int64



COL NAME: SRVC113

0    12486
1     3459
M       16
Name: SRVC113, dtype: int64



COL NAME: SRVC114

0    13950
1     1995
M       16
Name: SRVC114, dtype: int64



COL NAME: SRVC115

0    13660
1     2285
M       16
Name: SRVC115, dtype: int64



COL NAME: SRVC61

0    10197
1     5748
M       16
Name: SRVC61, dtype: int64



COL NAME: SRVC31

1    8384
0    7561
M      16
Name: SRVC31, dtype: int64



COL NAME: SRVCPAINSA

0    12955
1     2990
M       16
Name: SRVCPAINSA, dtype: int64



COL NAME: SRVC32

0    12764
1     3181
M       16
Name: SRVC32, dtype: int64



COL NAME: SRVC121

0    11436
1     4509
M       16
Name: SRVC121, dtype: int64



COL NAME: SRVC122

0    11454
1     4491
M       16
Name: SRVC122, dtype: int64



COL NAME: SRVC116

0    9133
1    6812
M      16
Name: SRVC116, dtype: int64



COL NAME: SRVC35

0    15204
1      757
Name: SRVC35, dtype: int64



COL NAME: CTYPE4

0    15063
1      898
Name: CTYPE4, dtype: int64



COL NAME: CTYPEHI1

1.0    806
0.0     92
Name: CTYPEHI1, dtype: int64



COL NAME: CTYPEHI2

1.0    680
0.0    218
Name: CTYPEHI2, dtype: int64



COL NAME: CTYPE7

0    12167
1     3794
Name: CTYPE7, dtype: int64



COL NAME: CTYPERC1

0.0    2384
1.0    1410
Name: CTYPERC1, dtype: int64



COL NAME: CTYPERC3

1.0    2386
0.0    1408
Name: CTYPERC3, dtype: int64



COL NAME: CTYPERC4

1.0    2958
0.0     836
Name: CTYPERC4, dtype: int64



COL NAME: CTYPE1

1    13044
0     2917
Name: CTYPE1, dtype: int64



COL NAME: CTYPE6

0.0    11292
1.0     1752
Name: CTYPE6, dtype: int64



COL NAME: CTYPEML

0.0    7788
1.0    5256
Name: CTYPEML, dtype: int64



COL NAME: CTYPEOP

0.0    10789
1.0     2255
Name: CTYPEOP, dtype: int64



COL NAME: CTYPE2

1.0    7325
0.0    5719
Name: CTYPE2, dtype: int64



COL NAME: CTYPE3

1.0    12114
0.0      930
Name: CTYPE3, dtype: int64



COL NAME: SIGNLANG

0    10342
1     5580
M       39
Name: SIGNLANG, dtype: int64



COL NAME: LANG

1    8410
0    7529
M      22
Name: LANG, dtype: int64



COL NAME: LANG1

0.0    884
1.0     12
Name: LANG1, dtype: int64



COL NAME: LANG2

0.0    878
1.0     18
Name: LANG2, dtype: int64



COL NAME: LANG3

0.0    845
1.0     51
Name: LANG3, dtype: int64



COL NAME: LANG4

0.0    885
1.0     11
Name: LANG4, dtype: int64



COL NAME: LANG5

0.0    871
1.0     25
Name: LANG5, dtype: int64



COL NAME: LANG6

0.0    799
1.0     97
Name: LANG6, dtype: int64



COL NAME: LANG7

0.0    810
1.0     86
Name: LANG7, dtype: int64



COL NAME: LANG8

0.0    758
1.0    138
Name: LANG8, dtype: int64

COL NAME: LANG9

0.0    753
1.0    143
Name: LANG9, dtype: int64



COL NAME: LANG10

0.0    844
1.0     52
Name: LANG10, dtype: int64



COL NAME: LANG11

0.0    860
1.0     36
Name: LANG11, dtype: int64



COL NAME: LANG12

0.0    838
1.0     58
Name: LANG12, dtype: int64



COL NAME: LANG13

0.0    793
1.0    103
Name: LANG13, dtype: int64



COL NAME: LANG14

0.0    777
1.0    119
Name: LANG14, dtype: int64



COL NAME: LANG15

0.0    725
1.0    171
Name: LANG15, dtype: int64



COL NAME: LANG16

1    3826
0     253
M       2
Name: LANG16, dtype: int64



COL NAME: LANG17

0.0    838
1.0     58
Name: LANG17, dtype: int64



COL NAME: LANG18

0.0    761
1.0    135
Name: LANG18, dtype: int64



COL NAME: LANG19

0.0    833
1.0     63
Name: LANG19, dtype: int64



COL NAME: LANG20

0.0    815
1.0     81
Name: LANG20, dtype: int64



COL NAME: LANG21

0.0    884
1.0     12
Name: LANG21, dtype: int64



COL NAME: LANG22

0.0    869
1.0     27
Name: LANG22, dtype: int64



COL NAME: LANG23

0.0    864
1.0     32
Name: LANG23, dtype: int64



COL NAME: LANG24

0.0    822
1.0     74
Name: LANG24, dtype: int64



COL NAME: LANG25

0.0    849
1.0     47
Name: LANG25, dtype: int64



COL NAME: LANG26

0.0    812
1.0     84
Name: LANG26, dtype: int64



COL NAME: DUI_DWI

0    12101
1     3826
M       34
Name: DUI_DWI, dtype: int64



COL NAME: ONLYDUI

0    3738
1      82
M       6
Name: ONLYDUI, dtype: int64



COL NAME: ONLYOUD

0    11752
1     1251
M        6
Name: ONLYOUD, dtype: int64



COL NAME: OPIOIDDETOX

0    5148
1    2349
M       8
Name: OPIOIDDETOX, dtype: int64



COL NAME: OPIOIDDLOFE

0    6239
1    1258
M       8
Name: OPIOIDDLOFE, dtype: int64



COL NAME: OPIOIDMAINT

1    5037
0    2460
M       8
Name: OPIOIDMAINT, dtype: int64



COL NAME: OPIOIDNAL

1    4454
0    3044
M       8
Name: OPIOIDNAL, dtype: int64



COL NAME: OPIOIDOTH

0.0    7497
1.0       8
Name: OPIOIDOTH, dtype: int64



COL NAME: OPIOIDWDRAW

0    3910
1    3587
M       8
Name: OPIOIDWDRAW, dtype: int64



COL NAME: FEESCALE

1    9187
0    6737
M      37
Name: FEESCALE, dtype: int64



COL NAME: PAYASST

0    8731
1    7186
M      44
Name: PAYASST, dtype: int64



COL NAME: EARMARK

1    8254
0    7087
D     588
M      32
Name: EARMARK, dtype: int64



COL NAME: REVCHK1

1    14408
0     1454
M       99
Name: REVCHK1, dtype: int64



COL NAME: REVCHK2

1    11709
0     4153
M       99
Name: REVCHK2, dtype: int64



COL NAME: REVCHK3

0    15409
1      453
M       99
Name: REVCHK3, dtype: int64



COL NAME: REVCHK5

1    10878
0     4984
M       99
Name: REVCHK5, dtype: int64



COL NAME: REVCHK8

0    9919
1    5943
M      99
Name: REVCHK8, dtype: int64



COL NAME: REVCHK10

0    8097
1    7765
M      99
Name: REVCHK10, dtype: int64



COL NAME: REVCHK15

0    9856
1    6006
M      99
Name: REVCHK15, dtype: int64



COL NAME: REVCHK17

0    14024
1     1838
M       99
Name: REVCHK17, dtype: int64



COL NAME: ACCRED

1    8632
0    7294
V      35
Name: ACCRED, dtype: int64



COL NAME: LICEN

1    14185
0     1741
V       35
Name: LICEN, dtype: int64



COL NAME: LICENHOS

0    15101
1      825
M       34
N        1
Name: LICENHOS, dtype: int64



COL NAME: LICENMH

0    9588
1    6338
M      34
N       1
Name: LICENMH, dtype: int64



COL NAME: LICENPH

0    8405
1    7521
M      34
N       1
Name: LICENPH, dtype: int64



COL NAME: LICENSED

1    12461
0     3465
M       34
N        1
Name: LICENSED, dtype: int64



COL NAME: JCAHO

0    12283
1     3643
M       34
N        1
Name: JCAHO, dtype: int64



COL NAME: CARF

0    11221
1     4705
M       34
N        1
Name: CARF, dtype: int64



COL NAME: NCQA

0    15562
1      364
M       34
N        1
Name: NCQA, dtype: int64



COL NAME: COA

0    15225
1      701
M       34
N        1
Name: COA, dtype: int64



COL NAME: HFAP

0    15764
1      162
M       34
N        1
Name: HFAP, dtype: int64



COL NAME: A_PCT

1    5456
2    2140
4    1542
5    1531
3    1098
N     373
M     148
Name: A_PCT, dtype: int64



COL NAME: B_PCT

1    4276
2    3459
4    1633
5    1527
3     874
N     373
M     146
Name: B_PCT, dtype: int64



COL NAME: D_PCT

1    3224
5    3199
4    2178
3    1627
2    1538
N     373
M     149
Name: D_PCT, dtype: int64



COL NAME: HIBUPNUM

1    459
4     70
3     62
5     51
2     46
M      3
Name: HIBUPNUM, dtype: int64



COL NAME: HIMATNUM

1.0    34
5.0    21
4.0    20
3.0    20
2.0    18
Name: HIMATNUM, dtype: int64



COL NAME: HIMETNUM

1.0    62
3.0    17
4.0    16
5.0    11
2.0     7
Name: HIMETNUM, dtype: int64



COL NAME: HIVIVNUM

1    567
2     39
5     36
4     27
3     21
M      1
Name: HIVIVNUM, dtype: int64



COL NAME: OPBUPNUM

1    7799
5     705
4     557
2     502
3     404
M      26
Name: OPBUPNUM, dtype: int64



COL NAME: OPMATNUM

5.0    343
3.0    282
1.0    275
2.0    219
4.0    218
Name: OPMATNUM, dtype: int64



COL NAME: OPMETNUM

1.0    334
5.0    320
3.0    263
2.0    231
4.0    189
Name: OPMETNUM, dtype: int64



COL NAME: OPVIVNUM

1    8742
3     372
4     360
5     322
2     155
M      42
Name: OPVIVNUM, dtype: int64



COL NAME: RCBUPNUM

1    2390
5     210
3     166
4     146
2     131
M      11
Name: RCBUPNUM, dtype: int64



COL NAME: RCMATNUM

1.0    47
4.0    21
5.0    18
2.0    17
3.0    16
Name: RCMATNUM, dtype: int64



COL NAME: RCMETNUM

1    74
3    15
4    14
5     9
2     7
M     1
Name: RCMETNUM, dtype: int64



COL NAME: RCVIVNUM

1    2531
2     153
4     133
5     122
3      95
M      20
Name: RCVIVNUM, dtype: int64



COL NAME: HOSPBED

1    225
5    111
2    101
4     95
M     85
3     74
Name: HOSPBED, dtype: int64



COL NAME: RESBED

1    805
2    548
5    544
3    518
4    503
M    136
Name: RESBED, dtype: int64



COL NAME: H_AGE1

1.0    650
3.0     14
5.0     12
4.0     12
2.0      3
Name: H_AGE1, dtype: int64



COL NAME: O_AGE1

1    7968
2     639
3     494
5     448
4     406
M      38
Name: O_AGE1, dtype: int64



COL NAME: R_AGE1

1    2842
2      73
5      51
3      49
4      32
M       7
Name: R_AGE1, dtype: int64



COL NAME: T_CLI1_D

1.0    13
5.0     8
3.0     8
4.0     5
2.0     3
Name: T_CLI1_D, dtype: int64



COL NAME: T_CLI1_O

1.0    41
5.0    22
4.0    22
2.0    16
3.0    16
Name: T_CLI1_O, dtype: int64



COL NAME: T_CLI1_X

1    218
3     98
5     80
4     76
2     73
M      1
Name: T_CLI1_X, dtype: int64



COL NAME: T_CLI2_D

1.0    21
3.0     7
4.0     4
2.0     3
5.0     2
Name: T_CLI2_D, dtype: int64



COL NAME: T_CLI2_O

1.0    74
5.0    15
2.0    10
3.0    10
4.0     8
Name: T_CLI2_O, dtype: int64



COL NAME: T_CLI2_X

1.0    321
3.0     67
5.0     59
2.0     51
4.0     47
Name: T_CLI2_X, dtype: int64



COL NAME: T_CLI3_D

1.0    171
3.0     21
5.0     13
4.0     11
2.0      7
Name: T_CLI3_D, dtype: int64



COL NAME: T_CLI3_O

1.0    76
5.0    12
4.0    12
2.0    11
3.0    10
Name: T_CLI3_O, dtype: int64



COL NAME: T_CLI3_X

1    2303
2     162
5     101
4      90
3      84
M       1
Name: T_CLI3_X, dtype: int64



COL NAME: T_CLI5_D

1    958
4    569
5    568
2    514
3    511
M      1
Name: T_CLI5_D, dtype: int64



COL NAME: T_CLI5_O

1.0    1037
5.0      95
3.0      79
4.0      74
2.0      69
Name: T_CLI5_O, dtype: int64



COL NAME: T_CLI5_X

1    2621
5    1029
3     947
4     913
2     829
M       2
Name: T_CLI5_X, dtype: int64



COL NAME: T_CLI6_D

1    1854
4     320
2     310
3     279
5     234
M       1
Name: T_CLI6_D, dtype: int64



COL NAME: T_CLI6_O

1.0    1189
5.0      51
3.0      46
4.0      35
2.0      29
Name: T_CLI6_O, dtype: int64



COL NAME: T_CLI6_X

1    3877
2     576
3     560
4     481
5     463
M       1
Name: T_CLI6_X, dtype: int64



COL NAME: T_CLI7_D

1    2807
2      30
3      26
4      25
5      23
M       1
Name: T_CLI7_D, dtype: int64



COL NAME: T_CLI7_O

1.0    1196
2.0      55
5.0      36
3.0      31
4.0      23
Name: T_CLI7_O, dtype: int64



COL NAME: T_CLI7_X

1    5542
2      83
5      51
3      48
4      40
M       2
Name: T_CLI7_X, dtype: int64



COL NAME: T_CLI8_D

1    2736
3      48
2      44
4      43
5      32
M       1
Name: T_CLI8_D, dtype: int64



COL NAME: T_CLI8_O

1.0    1310
5.0       9
2.0       7
4.0       5
3.0       4
Name: T_CLI8_O, dtype: int64



COL NAME: T_CLI8_X

1    5180
2     193
3     183
5     119
4     111
M       2
Name: T_CLI8_X, dtype: int64



COL NAME: T_CLI9_D

1.0    127
5.0     30
3.0     24
2.0     23
4.0     22
Name: T_CLI9_D, dtype: int64



COL NAME: T_CLI9_O

1.0    44
5.0    23
4.0    23
3.0    19
2.0    11
Name: T_CLI9_O, dtype: int64



COL NAME: T_CLI9_X

1    1812
2     279
5     235
4     226
3     225
M       1
Name: T_CLI9_X, dtype: int64



COL NAME: T_CLI10_D

1.0    118
2.0     35
3.0     34
4.0     22
5.0     16
Name: T_CLI10_D, dtype: int64



COL NAME: T_CLI10_O

1.0    90
3.0    11
4.0     9
2.0     6
5.0     5
Name: T_CLI10_O, dtype: int64



COL NAME: T_CLI10_X

1.0    1433
2.0     405
4.0     318
5.0     312
3.0     305
Name: T_CLI10_X, dtype: int64



COL NAME: T_CLIHI_D

5.0    10
1.0     9
2.0     7
3.0     7
4.0     4
Name: T_CLIHI_D, dtype: int64



COL NAME: T_CLIHI_O

2.0    29
5.0    26
1.0    25
4.0    20
3.0    17
Name: T_CLIHI_O, dtype: int64



COL NAME: T_CLIHI_X

1.0    173
3.0    114
5.0     94
4.0     94
2.0     72
Name: T_CLIHI_X, dtype: int64



COL NAME: T_CLIML_D

1    2480
5     128
4     118
2     112
3     102
M       1
Name: T_CLIML_D, dtype: int64



COL NAME: T_CLIML_O

1.0    384
5.0    318
3.0    274
2.0    232
4.0    210
Name: T_CLIML_O, dtype: int64



COL NAME: T_CLIML_X

1    4795
5     428
4     277
3     261
2     194
M       2
Name: T_CLIML_X, dtype: int64



COL NAME: T_CLIOP_D

1    843
5    615
4    575
3    567
2    525
M      1
Name: T_CLIOP_D, dtype: int64



COL NAME: T_CLIOP_O

5.0    342
1.0    307
3.0    276
2.0    249
4.0    245
Name: T_CLIOP_O, dtype: int64



COL NAME: T_CLIOP_X

1    1683
5    1387
4    1198
2    1132
3    1091
M       1
Name: T_CLIOP_X, dtype: int64



COL NAME: T_CLIRC_D

1.0    60
2.0    49
3.0    45
4.0    39
5.0    34
Name: T_CLIRC_D, dtype: int64



COL NAME: T_CLIRC_O

1.0    33
4.0    28
3.0    25
5.0    23
2.0    13
Name: T_CLIRC_O, dtype: int64



COL NAME: T_CLIRC_X

1.0    921
4.0    535
5.0    464
3.0    458
2.0    452
Name: T_CLIRC_X, dtype: int64



COL NAME: HIDISNUM

1    657
2      8
4      7
M      7
3      6
5      6
Name: HIDISNUM, dtype: int64



COL NAME: HINALNUM

1    547
2     42
4     36
3     32
5     30
M      4
Name: HINALNUM, dtype: int64



COL NAME: HIACAMNUM

1    635
2     15
5     12
4     11
M     10
3      8
Name: HIACAMNUM, dtype: int64



COL NAME: RCDISNUM

1    2942
2      31
3      30
M      27
5      13
4      11
Name: RCDISNUM, dtype: int64



COL NAME: RCNALNUM

1    2580
2     138
4     115
5     107
3      86
M      28
Name: RCNALNUM, dtype: int64



COL NAME: RCACAMNUM

1    2893
2      51
3      36
M      30
4      24
5      20
Name: RCACAMNUM, dtype: int64



COL NAME: OPDISNUM

1    9472
2     144
4     128
5     115
M      70
3      64
Name: OPDISNUM, dtype: int64



COL NAME: OPNALNUM

1    8563
2     558
4     302
5     260
3     234
M      76
Name: OPNALNUM, dtype: int64



COL NAME: OPACAMNUM

1    9482
2     134
5     112
4     109
3      84
M      72
Name: OPACAMNUM, dtype: int64

#### Incarceration Data

In [9]:
inmates = pd.read_csv('data/ji19at05.csv')

In [11]:
inmates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Bureau of Justice Statistics  18 non-null     object
 1   Unnamed: 1                    17 non-null     object
 2   Unnamed: 2                    20 non-null     object
 3   Unnamed: 3                    20 non-null     object
 4   Unnamed: 4                    5 non-null      object
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    20 non-null     object
 7   Unnamed: 7                    5 non-null      object
 8   Unnamed: 8                    0 non-null      float64
 9   Unnamed: 9                    20 non-null     float64
 10  Unnamed: 10                   6 non-null      object
 11  Unnamed: 11                   0 non-null      float64
 12  Unnamed: 12                   20 non-null     float64
 13  Unnamed: 13                   6 non-null      object
 14  Unnamed: 14                   0 non-null      float64
 15  Unnamed: 15                   20 non-null     object
 16  Unnamed: 16                   6 non-null      object
 17  Unnamed: 17                   0 non-null      float64
 18  Unnamed: 18                   20 non-null     float64
 19  Unnamed: 19                   6 non-null      object
 20  Unnamed: 20                   0 non-null      float64
 21  Unnamed: 21                   20 non-null     object
dtypes: float64(9), object(13)
memory usage: 6.3+ KB

In [12]:
inmates = pd.read_csv('data/fpscfsa20t01.csv')

In [13]:
inmates

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Filename: fpscfsa20t01.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table 1. Selected characteristics of federal p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Report title: Federal Prisoner Statistics Coll...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Data source: Bureau of Justice Statistics, Nat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Author: E. Ann Carson, Ph.D., BJS Statistician",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Refer questions to: askbjs@usdoj.gov 202-307-0765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Date of version: 2/16/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Table 1. Selected characteristics of federal p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,2018,NaN,NaN,NaN,2019,NaN,NaN
10,Characteristic/FSA item,NaN,Number,Percent,NaN,NaN,Number,Percent,NaN
11,Veteran status,NaN,"179,213",100,%,NaN,"174,391",100,%
12,NaN,Veteran (Item 1)/a,"10,732",6,NaN,NaN,"10,252",5.9,NaN
13,NaN,Non-veteran,"168,481",94,NaN,NaN,"164,139",94.1,NaN
14,"Minor children/b,c",NaN,"179,213",100,%,NaN,"174,391",100,%
15,NaN,Had minor children (Item 7),"80,559",45,NaN,NaN,"85,949",49.3,NaN
16,NaN,Did not have minor children,"98,614",55,NaN,NaN,"88,442",50.7,NaN
17,Marital status (Item 8)/d,NaN,"179,898",100,%,NaN,"175,116",100,%
18,NaN,Never married,"95,400",53.1,NaN,NaN,"93,000",53.1,NaN
19,NaN,Married,"38,600",21.4,NaN,NaN,"37,500",21.4,NaN
20,NaN,Divorced,"32,500",18.1,NaN,NaN,"31,700",18.1,NaN
21,NaN,Separated,"10,200",5.6,NaN,NaN,"9,800",5.6,NaN
22,NaN,Widowed,"3,200",1.8,NaN,NaN,"3,200",1.8,NaN
23,"U.S. citizenship status/c,e",NaN,"179,213",100,%,NaN,"174,391",100,%
24,NaN,Citizen,"145,756",81.3,NaN,NaN,"142,933",82,NaN
25,NaN,Non-citizen (Item 20),"33,457",18.7,NaN,NaN,"31,458",18,NaN
26,English-speaking status/c,NaN,"179,213",100,%,NaN,"174,391",100,%
27,NaN,English was first language,"155,646",86.8,NaN,NaN,"152,469",87.4,NaN
28,NaN,English was second language (Item 11),"23,567",13.2,NaN,NaN,"21,922",12.6,NaN
29,Educational status prior to BOP imprisonment/c,NaN,"179,213",100,%,NaN,"174,391",100,%
30,NaN,Had a high-school diploma/general-equivalency ...,"127,777",71.3,NaN,NaN,"122,975",70.5,NaN
31,NaN,Did not have a high-school diploma/general-equ...,"51,436",28.7,NaN,NaN,"51,416",29.5,NaN
32,Prisoners who earned a general-equivalency deg...,NaN,"3,355",:,NaN,NaN,"3,791",:,NaN
33,Population in segregated housing (Item 2)/g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,Special housing unit,"10,214",:,NaN,NaN,"10,649",:,NaN
35,NaN,Special management unit,"1,054",:,NaN,NaN,"1,000",:,NaN
36,NaN,Administrative maximum,407,:,NaN,NaN,386,:,NaN
37,:Not calculated. Percentages were not calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"a/Includes prisoners held on December 9, 2018 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,b/A minor child is defined by the BOP as a per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,c/Includes prisoners in the custody of publicl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,d/Counts are imputed using the distribution of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,e/The BOP does not have data on immigration st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,f/Includes all prisoners in the custody of pub...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,g/Includes persons held in segregated housing ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Source: Bureau of Justice Statistics, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### National Survey on Drug Use and Health

In [48]:
nsduh = None

#### Drug Abuse Warning Network (DAWN)

In [49]:
dawn_2005 = None
dawn_2007 = None

*****************
## MODELING Data: [Monitoring the Future](http://www.monitoringthefuture.org/links.html)

[Dataset](https://www.icpsr.umich.edu/web/NAHDAP/series/35)

In [325]:
# From sas files
mtf_1995 = None
mtf_1996 = None
mtf_1997 = None
mtf_1998 = None
mtf_1999 = None
mtf_2000 = None
mtf_2001 = None
mtf_2002 = None
mtf_2003 = None
mtf_2004 = None
mtf_2005 = None
# From tsv files
mtf_2006 = None
mtf_2007 = None
mtf_2008 = None
mtf_2009 = None
mtf_2010 = None
mtf_2011 = None
mtf_2012 = None
mtf_2013 = None
mtf_2014 = None
mtf_2015 = None
mtf_2016 = None
mtf_2017 = None
mtf_2018 = None
mtf_2019 = None

In [326]:
# convert sas files to dataframe
sas_dfs = [mtf_1995, mtf_1996, mtf_1997, mtf_1998, mtf_1999, mtf_2000, mtf_2001,
           mtf_2002, mtf_2003, mtf_2004, mtf_2005]
sas_ctr = 0
for yr in range(1995,2006):
    sas_path = f'data/modeling_data/sas/mtf_{yr}/DS0001/{yr}-0001-Data.xpt' 
    sas_dfs[sas_ctr] = pd.read_sas(sas_path)
    sas_ctr += 1

In [327]:
# convert tsv files to dataframe
tsv_dfs = [mtf_2006, mtf_2007, mtf_2008, mtf_2009, mtf_2010, mtf_2011, mtf_2012, mtf_2013, mtf_2014, 
          mtf_2015, mtf_2016, mtf_2017, mtf_2018, mtf_2019]

tsv_ctr = 0 
for yr in range(2006,2020):
    tsv_path = f'data/modeling_data/csv_files/mtf_{yr}/DS0001/{yr}-0001-Data.tsv' 
    tsv_dfs[tsv_ctr] = pd.read_csv(tsv_path, sep='\t')
    tsv_ctr += 1

In [ ]:
col_dict = {
    'CASEID': 'CASEID'
    'yr_adminst': 'V1'
    'form_id' : 'V3'
    'id_serial': 'V4'
    'sampling_weight': 'V5'
    'region': 'V13'
    'msa': 'V16'
    'smsa': 'V17'
    ''
    
    
    
    
    
    
    
}

In [328]:
# sas_dfs
cols_2005 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 
             'region', 'msa', 'smsa', 'siblings', 
               'evr_smoked_cig', 'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
              'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq', 'weed_lifetime_freq', 'weed_yr_freq', 
              'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age',
           'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', # end of reg q's
             'evr_tobacco', 'tobacco_month_freq',
           'bidi_yr_freq', 'kreteks_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'beer_lifetime_freq', 'beer_yr_freq', 'beer_month_freq',
           'beer_2week', 'winecool_lifetime_freq', 'winecool_yr_freq', 'winecool_month_freq',
           'winecool_2week', 'wine_lifetime_freq', 'wine_yr_freq', 'wine_month_freq',
           'wine_2week', 'liqr_lifetime_freq', 'liqr_yr_freq', 'liqr_month_freq',
           'liqr_2week', 'flvrdalc_lifetime_freq', 'flvrdalc_yr_freq', 'flvrdalc_month_freq',
           'pcp_lifetime_freq', 'pcp_yr_freq', 'pcp_month_freq', 'mdma_lifetime_freq', 
           'mdma_yr_freq', 'mdma_month_freq', 'crack_lifetime_freq', 'crack_yr_freq', 
            'crack_month_freq', 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
           'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'dietpill_lifetime_freq', 'dietpill_yr_freq', 'dietpill_month_freq',
           'staawak_lifetime_freq', 'staawak_yr_freq', 'staawak_month_freq', 'lookalik_lifetime_freq',
           'lookalik_yr_freq', 'lookalik_month_freq', 'quaa_lifetime_freq', 'quaa_yr_freq', 
           'quaa_month_freq', 'roofi_yr_freq', 'ghb_yr_freq', 'keta_yr_freq', # V264
           'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'inject_lifetime_freq', 'inject_yr_freq', 'inject_month_freq', 
           'oxy_yr_freq', 'vico_yr_freq', 'pprs_lifetime_freq', 'pprs_yr_freq', 'pprs_month_freq', 
           'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
           'creatine_yr_freq']

cols_2004 =  ['CASEID','yr_adminst', 'form_id', 'id_serial','sampling_weight',
             'region', 'msa', 'smsa', 'siblings','evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'hash_lifetime_freq',
            'hash_yr_freq', 'hash_month_freq','weed_lifetime_freq','weed_yr_freq',
             'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq',
             'meth_lifetime_freq','meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status',
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents', # V201
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', # V204
            'mil_branch_pref', 'mil_officer_pref', 'expect_mil_career']

cols_2003 = ['CASEID','yr_adminst', 'form_id', 'id_serial','sampling_weight',
             'region', 'msa', 'smsa', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'hash_lifetime_freq',
            'hash_yr_freq', 'hash_month_freq','weed_lifetime_freq','weed_yr_freq',
             'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq',
             'meth_lifetime_freq','meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'siblings',
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg',
             'mil_branch_pref', 'mil_officer_pref', 'expect_mil_career']

cols_2002 = ['CASEID','region', 'msa', 'smsa', 'sampling_weight',
            'yr_adminst', 'form_id', 'id_serial', 'meth_lifetime_freq',
            'meth_yr_freq', 'meth_month_freq', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'hash_lifetime_freq',
            'hash_yr_freq', 'hash_month_freq','weed_lifetime_freq','weed_yr_freq',
             'weed_month_freq', 'mil_branch_pref', 'mil_officer_pref', 'expect_mil_career']

cols_2001 = ['CASEID','region', 'msa', 'smsa', 'sampling_weight',
            'yr_adminst', 'form_id', 'id_serial', 'meth_lifetime_freq',
            'meth_yr_freq', 'meth_month_freq', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'hash_lifetime_freq',
            'hash_yr_freq', 'hash_month_freq','weed_lifetime_freq','weed_yr_freq',
             'weed_month_freq', 'mil_branch_pref', 'mil_officer_pref', 'expect_mil_career']

cols_2000 = ['CASEID','region', 'msa', 'smsa', # V17
            'yr_adminst', 'form_id', 'id_serial', 'meth_lifetime_freq',
            'meth_yr_freq', 'meth_month_freq', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'sampling_weight', # V5 moved over here
            'hash_lifetime_freq','hash_yr_freq', 'hash_month_freq','weed_lifetime_freq','weed_yr_freq',
             'weed_month_freq', 'mil_branch_pref', 'mil_officer_pref', 'expect_mil_career']

cols_1999 = ['CASEID','region', 'msa', 'smsa', 'sampling_weight', #V5
            'yr_adminst', 'form_id', 'id_serial', 'meth_lifetime_freq',
            'meth_yr_freq', 'meth_month_freq', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq', # only does combo here
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'hash_lifetime_freq',
             'hash_yr_freq', 'hash_month_freq','weed_lifetime_freq','weed_yr_freq',
             'weed_month_freq', 'mil_branch_pref', # V205
           'mil_officer_pref', 'expect_mil_career']

cols_1998 = ['CASEID', 'region', 'msa', 'smsa', 'sampling_weight', #V5
            'yr_adminst', 'form_id', 'id_serial', 'meth_lifetime_freq',
            'meth_yr_freq', 'meth_month_freq', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq','weed_lifetime_freq', 'weed_yr_freq',
              'weed_month_freq','weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career']

cols_1997 = ['CASEID', 'region', 'msa', 'smsa', 'sampling_weight',
            'yr_adminst', 'form_id', 'id_serial', 'meth_lifetime_freq',
            'meth_yr_freq', 'meth_month_freq', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq','weed_lifetime_freq', 'weed_yr_freq',
              'weed_month_freq','weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status',
             'has_father', 'has_mother', 'has_siblings',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents', # V201
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career'] # V207

cols_1996 = ['CASEID', 'region', 'msa', 'smsa', 'sampling_weight', #V5
            'yr_adminst', 'form_id', 'id_serial', 'meth_lifetime_freq',
            'meth_yr_freq', 'meth_month_freq', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
            'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', # v147
            'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'lives_alone',
             'has_father', 'has_mother', 'has_siblings', 'hshld_grandparents',
             'hshld_spouse', 'hshld_children', 'hshld_relatives', 'hshld_nonrelatives',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type', 'relig_pref',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career']

cols_1995 = ['yr_adminst', 'form_id', 'id_serial', 'sampling_weight',
            'region', 'msa', 'smsa', 'siblings', 'evr_smoked_cig', # <-- V101
            'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq', 
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
             'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', # V129
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age', # V148 - 'birth year'
           'sex', 'race_bwh', 'area_type', 'marital_status', 'lives_alone',
             'has_father', 'has_mother', 'has_siblings', 'hshld_grandparents',
             'hshld_spouse', 'hshld_children', 'hshld_relatives', 'hshld_nonrelatives',
             'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type', 'relig_pref',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'icpsr_study_num', 'icpsr_ed_num', #V209
             'icpsr_part_num']

In [329]:
# tsv dfs
cols_2006 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 'siblings', 
               'evr_smoked_cig', 'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
              'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq', 'weed_lifetime_freq', 'weed_yr_freq', 
              'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age',
           'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'evr_tobacco', 'tobacco_month_freq',
           'bidi_yr_freq', 'kreteks_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'beer_lifetime_freq', 'beer_yr_freq', 'beer_month_freq',
           'beer_2week', 'winecool_lifetime_freq', 'winecool_yr_freq', 'winecool_month_freq',
           'winecool_2week', 'wine_lifetime_freq', 'wine_yr_freq', 'wine_month_freq',
           'wine_2week', 'liqr_lifetime_freq', 'liqr_yr_freq', 'liqr_month_freq',
           'liqr_2week', 'flvrdalc_lifetime_freq', 'flvrdalc_yr_freq', 'flvrdalc_month_freq',
           'pcp_lifetime_freq', 'pcp_yr_freq', 'pcp_month_freq', 'mdma_lifetime_freq', 
           'mdma_yr_freq', 'mdma_month_freq', 'crack_lifetime_freq', 'crack_yr_freq', 
            'crack_month_freq', 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
           'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'dietpill_lifetime_freq', 'dietpill_yr_freq', 'dietpill_month_freq',
           'staawak_lifetime_freq', 'staawak_yr_freq', 'staawak_month_freq', 'lookalik_lifetime_freq',
           'lookalik_yr_freq', 'lookalik_month_freq', 'quaa_lifetime_freq', 'quaa_yr_freq', 
           'quaa_month_freq', 'roofi_yr_freq', 'ghb_yr_freq', 'keta_yr_freq', # V264
           'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'inject_lifetime_freq', 'inject_yr_freq', 'inject_month_freq', 
           'oxy_yr_freq', 'vico_yr_freq', 'pprs_lifetime_freq', 'pprs_yr_freq', 'pprs_month_freq', 
           'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
           'creatine_yr_freq', 'coughmed_yr_freq']

cols_2007 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 'siblings', 
               'evr_smoked_cig', 'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
              'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq', 'weed_lifetime_freq', 'weed_yr_freq', 
              'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age',
           'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'evr_tobacco', 'tobacco_month_freq',
           'bidi_yr_freq', 'kreteks_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'beer_lifetime_freq', 'beer_yr_freq', 'beer_month_freq',
           'beer_2week', 'winecool_lifetime_freq', 'winecool_yr_freq', 'winecool_month_freq',
           'winecool_2week', 'wine_lifetime_freq', 'wine_yr_freq', 'wine_month_freq',
           'wine_2week', 'liqr_lifetime_freq', 'liqr_yr_freq', 'liqr_month_freq',
           'liqr_2week', 'flvrdalc_lifetime_freq', 'flvrdalc_yr_freq', 'flvrdalc_month_freq',
           'pcp_lifetime_freq', 'pcp_yr_freq', 'pcp_month_freq', 'mdma_lifetime_freq', 
           'mdma_yr_freq', 'mdma_month_freq', 'crack_lifetime_freq', 'crack_yr_freq', 
            'crack_month_freq', 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
           'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'dietpill_lifetime_freq', 'dietpill_yr_freq', 'dietpill_month_freq',
           'staawak_lifetime_freq', 'staawak_yr_freq', 'staawak_month_freq', 'lookalik_lifetime_freq',
           'lookalik_yr_freq', 'lookalik_month_freq', 'quaa_lifetime_freq', 'quaa_yr_freq', 
           'quaa_month_freq', 'roofi_yr_freq', 'ghb_yr_freq', 'keta_yr_freq', # V264
           'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'inject_lifetime_freq', 'inject_yr_freq', 'inject_month_freq', 
           'oxy_yr_freq', 'vico_yr_freq', 'pprs_lifetime_freq', 'pprs_yr_freq', 'pprs_month_freq', 
           'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
           'creatine_yr_freq', 'coughmed_yr_freq']

cols_2008 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 'siblings', 
               'evr_smoked_cig', 'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
              'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq', 'weed_lifetime_freq', 'weed_yr_freq', 
              'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age',
           'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'evr_tobacco', 'tobacco_month_freq',
           'bidi_yr_freq', 'kreteks_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'beer_lifetime_freq', 'beer_yr_freq', 'beer_month_freq',
           'beer_2week', 'winecool_lifetime_freq', 'winecool_yr_freq', 'winecool_month_freq',
           'winecool_2week', 'wine_lifetime_freq', 'wine_yr_freq', 'wine_month_freq',
           'wine_2week', 'liqr_lifetime_freq', 'liqr_yr_freq', 'liqr_month_freq',
           'liqr_2week', 'flvrdalc_lifetime_freq', 'flvrdalc_yr_freq', 'flvrdalc_month_freq',
           'pcp_lifetime_freq', 'pcp_yr_freq', 'pcp_month_freq', 'mdma_lifetime_freq', 
           'mdma_yr_freq', 'mdma_month_freq', 'crack_lifetime_freq', 'crack_yr_freq', 
            'crack_month_freq', 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
           'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'dietpill_lifetime_freq', 'dietpill_yr_freq', 'dietpill_month_freq',
           'staawak_lifetime_freq', 'staawak_yr_freq', 'staawak_month_freq', 'lookalik_lifetime_freq',
           'lookalik_yr_freq', 'lookalik_month_freq', 'quaa_lifetime_freq', 'quaa_yr_freq', 
           'quaa_month_freq', 'roofi_yr_freq', 'ghb_yr_freq', 'keta_yr_freq', # V264
           'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'inject_lifetime_freq', 'inject_yr_freq', 'inject_month_freq', 
           'oxy_yr_freq', 'vico_yr_freq', 'pprs_lifetime_freq', 'pprs_yr_freq', 'pprs_month_freq', 
           'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
           'creatine_yr_freq', 'coughmed_yr_freq']

cols_2009 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 'siblings', 
               'evr_smoked_cig', 'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
              'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq', 'weed_lifetime_freq', 'weed_yr_freq', 
              'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age',
           'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'evr_tobacco', 'tobacco_month_freq',
           'bidi_yr_freq', 'kreteks_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'beer_lifetime_freq', 'beer_yr_freq', 'beer_month_freq',
           'beer_2week', 'winecool_lifetime_freq', 'winecool_yr_freq', 'winecool_month_freq',
           'winecool_2week', 'wine_lifetime_freq', 'wine_yr_freq', 'wine_month_freq',
           'wine_2week', 'liqr_lifetime_freq', 'liqr_yr_freq', 'liqr_month_freq',
           'liqr_2week', 'flvrdalc_lifetime_freq', 'flvrdalc_yr_freq', 'flvrdalc_month_freq',
           'pcp_lifetime_freq', 'pcp_yr_freq', 'pcp_month_freq', 'mdma_lifetime_freq', 
           'mdma_yr_freq', 'mdma_month_freq', 'crack_lifetime_freq', 'crack_yr_freq', 
            'crack_month_freq', 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
           'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'dietpill_lifetime_freq', 'dietpill_yr_freq', 'dietpill_month_freq',
           'staawak_lifetime_freq', 'staawak_yr_freq', 'staawak_month_freq', 'lookalik_lifetime_freq',
           'lookalik_yr_freq', 'lookalik_month_freq', 'quaa_lifetime_freq', 'quaa_yr_freq', 
           'quaa_month_freq', 'roofi_yr_freq', 'ghb_yr_freq', 'keta_yr_freq', # V264
           'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'inject_lifetime_freq', 'inject_yr_freq', 'inject_month_freq', 
           'oxy_yr_freq', 'vico_yr_freq', 'pprs_lifetime_freq', 'pprs_yr_freq', 'pprs_month_freq', 
           'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
           'creatine_yr_freq', 'coughmed_yr_freq', 'adderall_yr_freq', 'salvia_yr_freq', 'provigil_yr_freq']

cols_2010 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 'siblings', 
               'evr_smoked_cig', 'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
              'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq', 'weed_lifetime_freq', 'weed_yr_freq', 
              'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age',
           'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'evr_tobacco', 'tobacco_month_freq',
           'bidi_yr_freq', 'kreteks_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'beer_lifetime_freq', 'beer_yr_freq', 'beer_month_freq',
           'beer_2week', 'winecool_lifetime_freq', 'winecool_yr_freq', 'winecool_month_freq',
           'winecool_2week', 'wine_lifetime_freq', 'wine_yr_freq', 'wine_month_freq',
           'wine_2week', 'liqr_lifetime_freq', 'liqr_yr_freq', 'liqr_month_freq',
           'liqr_2week', 'flvrdalc_lifetime_freq', 'flvrdalc_yr_freq', 'flvrdalc_month_freq',
           'pcp_lifetime_freq', 'pcp_yr_freq', 'pcp_month_freq', 'mdma_lifetime_freq', 
           'mdma_yr_freq', 'mdma_month_freq', 'crack_lifetime_freq', 'crack_yr_freq', 
            'crack_month_freq', 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
           'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'dietpill_lifetime_freq', 'dietpill_yr_freq', 'dietpill_month_freq',
           'staawak_lifetime_freq', 'staawak_yr_freq', 'staawak_month_freq', 'lookalik_lifetime_freq',
           'lookalik_yr_freq', 'lookalik_month_freq', 'quaa_lifetime_freq', 'quaa_yr_freq', 
           'quaa_month_freq', 'roofi_yr_freq', 'ghb_yr_freq', 'keta_yr_freq', # V264
           'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'inject_lifetime_freq', 'inject_yr_freq', 'inject_month_freq', 
           'oxy_yr_freq', 'vico_yr_freq', 'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
           'creatine_yr_freq', 'coughmed_yr_freq', 'adderall_yr_freq', 'salvia_yr_freq', 'provigil_yr_freq',
            'hookah_yr_freq', 'smcigars_yr_freq', 'nrg_drinks_day', 'nrg_shots_day']

cols_2011 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 'siblings', 
               'evr_smoked_cig', 'cig_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount',
              'alcohol_2weeks', 'hash_lifetime_freq', 'hash_yr_freq',
              'hash_month_freq', 'weed_lifetime_freq', 'weed_yr_freq', 
              'weed_month_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
              'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq', 'age',
           'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'evr_tobacco', 'tobacco_month_freq',
           'bidi_yr_freq', 'kreteks_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'beer_lifetime_freq', 'beer_yr_freq', 'beer_month_freq',
           'beer_2week', 'winecool_lifetime_freq', 'winecool_yr_freq', 'winecool_month_freq',
           'winecool_2week', 'wine_lifetime_freq', 'wine_yr_freq', 'wine_month_freq',
           'wine_2week', 'liqr_lifetime_freq', 'liqr_yr_freq', 'liqr_month_freq',
           'liqr_2week', 'flvrdalc_lifetime_freq', 'flvrdalc_yr_freq', 'flvrdalc_month_freq',
           'pcp_lifetime_freq', 'pcp_yr_freq', 'pcp_month_freq', 'mdma_lifetime_freq', 
           'mdma_yr_freq', 'mdma_month_freq', 'crack_lifetime_freq', 'crack_yr_freq', 
            'crack_month_freq', 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
           'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'dietpill_lifetime_freq', 'dietpill_yr_freq', 'dietpill_month_freq',
           'staawak_lifetime_freq', 'staawak_yr_freq', 'staawak_month_freq', 'lookalik_lifetime_freq',
           'lookalik_yr_freq', 'lookalik_month_freq', 'quaa_lifetime_freq', 'quaa_yr_freq', 
           'quaa_month_freq', 'roofi_yr_freq', 'ghb_yr_freq', 'keta_yr_freq', # V264
           'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'inject_lifetime_freq', 'inject_yr_freq', 'inject_month_freq', 
           'oxy_yr_freq', 'vico_yr_freq', 'pprs_lifetime_freq', 'pprs_yr_freq', 'pprs_month_freq', 
           'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
           'creatine_yr_freq', 'coughmed_yr_freq']

cols_2012 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 
               'evr_smoked_cig', 'cig_month_freq', 'inhal_lifetime_freq',
              'inhal_yr_freq', 'inhal_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', # V2107
              'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
             'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq', 
             'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
             'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
             'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
             'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
             'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq',
              'keta_yr_freq', 'andro_yr_freq', 'creatine_yr_freq', 'ritalin_yr_freq', 'adderall_yr_freq',
             'oxy_yr_freq', 'vico_yr_freq', 'salvia_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
             'alc_caffeine_yr_freq', 'crack_lifetime_freq', 'crack_yr_freq', # double check this
            'crack_month_freq', 'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
             'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'coughmed_yr_freq', 
             'syn_marj_yr_freq', 'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D','V2115D',
            'V2116D', 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D',
            'V2123D', 'V2127D', 'V2128D', 'V2129D', 'V2133D', 'V2134D', 'V2135D',
            'V2136D', 'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 
            'V2143D', 'V2144D']

cols_2013 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 
               'evr_smoked_cig', 'cig_month_freq', 'inhal_lifetime_freq',
              'inhal_yr_freq', 'inhal_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', # V2107
              'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
             'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq', 
             'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
             'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
             'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
             'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
             'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq',
              'keta_yr_freq', 'andro_yr_freq', 'creatine_yr_freq', 'ritalin_yr_freq', 'adderall_yr_freq',
             'oxy_yr_freq', 'vico_yr_freq', 'salvia_yr_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
             'alc_caffeine_yr_freq', 'crack_lifetime_freq', 'crack_yr_freq', # double check this
            'crack_month_freq', 'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
             'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'coughmed_yr_freq', 
             'syn_marj_yr_freq', 'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D','V2115D',
            'V2116D', 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D',
            'V2123D', 'V2127D', 'V2128D', 'V2129D', 'V2133D', 'V2134D', 'V2135D',
            'V2136D', 'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 
            'V2143D', 'V2144D']
            
cols_2014 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 
               'evr_smoked_cig', 'cig_month_freq', 'ecig_month_freq', 'inhal_lifetime_freq',
              'inhal_yr_freq', 'inhal_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', # V2107
              'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
             'crack_lifetime_freq', 'crack_yr_freq', 'crack_month_freq', 
             'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
             'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
             'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
             'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
             'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
             'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', # V2495
              'keta_yr_freq', 'andro_yr_freq', 'creatine_yr_freq', 'ritalin_yr_freq', 'adderall_yr_freq',
             'oxy_yr_freq', 'vico_yr_freq', 'salvia_yr_freq', 'bath_salts_yr_freq',
             'lrg_cigar_month_freq', 'flvd_cigar_month_freq', 'sml_cigar_month_freq',
             'syn_marj_month_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'alc_caffeine_yr_freq', 'coke_lifetime_freq', 'coke_yr_freq', 
            'coke_month_freq', 'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
             'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'coughmed_yr_freq', 
             'syn_marj_yr_freq', 'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D','V2115D',
            'V2116D', 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D',
            'V2123D', 'V2127D', 'V2128D', 'V2129D', 'V2133D', 'V2134D', 'V2135D',
            'V2136D', 'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 
            'V2143D', 'V2144D']

cols_2015 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 
               'evr_smoked_cig', 'cig_month_freq', 'ecig_month_freq', 'inhal_lifetime_freq', # V2145
              'inhal_yr_freq', 'inhal_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', # V2107
              'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
             'crack_lifetime_freq', 'crack_yr_freq', 'crack_month_freq', 
             'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
             'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
             'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
             'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
             'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
             'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', # V2495
              'keta_yr_freq', 'andro_yr_freq', 'creatine_yr_freq', 'ritalin_yr_freq', 'adderall_yr_freq',
             'oxy_yr_freq', 'vico_yr_freq', 'salvia_yr_freq', 'bath_salts_yr_freq',
             'lrg_cigar_month_freq', 'flvd_cigar_month_freq', 'sml_cigar_month_freq', # V2549
             'syn_marj_month_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'alc_caffeine_yr_freq', 'coke_lifetime_freq', 'coke_yr_freq', 
            'coke_month_freq', 'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
             'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'coughmed_yr_freq', 
             'syn_marj_yr_freq', 'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D','V2115D',
            'V2116D', 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D',
            'V2123D', 'V2127D', 'V2128D', 'V2129D', 'V2133D', 'V2134D', 'V2135D',
            'V2136D', 'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 
            'V2143D', 'V2144D', 'vape_lifetime_freq', 'vape_month_freq', 'hash_yr_freq', 
            'hgh_yr_freq']

cols_2016 = ['CASEID', 'yr_adminst', 'form_id', 'id_serial', 'sampling_weight', 'region', 'msa', 'smsa', 
               'evr_smoked_cig', 'cig_month_freq', 'ecig_month_freq', 'inhal_lifetime_freq', # V2145
              'inhal_yr_freq', 'inhal_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
             'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', # V2107
              'alcohol_2weeks', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
             'crack_lifetime_freq', 'crack_yr_freq', 'crack_month_freq', 
             'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
             'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq',
             'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
             'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
             'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
             'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career', 'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', # V2495
              'keta_yr_freq', 'andro_yr_freq', 'creatine_yr_freq', 'ritalin_yr_freq', 'adderall_yr_freq',
             'oxy_yr_freq', 'vico_yr_freq', 'salvia_yr_freq', 'bath_salts_yr_freq',
             'lrg_cigar_month_freq', 'flvd_cigar_month_freq', 'sml_cigar_month_freq', # V2549
             'syn_marj_month_freq', 'drunk_lifetime_freq', 'drunk_yr_freq',
           'drunk_month_freq', 'alc_caffeine_yr_freq', 'pwd_alc_yr_freq', 'coke_lifetime_freq', 'coke_yr_freq', 
            'coke_month_freq', 'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
             'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'coughmed_yr_freq', 
             'syn_marj_yr_freq', 'hookah_month_freq', 'vape_lifetime_freq', 'vape_month_freq', 'hash_yr_freq', 
            'hgh_yr_freq', 'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D','V2115D',
            'V2116D', 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D',
            'V2123D', 'V2127D', 'V2128D', 'V2129D', 'V2133D', 'V2134D', 'V2135D',
            'V2136D', 'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 
            'V2143D', 'V2144D']

cols_2017 = ['CASEID', 'id_serial','yr_adminst', 'form_id', 'sampling_weight', 'region', 'msa', 'smsa',
                 'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'siblings','has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career',
               'evr_smoked_cig', 'cig_month_freq', 'ecig_month_freq',
                'lrg_cigar_month_freq', 'flvd_cigar_month_freq', 'sml_cigar_month_freq',
                 'hookah_month_freq', 'evr_vape', 'vape_lifetime_freq', 'vape_yr_freq','vape_month_freq',
                'vape_marj_lifetime_freq', 'vape_marj_yr_freq', 'vape_marj_month_freq',
                'vape_flav_lifetime_freq', 'vape_flav_yr_freq', 'vape_flav_month_freq',
                'tobacco_month_freq', 'eliq_vape_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', 'alcohol_2weeks', 
                'drunk_lifetime_freq', 'drunk_yr_freq', 'drunk_month_freq', # V2022
              'alc_caffeine_yr_freq', 'pwd_alc_yr_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'hash_yr_freq', 'syn_marj_yr_freq', 'syn_marj_month_freq',
                'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
                'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'salvia_yr_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
                'crack_lifetime_freq', 'crack_yr_freq', 'crack_month_freq',
                 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
                'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'adderall_yr_freq', 'bath_salts_yr_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq', 'keta_yr_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
                'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
                'oxy_yr_freq', 'vico_yr_freq', 'coughmed_yr_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq',
                'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
                'creatine_yr_freq', 'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D','V2115D',
            'V2116D', 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D',
            'V2123D', 'V2127D', 'V2128D', 'V2129D', 'V2133D', 'V2134D', 'V2135D',
            'V2136D', 'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 
            'V2143D', 'V2144D']

cols_2018 = ['CASEID', 'id_serial','yr_adminst', 'form_id', 'sampling_weight', 'region', 'msa', 'smsa',
                 'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'siblings','has_father', 
            'has_mother', 'has_siblings', 'father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career',
               'evr_smoked_cig', 'cig_month_freq', 'ecig_month_freq',
                'lrg_cigar_month_freq', 'flvd_cigar_month_freq', 'sml_cigar_month_freq',
                 'hookah_month_freq', 'evr_vape', 'vape_lifetime_freq', 'vape_yr_freq','vape_month_freq',
                'vape_marj_lifetime_freq', 'vape_marj_yr_freq', 'vape_marj_month_freq',
                'vape_flav_lifetime_freq', 'vape_flav_yr_freq', 'vape_flav_month_freq',
                'tobacco_month_freq', 'eliq_vape_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', 'alcohol_2weeks', 
                'drunk_lifetime_freq', 'drunk_yr_freq', 'drunk_month_freq', # V2022
              'alc_caffeine_yr_freq', 'pwd_alc_yr_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'hash_yr_freq', 'syn_marj_yr_freq', 'syn_marj_month_freq',
                'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
                'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'salvia_yr_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
                'crack_lifetime_freq', 'crack_yr_freq', 'crack_month_freq',
                 'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
                'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq', # methamph/meth??
           'ritalin_yr_freq', 'adderall_yr_freq', 'bath_salts_yr_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq', 'keta_yr_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
                'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
                'oxy_yr_freq', 'vico_yr_freq', 'coughmed_yr_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq',
                'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
                'creatine_yr_freq', 'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D','V2115D',
            'V2116D', 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D',
            'V2123D', 'V2127D', 'V2128D', 'V2129D', 'V2133D', 'V2134D', 'V2135D',
            'V2136D', 'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 
            'V2143D', 'V2144D']

cols_2019 = ['CASEID', 'id_serial','yr_adminst', 'form_id','tablet', 'sampling_weight', 'region', 'msa', 'smsa',
                 'age', 'sex', 'race_bwh', 'area_type', 'marital_status', 'has_father', 
            'has_mother', 'has_siblings', 'siblings','father_educ_lvl', 'mother_educ_lvl',
           'mother_employed', 'political_party', 'political_value_type',
           'relig_attd', 'relig_importance', 'hs_grad_yr', 'hs_type',
           'academic_self_rating', 'intelligence_self_rating', 'school_missed_illness',
           'school_missed_ditched', 'school_missed_other', 'skipped_class', 'avg_grade',
           'tech_school_after_hs', 'military_after_hs', '2yrcoll_after_hs',
           '4yrcoll_after_hs', 'gradsch_after_hs', 'desire_tech_school',
           'desire_military', 'desire_2yrcoll', 'desire_4yrcoll', 
           'desire_gradsch', 'desire_none', 'work_hrs', 'work_pay',
           'other_income', 'rec_time', 'date_freq', 'drive_freq', '12mo_r_tcktd',
           'tckts_aft_drnk', 'tckts_aft_marj', 'tckts_aft_otdg', '12mo_accidents',
           'acdts_aft_drnk', 'acdts_aft_marj', 'acdts_aft_otdg', 'mil_branch_pref',
           'mil_officer_pref', 'expect_mil_career',
               'evr_smoked_cig', 'cig_month_freq', 'lrg_cigar_month_freq', 'flvd_cigar_month_freq', 
             'sml_cigar_month_freq','hookah_month_freq','tobacco_month_freq', 'evr_drink', 'alcohol_lifetime_freq',
              'alcohol_yr_freq', 'alcohol_month_freq', 'alcohol_amount', 'alcohol_2weeks',
              'drunk_lifetime_freq', 'drunk_yr_freq', 'drunk_month_freq', # V2022
             'alc_caffeine_yr_freq', 'pwd_alc_yr_freq', 'weed_hash_lifetime_freq', 'weed_hash_yr_freq',
              'weed_hash_month_freq', 'syn_marj_yr_freq', 'hash_yr_freq',
                'lsd_lifetime_freq', 'lsd_yr_freq', 'lsd_month_freq',
              'pysd_lifetime_freq', 'pysd_yr_freq', 'pysd_month_freq',
                'mdma_lifetime_freq', 'mdma_yr_freq', 'mdma_month_freq', 'salvia_yr_freq',
              'coke_lifetime_freq', 'coke_yr_freq', 'coke_month_freq',
                'crack_lifetime_freq', 'crack_yr_freq', 'crack_month_freq',
             'othcoke_lifetime_freq', 'othcoke_yr_freq', 'othcoke_month_freq',
              'amph_lifetime_freq', 'amph_yr_freq', 'amph_month_freq', 
                'meth_lifetime_freq', 'meth_yr_freq', 'meth_month_freq',
           'ritalin_yr_freq', 'adderall_yr_freq',
              'sedbarb_lifetime_freq', 'sedbarb_yr_freq', 'sedbarb_month_freq', 'keta_yr_freq',
              'tranq_lifetime_freq', 'tranq_yr_freq', 'tranq_month_freq',
              'heroin_lifetime_freq', 'heroin_yr_freq', 'heroin_month_freq',
                'needle_lifetime_freq', 'needle_yr_freq', 'needle_month_freq', 'nnher_lifetime_freq',
           'nnher_yr_freq', 'nnher_month_freq', 
              'narcotic_lifetime_freq', 'narcotic_yr_freq', 'narcotic_month_freq',
                'oxy_yr_freq', 'vico_yr_freq', 'coughmed_yr_freq',
           'inhal_lifetime_freq', 'inhal_yr_freq', 'inhal_month_freq',
                'steroid_lifetime_freq', 'steroid_yr_freq', 'steroid_month_freq', 'andro_yr_freq',
                'creatine_yr_freq', 'evr_vape', 'vape_lifetime_freq', 'vape_yr_freq','vape_month_freq',
                'vape_marj_lifetime_freq', 'vape_marj_yr_freq', 'vape_marj_month_freq',
                'vape_flav_lifetime_freq', 'vape_flav_yr_freq', 'vape_flav_month_freq', 'randomdraw', 
                 'failed_quit_smoking', 'hard_to_quit_smoking', 'felt_addicted_smoking', 'smoke_cravings',
             'hard_not_to_smoke', 'dec_concen_smoking', 'more_irritable_smoking', 
             'feel_strng_need_smoke', 'nervous_cdnt_smoke', 'vape_brand',
             'vape_brand_2', 'oth_vape_substance', 'vape_unknown', 'pick_up_vape_freq',
             'vape_puff_freq', 'juul_lifetime_freq', 'juul_yr_freq', 'juul_month_freq',
             'guess_nic_amount', 'juul_source', 'juul_flavor', 'juul_at_school',
             'addictiveness_juul', 'addictiveness_smoking', 'addictiveness_marj',
             'addictiveness_alcohol', 'tried_stop_juul', 'hard_to_quit_juul', 'felt_addicted_juul', 
             'juul_cravings', 'hard_not_to_juul', 'dec_concen_juul', 'more_irritable_juul',
             'feel_strng_need_juul', 'nervous_cdnt_juul', 'V2101D', 'V2102D', 
             'V2104D', 'V2105D', 'V2106D','V2115D','V2116D', 'V2117D', 'V2118D', 
             'V2119D', 'V2120D', 'V2121D', 'V2122D','V2123D', 'V2127D', 'V2128D', 
             'V2129D', 'V2133D', 'V2134D', 'V2135D','V2136D', 'V2137D', 'V2138D', 
             'V2145D', 'V2146D', 'V2147D', 'V2142D', 'V2143D', 'V2144D']

In [330]:
len(cols_2019)

217

In [331]:
all_cols = [cols_1995, cols_1996, cols_1997, cols_1998, cols_1999,
            cols_2000, cols_2001, cols_2002, cols_2003,
            cols_2004, cols_2005, cols_2006, cols_2007,
            cols_2008, cols_2009, cols_2010, cols_2011, 
            cols_2012, cols_2013, cols_2014, cols_2015, cols_2016,
            cols_2017, cols_2018, cols_2019]

In [332]:
# Comparing column lists with length of df cols
i = 1995
for cols in all_cols:
    print(f'Number of columns for df #{i}, {len(cols)}')
    i += 1

Number of columns for df #1995, 111
Number of columns for df #1996, 109
Number of columns for df #1997, 108
Number of columns for df #1998, 108
Number of columns for df #1999, 108
Number of columns for df #2000, 108
Number of columns for df #2001, 108
Number of columns for df #2002, 108
Number of columns for df #2003, 108
Number of columns for df #2004, 108
Number of columns for df #2005, 184
Number of columns for df #2006, 185
Number of columns for df #2007, 185
Number of columns for df #2008, 185
Number of columns for df #2009, 188
Number of columns for df #2010, 189
Number of columns for df #2011, 185
Number of columns for df #2012, 163
Number of columns for df #2013, 163
Number of columns for df #2014, 169
Number of columns for df #2015, 173
Number of columns for df #2016, 175
Number of columns for df #2017, 184
Number of columns for df #2018, 184
Number of columns for df #2019, 217

In [333]:
all_dfs = sas_dfs + tsv_dfs

In [334]:
len(all_dfs) == (len(tsv_dfs)+ len(sas_dfs))

True

In [335]:
i = 1995
for df in all_dfs:
    print(f'Number of columns for df #{i}, {len(df.columns)}')
    i += 1

Number of columns for df #1995, 111
Number of columns for df #1996, 109
Number of columns for df #1997, 108
Number of columns for df #1998, 108
Number of columns for df #1999, 108
Number of columns for df #2000, 108
Number of columns for df #2001, 108
Number of columns for df #2002, 108
Number of columns for df #2003, 108
Number of columns for df #2004, 108
Number of columns for df #2005, 184
Number of columns for df #2006, 185
Number of columns for df #2007, 185
Number of columns for df #2008, 185
Number of columns for df #2009, 188
Number of columns for df #2010, 189
Number of columns for df #2011, 185
Number of columns for df #2012, 163
Number of columns for df #2013, 163
Number of columns for df #2014, 169
Number of columns for df #2015, 173
Number of columns for df #2016, 175
Number of columns for df #2017, 184
Number of columns for df #2018, 184
Number of columns for df #2019, 217

In [336]:
# replace column names
# yr = 1995
for i in range(len(all_dfs)):
    all_dfs[i].columns = all_cols[i]
#     all_dfs[i]['year'] = yr
#     yr += 1

In [337]:
# finding problematic region columns
# yr = 1995
# for i in range(len(all_dfs)):
#     df = all_dfs[i]
#     print(f'THIS IS DF: {yr}, \nwith NUM reg vals > 4:',len(df[df['region']>4]))
#     yr += 1

In [341]:
join95_96 = pd.concat([all_dfs[0], all_dfs[1]])

In [342]:
join97 = pd.concat([join95_96, all_dfs[2]])

In [343]:
join98 = pd.concat([join97, all_dfs[3]])

In [344]:
join99 = pd.concat([join98, all_dfs[4]])
join00 = pd.concat([join99, all_dfs[5]])
join01 = pd.concat([join00, all_dfs[6]])
join02 = pd.concat([join01, all_dfs[7]])
join03 = pd.concat([join02, all_dfs[8]])
join04 = pd.concat([join03, all_dfs[9]])

In [354]:
df_2005 = all_dfs[10].loc[:,~all_dfs[10].columns.duplicated()]

In [355]:
join05 = pd.concat([join04, df_2005])

In [356]:
join05.head()

,yr_adminst,form_id,id_serial,sampling_weight,region,msa,smsa,siblings,evr_smoked_cig,cig_month_freq,evr_drink,alcohol_lifetime_freq,alcohol_yr_freq,alcohol_month_freq,alcohol_amount,alcohol_2weeks,weed_hash_lifetime_freq,weed_hash_yr_freq,weed_hash_month_freq,lsd_lifetime_freq,lsd_yr_freq,lsd_month_freq,pysd_lifetime_freq,pysd_yr_freq,pysd_month_freq,coke_lifetime_freq,coke_yr_freq,coke_month_freq,amph_lifetime_freq,amph_yr_freq,amph_month_freq,meth_lifetime_freq,meth_yr_freq,meth_month_freq,sedbarb_lifetime_freq,sedbarb_yr_freq,sedbarb_month_freq,tranq_lifetime_freq,tranq_yr_freq,tranq_month_freq,heroin_lifetime_freq,heroin_yr_freq,heroin_month_freq,narcotic_lifetime_freq,narcotic_yr_freq,narcotic_month_freq,inhal_lifetime_freq,inhal_yr_freq,inhal_month_freq,age,sex,race_bwh,area_type,marital_status,lives_alone,has_father,has_mother,has_siblings,hshld_grandparents,hshld_spouse,hshld_children,hshld_relatives,hshld_nonrelatives,father_educ_lvl,mother_educ_lvl,mother_employed,political_party,political_value_type,relig_pref,relig_attd,relig_importance,hs_grad_yr,hs_type,academic_self_rating,intelligence_self_rating,school_missed_illness,school_missed_ditched,school_missed_other,skipped_class,avg_grade,tech_school_after_hs,military_after_hs,2yrcoll_after_hs,4yrcoll_after_hs,gradsch_after_hs,desire_tech_school,desire_military,desire_2yrcoll,desire_4yrcoll,desire_gradsch,desire_none,work_hrs,work_pay,other_income,rec_time,date_freq,drive_freq,12mo_r_tcktd,tckts_aft_drnk,tckts_aft_marj,tckts_aft_otdg,12mo_accidents,acdts_aft_drnk,acdts_aft_marj,acdts_aft_otdg,mil_branch_pref,mil_officer_pref,expect_mil_career,icpsr_study_num,icpsr_ed_num,icpsr_part_num,CASEID,hash_lifetime_freq,hash_yr_freq,hash_month_freq,weed_lifetime_freq,weed_yr_freq,weed_month_freq,evr_tobacco,tobacco_month_freq,bidi_yr_freq,kreteks_yr_freq,drunk_lifetime_freq,drunk_yr_freq,drunk_month_freq,beer_lifetime_freq,beer_yr_freq,beer_month_freq,beer_2week,winecool_lifetime_freq,winecool_yr_freq,winecool_month_freq,winecool_2week,wine_lifetime_freq,wine_yr_freq,wine_month_freq,wine_2week,liqr_lifetime_freq,liqr_yr_freq,liqr_month_freq,liqr_2week,flvrdalc_lifetime_freq,flvrdalc_yr_freq,flvrdalc_month_freq,pcp_lifetime_freq,pcp_yr_freq,pcp_month_freq,mdma_lifetime_freq,mdma_yr_freq,mdma_month_freq,crack_lifetime_freq,crack_yr_freq,crack_month_freq,othcoke_lifetime_freq,othcoke_yr_freq,othcoke_month_freq,ritalin_yr_freq,dietpill_lifetime_freq,dietpill_yr_freq,dietpill_month_freq,staawak_lifetime_freq,staawak_yr_freq,staawak_month_freq,lookalik_lifetime_freq,lookalik_yr_freq,lookalik_month_freq,quaa_lifetime_freq,quaa_yr_freq,quaa_month_freq,roofi_yr_freq,ghb_yr_freq,keta_yr_freq,needle_lifetime_freq,needle_yr_freq,needle_month_freq,nnher_lifetime_freq,nnher_yr_freq,nnher_month_freq,inject_lifetime_freq,inject_yr_freq,inject_month_freq,oxy_yr_freq,vico_yr_freq,pprs_lifetime_freq,pprs_yr_freq,pprs_month_freq,steroid_lifetime_freq,steroid_yr_freq,steroid_month_freq,andro_yr_freq,creatine_yr_freq
0,95.0,1.0,10001.0,0.6,2.0,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.0,9.0,1.0,1.0,1.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,5.0,1.0,5.397605e-79,4.000000e+00,4.0,5.397605e-79,5.397605e-79,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.0,5.0,4.0,8.0,8.0,18.0,2.0,2.0,1.0,1.0,4.0,5.0,1.0,1.0,1.0,1.0,7.0,3.0,1.0,4.0,4.0,4.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,5.397605e-79,8.0,9.0,1.0,5.0,3.0,4.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,95.0,1.0,10002.0,0.6,4.0,5.397605e-79,1.000000e+00,2.000000e+00,5.0,7.0,9.0,7.0,7.0,6.0,9.0,6.0,7.0,7.0,7.0,7.0,6.0,5.0,5.0,4.0,2.0,7.0,7.0,5.0,7.0,7.0,6.0,9.0,9.0,9.0,7.0,7.0,6.0,5.0,3.0,3.0,5.0,3.0,2.0,2.0,2.0,2.0,9.0,9.0,9.0,5.0,1.0,9.000000e+00,3.000000e+00,3.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,2.0,3.0,2.0,5.0,6.0,18.0,1.0,1.0,1.0,1.0,7.0,7.0,1.0,6.0,2.0,4.0,7.0,2.0,1.0,2.0,3.0,3.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,2.0,5.0,9.0,1.0,1.0,2.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95.0,1.0,10003.0,0.9,2.0,5.397605e-79,1.000000e+00,1.000000e+00,5.0,4.0,9.0,7.0,7.0,4.0,9.0,8.0,6.0,6.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,4.0,9.0,5.397605e-79,3.000000e+00,4.0,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,4.0,3.0,4.0,1.0,8.0,18.0,1.0,1.0,1.0,2.0,4.0,4.0,4.0,4.0,1.0,2.0,3.0,2.0,3.0,2.0,1.0,1.0,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.0,8.0,1.0,3.0,1.0,5.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,4.0,2.0,2.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,95.0,1.0,10004.0,0.6,3.0,5.397605e-79,5.397605e-79,3.000000e+00,1.0,1.0,9.0,1.0,1.0,1.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,4.0,2.0,9.000000e+00,5.397605e-79,4.0,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.0,3.0,2.0,5.0,3.0,1.0,4.0,3.0,1.0,2.0,4.0,4.0,1.0,1.0,2.0,1.0,7.0,2.0,2.0,2.0,4.0,4.0,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,6.0,7.0,1.0,2.0,2.0,2.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95.0,1.0,10005.0,0.9,2.0,1.000000e+00,1.000000e+00,5.397605e-79,1.0,1.0,9.0,1.0,1.0,1.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,4.0,1.0,9.000000e+00,3.000000e+00,4.0,5.397605e-79,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.0,6.0,3.0,6.0,8.0,2.0,4.0,4.0,1.0,1.0,4.0,4.0,1.0,1.0,1.0,1.0,3.0,4.0,9.0,1.0,4.0,4.0,1.000000e+00,5.397605e-79,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,5.0,8.0,6.0,3.0,1.0,1.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [358]:
df_2006 = all_dfs[11].loc[:,~all_dfs[11].columns.duplicated()]
df_2007 = all_dfs[12].loc[:,~all_dfs[12].columns.duplicated()]
df_2008 = all_dfs[13].loc[:,~all_dfs[13].columns.duplicated()]

In [361]:
join06 = pd.concat([join05, df_2006])

In [362]:
join07 = pd.concat([join06, df_2007])
join08 = pd.concat([join07, df_2008])

In [363]:
df_2009 = all_dfs[14].loc[:,~all_dfs[14].columns.duplicated()]
df_2010 = all_dfs[15].loc[:,~all_dfs[15].columns.duplicated()]
df_2011 = all_dfs[16].loc[:,~all_dfs[16].columns.duplicated()]

In [364]:
join09 = pd.concat([join08, df_2009])
join10 = pd.concat([join09, df_2010])
join11 = pd.concat([join10, df_2011])

In [365]:
df_2012 = all_dfs[17].loc[:,~all_dfs[17].columns.duplicated()]
df_2013 = all_dfs[18].loc[:,~all_dfs[18].columns.duplicated()]
df_2014 = all_dfs[19].loc[:,~all_dfs[19].columns.duplicated()]

In [366]:
join12 = pd.concat([join11, df_2012])
join13 = pd.concat([join12, df_2013])
join14 = pd.concat([join13, df_2014])

In [367]:
df_2015 = all_dfs[20].loc[:,~all_dfs[20].columns.duplicated()]
df_2016 = all_dfs[21].loc[:,~all_dfs[21].columns.duplicated()]
df_2017 = all_dfs[22].loc[:,~all_dfs[22].columns.duplicated()]

In [368]:
join15 = pd.concat([join14, df_2015])
join16 = pd.concat([join15, df_2016])
join17 = pd.concat([join16, df_2017])

In [370]:
join17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331595 entries, 0 to 13521
Columns: 250 entries, yr_adminst to eliq_vape_month_freq
dtypes: float64(250)
memory usage: 635.0 MB

In [371]:
len(all_dfs)

25

In [372]:
df_2018 = all_dfs[23].loc[:,~all_dfs[23].columns.duplicated()]
df_2019 = all_dfs[24].loc[:,~all_dfs[24].columns.duplicated()]

In [373]:
join18 = pd.concat([join17, df_2018])
mtf_base = pd.concat([join18, df_2019])

In [374]:
mtf_base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359810 entries, 0 to 13712
Columns: 287 entries, yr_adminst to nervous_cdnt_juul
dtypes: float64(287)
memory usage: 790.6 MB

In [375]:
mtf_base.head()

,yr_adminst,form_id,id_serial,sampling_weight,region,msa,smsa,siblings,evr_smoked_cig,cig_month_freq,evr_drink,alcohol_lifetime_freq,alcohol_yr_freq,alcohol_month_freq,alcohol_amount,alcohol_2weeks,weed_hash_lifetime_freq,weed_hash_yr_freq,weed_hash_month_freq,lsd_lifetime_freq,lsd_yr_freq,lsd_month_freq,pysd_lifetime_freq,pysd_yr_freq,pysd_month_freq,coke_lifetime_freq,coke_yr_freq,coke_month_freq,amph_lifetime_freq,amph_yr_freq,amph_month_freq,meth_lifetime_freq,meth_yr_freq,meth_month_freq,sedbarb_lifetime_freq,sedbarb_yr_freq,sedbarb_month_freq,tranq_lifetime_freq,tranq_yr_freq,tranq_month_freq,heroin_lifetime_freq,heroin_yr_freq,heroin_month_freq,narcotic_lifetime_freq,narcotic_yr_freq,narcotic_month_freq,inhal_lifetime_freq,inhal_yr_freq,inhal_month_freq,age,sex,race_bwh,area_type,marital_status,lives_alone,has_father,has_mother,has_siblings,hshld_grandparents,hshld_spouse,hshld_children,hshld_relatives,hshld_nonrelatives,father_educ_lvl,mother_educ_lvl,mother_employed,political_party,political_value_type,relig_pref,relig_attd,relig_importance,hs_grad_yr,hs_type,academic_self_rating,intelligence_self_rating,school_missed_illness,school_missed_ditched,school_missed_other,skipped_class,avg_grade,tech_school_after_hs,military_after_hs,2yrcoll_after_hs,4yrcoll_after_hs,gradsch_after_hs,desire_tech_school,desire_military,desire_2yrcoll,desire_4yrcoll,desire_gradsch,desire_none,work_hrs,work_pay,other_income,rec_time,date_freq,drive_freq,12mo_r_tcktd,tckts_aft_drnk,tckts_aft_marj,tckts_aft_otdg,12mo_accidents,acdts_aft_drnk,acdts_aft_marj,acdts_aft_otdg,mil_branch_pref,mil_officer_pref,expect_mil_career,icpsr_study_num,icpsr_ed_num,icpsr_part_num,CASEID,hash_lifetime_freq,hash_yr_freq,hash_month_freq,weed_lifetime_freq,weed_yr_freq,weed_month_freq,evr_tobacco,tobacco_month_freq,bidi_yr_freq,kreteks_yr_freq,drunk_lifetime_freq,drunk_yr_freq,drunk_month_freq,beer_lifetime_freq,beer_yr_freq,beer_month_freq,beer_2week,winecool_lifetime_freq,winecool_yr_freq,winecool_month_freq,winecool_2week,wine_lifetime_freq,wine_yr_freq,wine_month_freq,wine_2week,liqr_lifetime_freq,liqr_yr_freq,liqr_month_freq,liqr_2week,flvrdalc_lifetime_freq,flvrdalc_yr_freq,flvrdalc_month_freq,pcp_lifetime_freq,pcp_yr_freq,pcp_month_freq,mdma_lifetime_freq,mdma_yr_freq,mdma_month_freq,crack_lifetime_freq,crack_yr_freq,crack_month_freq,othcoke_lifetime_freq,othcoke_yr_freq,othcoke_month_freq,ritalin_yr_freq,dietpill_lifetime_freq,dietpill_yr_freq,dietpill_month_freq,staawak_lifetime_freq,staawak_yr_freq,staawak_month_freq,lookalik_lifetime_freq,lookalik_yr_freq,lookalik_month_freq,quaa_lifetime_freq,quaa_yr_freq,quaa_month_freq,roofi_yr_freq,ghb_yr_freq,keta_yr_freq,needle_lifetime_freq,needle_yr_freq,needle_month_freq,nnher_lifetime_freq,nnher_yr_freq,nnher_month_freq,inject_lifetime_freq,inject_yr_freq,inject_month_freq,oxy_yr_freq,vico_yr_freq,pprs_lifetime_freq,pprs_yr_freq,pprs_month_freq,steroid_lifetime_freq,steroid_yr_freq,steroid_month_freq,andro_yr_freq,creatine_yr_freq,coughmed_yr_freq,adderall_yr_freq,salvia_yr_freq,provigil_yr_freq,hookah_yr_freq,smcigars_yr_freq,nrg_drinks_day,nrg_shots_day,alc_caffeine_yr_freq,syn_marj_yr_freq,V2101D,V2102D,V2104D,V2105D,V2106D,V2115D,V2116D,V2117D,V2118D,V2119D,V2120D,V2121D,V2122D,V2123D,V2127D,V2128D,V2129D,V2133D,V2134D,V2135D,V2136D,V2137D,V2138D,V2145D,V2146D,V2147D,V2142D,V2143D,V2144D,ecig_month_freq,bath_salts_yr_freq,lrg_cigar_month_freq,flvd_cigar_month_freq,sml_cigar_month_freq,syn_marj_month_freq,vape_lifetime_freq,vape_month_freq,hgh_yr_freq,pwd_alc_yr_freq,hookah_month_freq,evr_vape,vape_yr_freq,vape_marj_lifetime_freq,vape_marj_yr_freq,vape_marj_month_freq,vape_flav_lifetime_freq,vape_flav_yr_freq,vape_flav_month_freq,eliq_vape_month_freq,tablet,randomdraw,failed_quit_smoking,hard_to_quit_smoking,felt_addicted_smoking,smoke_cravings,hard_not_to_smoke,dec_concen_smoking,more_irritable_smoking,feel_strng_need_smoke,nervous_cdnt_smoke,vape_brand,vape_brand_2,oth_vape_substance,vape_unknown,pick_up_vape_freq,vape_puff_freq,juul_lifetime_freq,juul_yr_freq,juul_month_freq,guess_nic_amount,juul_source,juul_flavor,juul_at_school,addictiveness_juul,addictiveness_smoking,addictiveness_marj,addictiveness_alcohol,tried_stop_juul,hard_to_quit_juul,felt_addicted_juul,juul_cravings,hard_not_to_juul,dec_concen_juul,more_irritable_juul,feel_strng_need_juul,nervous_cdnt_juul
0,95.0,1.0,10001.0,0.6,2.0,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.0,9.0,1.0,1.0,1.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,5.0,1.0,5.397605e-79,4.000000e+00,4.0,5.397605e-79,5.397605e-79,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.0,5.0,4.0,8.0,8.0,18.0,2.0,2.0,1.0,1.0,4.0,5.0,1.0,1.0,1.0,1.0,7.0,3.0,1.0,4.0,4.0,4.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,5.397605e-79,8.0,9.0,1.0,5.0,3.0,4.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,95.0,1.0,10002.0,0.6,4.0,5.397605e-79,1.000000e+00,2.000000e+00,5.0,7.0,9.0,7.0,7.0,6.0,9.0,6.0,7.0,7.0,7.0,7.0,6.0,5.0,5.0,4.0,2.0,7.0,7.0,5.0,7.0,7.0,6.0,9.0,9.0,9.0,7.0,7.0,6.0,5.0,3.0,3.0,5.0,3.0,2.0,2.0,2.0,2.0,9.0,9.0,9.0,5.0,1.0,9.000000e+00,3.000000e+00,3.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,2.0,3.0,2.0,5.0,6.0,18.0,1.0,1.0,1.0,1.0,7.0,7.0,1.0,6.0,2.0,4.0,7.0,2.0,1.0,2.0,3.0,3.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,2.0,5.0,9.0,1.0,1.0,2.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95.0,1.0,10003.0,0.9,2.0,5.397605e-79,1.000000e+00,1.000000e+00,5.0,4.0,9.0,7.0,7.0,4.0,9.0,8.0,6.0,6.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,4.0,9.0,5.397605e-79,3.000000e+00,4.0,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,4.0,3.0,4.0,1.0,8.0,18.0,1.0,1.0,1.0,2.0,4.0,4.0,4.0,4.0,1.0,2.0,3.0,2.0,3.0,2.0,1.0,1.0,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.0,8.0,1.0,3.0,1.0,5.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,4.0,2.0,2.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,95.0,1.0,10004.0,0.6,3.0,5.397605e-79,5.397605e-79,3.000000e+00,1.0,1.0,9.0,1.0,1.0,1.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,4.0,2.0,9.000000e+00,5.397605e-79,4.0,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.0,3.0,2.0,5.0,3.0,1.0,4.0,3.0,1.0,2.0,4.0,4.0,1.0,1.0,2.0,1.0,7.0,2.0,2.0,2.0,4.0,4.0,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,6.0,7.0,1.0,2.0,2.0,2.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95.0,1.0,10005.0,0.9,2.0,1.000000e+00,1.000000e+00,5.397605e-79,1.0,1.0,9.0,1.0,1.0,1.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,4.0,1.0,9.000000e+00,3.000000e+00,4.0,5.397605e-79,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.0,6.0,3.0,6.0,8.0,2.0,4.0,4.0,1.0,1.0,4.0,4.0,1.0,1.0,1.0,1.0,3.0,4.0,9.0,1.0,4.0,4.0,1.000000e+00,5.397605e-79,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,5.0,8.0,6.0,3.0,1.0,1.0,5.397605e-79,8.0,8.0,8.0,5.397605e-79,8.0,8.0,8.0,8.0,8.0,8.0,6716.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Relabeling Values

In [380]:
mtf_base.region.value_counts()

3.0    124943
2.0     85040
1.0     76260
4.0     73567
Name: region, dtype: int64

In [719]:
# REMOVE Columns ending in "D"

cols_to_drop = [
    # dich cols
    'V2101D', 'V2102D', 'V2104D', 'V2105D', 'V2106D', 'V2115D', 'V2116D', 
 'V2117D', 'V2118D', 'V2119D', 'V2120D', 'V2121D', 'V2122D', 'V2123D', 
'V2127D', 'V2128D', 'V2129D' , 'V2133D', 'V2134D', 'V2135D', 'V2136D',
'V2137D', 'V2138D', 'V2145D', 'V2146D', 'V2147D', 'V2142D', 'V2143D', 'V2144D',
   # serial numb cols         
   'CASEID', 'form_id', 'id_serial', 'icpsr_ed_num', 'icpsr_part_num',
    'icpsr_study_num', 'randomdraw'
    ]

mtf = mtf_base.drop(labels=cols_to_drop, axis=1)

In [409]:
# Columns in question
#########################
# -> sampling_weight - is it calculated on the same scale for each year?
    # What does it mean?

In [720]:
mtf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359810 entries, 0 to 13712
Columns: 251 entries, yr_adminst to nervous_cdnt_juul
dtypes: float64(251)
memory usage: 699.8 MB

In [724]:
for col in mtf.columns:
    print(col)

yr_adminst
sampling_weight
region
msa
smsa
siblings
evr_smoked_cig
cig_month_freq
evr_drink
alcohol_lifetime_freq
alcohol_yr_freq
alcohol_month_freq
alcohol_amount
alcohol_2weeks
weed_hash_lifetime_freq
weed_hash_yr_freq
weed_hash_month_freq
lsd_lifetime_freq
lsd_yr_freq
lsd_month_freq
pysd_lifetime_freq
pysd_yr_freq
pysd_month_freq
coke_lifetime_freq
coke_yr_freq
coke_month_freq
amph_lifetime_freq
amph_yr_freq
amph_month_freq
meth_lifetime_freq
meth_yr_freq
meth_month_freq
sedbarb_lifetime_freq
sedbarb_yr_freq
sedbarb_month_freq
tranq_lifetime_freq
tranq_yr_freq
tranq_month_freq
heroin_lifetime_freq
heroin_yr_freq
heroin_month_freq
narcotic_lifetime_freq
narcotic_yr_freq
narcotic_month_freq
inhal_lifetime_freq
inhal_yr_freq
inhal_month_freq
age
sex
race_bwh
area_type
marital_status
lives_alone
has_father
has_mother
has_siblings
hshld_grandparents
hshld_spouse
hshld_children
hshld_relatives
hshld_nonrelatives
father_educ_lvl
mother_educ_lvl
mother_employed
political_party
political_value_type
relig_pref
relig_attd
relig_importance
hs_grad_yr
hs_type
academic_self_rating
intelligence_self_rating
school_missed_illness
school_missed_ditched
school_missed_other
skipped_class
avg_grade
tech_school_after_hs
military_after_hs
2yrcoll_after_hs
4yrcoll_after_hs
gradsch_after_hs
desire_tech_school
desire_military
desire_2yrcoll
desire_4yrcoll
desire_gradsch
desire_none
work_hrs
work_pay
other_income
rec_time
date_freq
drive_freq
12mo_r_tcktd
tckts_aft_drnk
tckts_aft_marj
tckts_aft_otdg
12mo_accidents
acdts_aft_drnk
acdts_aft_marj
acdts_aft_otdg
mil_branch_pref
mil_officer_pref
expect_mil_career
hash_lifetime_freq
hash_yr_freq
hash_month_freq
weed_lifetime_freq
weed_yr_freq
weed_month_freq
evr_tobacco
tobacco_month_freq
bidi_yr_freq
kreteks_yr_freq
drunk_lifetime_freq
drunk_yr_freq
drunk_month_freq
beer_lifetime_freq
beer_yr_freq
beer_month_freq
beer_2week
winecool_lifetime_freq
winecool_yr_freq
winecool_month_freq
winecool_2week
wine_lifetime_freq
wine_yr_freq
wine_month_freq
wine_2week
liqr_lifetime_freq
liqr_yr_freq
liqr_month_freq
liqr_2week
flvrdalc_lifetime_freq
flvrdalc_yr_freq
flvrdalc_month_freq
pcp_lifetime_freq
pcp_yr_freq
pcp_month_freq
mdma_lifetime_freq
mdma_yr_freq
mdma_month_freq
crack_lifetime_freq
crack_yr_freq
crack_month_freq
othcoke_lifetime_freq
othcoke_yr_freq
othcoke_month_freq
ritalin_yr_freq
dietpill_lifetime_freq
dietpill_yr_freq
dietpill_month_freq
staawak_lifetime_freq
staawak_yr_freq
staawak_month_freq
lookalik_lifetime_freq
lookalik_yr_freq
lookalik_month_freq
quaa_lifetime_freq
quaa_yr_freq
quaa_month_freq
roofi_yr_freq
ghb_yr_freq
keta_yr_freq
needle_lifetime_freq
needle_yr_freq
needle_month_freq
nnher_lifetime_freq
nnher_yr_freq
nnher_month_freq
inject_lifetime_freq
inject_yr_freq
inject_month_freq
oxy_yr_freq
vico_yr_freq
pprs_lifetime_freq
pprs_yr_freq
pprs_month_freq
steroid_lifetime_freq
steroid_yr_freq
steroid_month_freq
andro_yr_freq
creatine_yr_freq
coughmed_yr_freq
adderall_yr_freq
salvia_yr_freq
provigil_yr_freq
hookah_yr_freq
smcigars_yr_freq
nrg_drinks_day
nrg_shots_day
alc_caffeine_yr_freq
syn_marj_yr_freq
ecig_month_freq
bath_salts_yr_freq
lrg_cigar_month_freq
flvd_cigar_month_freq
sml_cigar_month_freq
syn_marj_month_freq
vape_lifetime_freq
vape_month_freq
hgh_yr_freq
pwd_alc_yr_freq
hookah_month_freq
evr_vape
vape_yr_freq
vape_marj_lifetime_freq
vape_marj_yr_freq
vape_marj_month_freq
vape_flav_lifetime_freq
vape_flav_yr_freq
vape_flav_month_freq
eliq_vape_month_freq
tablet
failed_quit_smoking
hard_to_quit_smoking
felt_addicted_smoking
smoke_cravings
hard_not_to_smoke
dec_concen_smoking
more_irritable_smoking
feel_strng_need_smoke
nervous_cdnt_smoke
vape_brand
vape_brand_2
oth_vape_substance
vape_unknown
pick_up_vape_freq
vape_puff_freq
juul_lifetime_freq
juul_yr_freq
juul_month_freq
guess_nic_amount
juul_source
juul_flavor
juul_at_school
addictiveness_juul
addictiveness_smoking
addictiveness_marj
addictiveness_alcohol
tried_stop_juul
hard_to_quit_juul
felt_addicted_juul
juul_cravings
hard_not_to_juul
dec_concen_juul
more_irritable_juul
feel_strng_need_juul
nervous_cdnt_juul

In [722]:
yr_conds = [(mtf['yr_adminst']==95.0),(mtf['yr_adminst']==96.0),
            (mtf['yr_adminst']==97.0),(mtf['yr_adminst']==98.0),
           (mtf['yr_adminst']==1999.0), (mtf['yr_adminst']==2000.0),
           (mtf['yr_adminst']==2001.0), (mtf['yr_adminst']==2002.0),
           (mtf['yr_adminst']==2003.0), (mtf['yr_adminst']==2004.0),
           (mtf['yr_adminst']==2005.0), (mtf['yr_adminst']==2006.0),
            (mtf['yr_adminst']==2007.0), (mtf['yr_adminst']==2008.0),
            (mtf['yr_adminst']==2009.0), (mtf['yr_adminst']==2010.0),
           (mtf['yr_adminst']==2011.0), (mtf['yr_adminst']==2012.0),
           (mtf['yr_adminst']==2013.0),(mtf['yr_adminst']==2014.0),
           (mtf['yr_adminst']==2015.0),(mtf['yr_adminst']==2016.0),
           (mtf['yr_adminst']==2017.0),(mtf['yr_adminst']==2018.0),(mtf['yr_adminst']==2019.0)]

yr_labels = [i for i in range(1995,2020)]

mtf['yr_adminst'] = np.select(yr_conds, yr_labels).astype(int)

In [723]:
mtf.yr_adminst.value_counts()

1997    15963
1995    15876
1998    15780
2005    15378
2004    15222
2003    15200
2007    15132
2010    15127
2011    14855
1996    14823
2006    14814
2008    14577
2018    14502
2012    14343
2009    14268
1999    14056
2015    13730
2019    13713
2002    13544
2017    13522
2001    13304
2000    13286
2013    13180
2014    13015
2016    12600
Name: yr_adminst, dtype: int64

In [726]:
# Region
reg_conds = [(mtf['region']==1), (mtf['region']==2),
            (mtf['region']==3), (mtf['region']==4)]

reg_lbls = ['NorthEast', 'Midwest', 'South', 'West']

mtf['region'] = np.select(reg_conds, reg_lbls)

In [727]:
mtf.region.value_counts()

South        124943
Midwest       85040
NorthEast     76260
West          73567
Name: region, dtype: int64

In [728]:
mtf['msa'] = mtf['msa'].astype(int)

# Component variable, along with V17,
# for a standardized 3-category measure of population density.
# Population density is largest ("Large MSA") when V16 is coded 1 
# and V17 is coded 1, medium-sized ("Other MSA") when V16 is 
# 0 and V17 1, and smallest ("Non-MSA") when both V16 and 
# V17 are coded 0.

In [415]:
# MSA - delineated by the U.S. OMB as having at 
# least one urbanized area with a minimum population 
# of 50,000. Metropolitan statistical area (MSA) 
# is the formal definition of a region that consists 
# of a city and surrounding communities that are 
# linked by social and economic factors.

# msa_conds = [((mtf['msa']==1)&(mtf['smsa']==1)),
#             ((mtf['msa']==0)&(mtf['smsa']==1)),
#             ((mtf['msa']==0)&(mtf['smsa']==0)),
#             ((mtf['msa']==1)&(mtf['smsa']==0))]

# msa_lbls = ['Large', 'Medium', 'Non-MSA', 'Other']

# mtf['msa'] = np.select(msa_conds, msa_lbls)

In [731]:
mtf.smsa = mtf.smsa.astype(int)

In [732]:
mtf.smsa.value_counts()

1    289153
0     70657
Name: smsa, dtype: int64

In [734]:
mtf['siblings'] = mtf['siblings'].astype(int)

In [736]:
# NUMBER OF SIBLINGS
sib_conds = [(mtf['siblings']==0), (mtf['siblings']==1),
            (mtf['siblings']==2), (mtf['siblings']==3),
            ((mtf['siblings']==7)|(mtf['siblings']==-9)|(mtf['siblings']==9))]

sib_lbls = ['None', '1', '2', '3+', 'Unknown']
mtf['siblings'] = np.select(sib_conds, sib_lbls)

In [737]:
mtf.siblings.value_counts()

3+         123536
1          106867
2           89413
None        23451
Unknown     16543
Name: siblings, dtype: int64

In [739]:
mtf['evr_smoked_cig'] = mtf['evr_smoked_cig'].astype(int)

In [741]:
# EVR SMOKED CIG
esc_conds = [(mtf['evr_smoked_cig']==1), (mtf['evr_smoked_cig']==2),
            (mtf['evr_smoked_cig']==3), (mtf['evr_smoked_cig']==4),
            (mtf['evr_smoked_cig']==5), 
             ((mtf['evr_smoked_cig']==0)|(mtf['evr_smoked_cig']==-9)|(mtf['evr_smoked_cig']==9))]

esc_lbls = ['Never', '1-2x', 'Occasionally', 'Regularly in Past',
           'Regularly Now', 'Unknown']

mtf['evr_smoked_cig'] = np.select(esc_conds, esc_lbls)

In [742]:
mtf.evr_smoked_cig.value_counts()

Never                174901
1-2x                  66799
Occasionally          40370
Regularly Now         35592
Unknown               24465
Regularly in Past     17683
Name: evr_smoked_cig, dtype: int64

In [744]:
mtf['cig_month_freq'] = mtf['cig_month_freq'].astype(int)

In [746]:
# Measured in Amount per DAY

cmf_conds = [(mtf['cig_month_freq']==1), (mtf['cig_month_freq']==2),
            (mtf['cig_month_freq']==3), (mtf['cig_month_freq']==4),
            (mtf['cig_month_freq']==5),  (mtf['cig_month_freq']==6),
              (mtf['cig_month_freq']==7),
             ((mtf['cig_month_freq']==0)|(mtf['cig_month_freq']==-9)|(mtf['cig_month_freq']==9))]
cmf_lbls = ['None', '<1 Cigarettes', '1-5 Cigarettes',
            '2 Packs', '1 Pack', '1.5 Packs', '2+ Packs', 'Unknown']

mtf['cig_month_freq'] = np.select(cmf_conds, cmf_lbls)

In [747]:
mtf.cig_month_freq.value_counts()

None              270261
<1 Cigarettes      32159
1-5 Cigarettes     22822
2 Packs            12948
Unknown            11090
1 Pack              7649
1.5 Packs           1720
2+ Packs            1161
Name: cig_month_freq, dtype: int64

In [749]:
mtf['evr_drink'] = mtf['evr_drink'].astype(int)

In [751]:
ed_conds = [(mtf['evr_drink']==1), (mtf['evr_drink']==2),
           ((mtf['evr_drink']!=1)&(mtf['evr_drink']!=2))]

ed_lbls = ['No', 'Yes', 'Unknown']

mtf['evr_drink'] = np.select(ed_conds, ed_lbls)

In [752]:
mtf.evr_drink.value_counts()

Yes        199906
Unknown     84492
No          75412
Name: evr_drink, dtype: int64

In [754]:
alf_conds = [(mtf['alcohol_lifetime_freq']==1), (mtf['alcohol_lifetime_freq']==2),
            (mtf['alcohol_lifetime_freq']==3), (mtf['alcohol_lifetime_freq']==4),
            (mtf['alcohol_lifetime_freq']==5),  (mtf['alcohol_lifetime_freq']==6),
              (mtf['alcohol_lifetime_freq']==7),
             ((mtf['alcohol_lifetime_freq']==-9)|(mtf['alcohol_lifetime_freq']==9))]

alf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', '20-39X', '40+', 'Unknown']

mtf['alcohol_lifetime_freq'] = np.select(alf_conds, alf_lbls)

In [755]:
mtf.alcohol_lifetime_freq.value_counts()

0          90140
40+        69320
10-19X     39870
3-5X       35833
20-39X     34865
1-2X       34656
6-9X       31289
Unknown    23837
Name: alcohol_lifetime_freq, dtype: int64

In [757]:
ayf_conds = [(mtf['alcohol_yr_freq']==1), (mtf['alcohol_yr_freq']==2),
            (mtf['alcohol_yr_freq']==3), (mtf['alcohol_yr_freq']==4),
            (mtf['alcohol_yr_freq']==5),  (mtf['alcohol_yr_freq']==6),
              (mtf['alcohol_yr_freq']==7),
             ((mtf['alcohol_yr_freq']==-9)|(mtf['alcohol_yr_freq']==9))]

ayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', '20-39X', '40+', 'Unknown']

mtf['alcohol_yr_freq'] = np.select(ayf_conds, ayf_lbls)

In [758]:
mtf.alcohol_yr_freq.value_counts()

0          110769
1-2X        54988
3-5X        45130
10-19X      38015
6-9X        34891
40+         28992
20-39X      24320
Unknown     22705
Name: alcohol_yr_freq, dtype: int64

In [760]:
amf_conds = [(mtf['alcohol_month_freq']==1), (mtf['alcohol_month_freq']==2),
            (mtf['alcohol_month_freq']==3), (mtf['alcohol_month_freq']==4),
            (mtf['alcohol_month_freq']==5),  (mtf['alcohol_month_freq']==6),
              (mtf['alcohol_month_freq']==7),
             ((mtf['alcohol_month_freq']==-9)|(mtf['alcohol_month_freq']==9))]
amf_lbls = ['None', '<1 Cigarettes', '1-5 Cigarettes',
            '2 Packs', '1 Pack', '1.5 Packs', '2+ Packs', 'Unknown']

mtf['alcohol_month_freq'] = np.select(amf_conds, amf_lbls)

In [761]:
mtf.alcohol_month_freq.value_counts()

None              184353
<1 Cigarettes      68220
1-5 Cigarettes     38079
Unknown            22960
2 Packs            22009
1 Pack             14173
2+ Packs            5317
1.5 Packs           4699
Name: alcohol_month_freq, dtype: int64

In [763]:
mtf.alcohol_amount = mtf.alcohol_amount.astype(int)

In [765]:
aa_conds = [(mtf['alcohol_amount']==1), (mtf['alcohol_amount']==2),
            (mtf['alcohol_amount']==3), (mtf['alcohol_amount']==4),
            (mtf['alcohol_amount']==5),
             ((mtf['alcohol_amount']==-9)|(mtf['alcohol_amount']==7)|(mtf['alcohol_amount']==8)|(mtf['alcohol_amount']==0)|(mtf['alcohol_amount']==6)|(mtf['alcohol_amount']==9))]

aa_lbls = ['None', 'Few', 'Half', 'Most', 'Nearly All', 'Unknown']

mtf['alcohol_amount'] = np.select(aa_conds, aa_lbls)

In [766]:
mtf.alcohol_amount.value_counts()

Unknown       146607
None           58850
Few            56008
Most           40719
Half           30439
Nearly All     27187
Name: alcohol_amount, dtype: int64

In [768]:
mtf.alcohol_2weeks = mtf.alcohol_2weeks.astype(int)

In [770]:
a2w_conds = [(mtf['alcohol_2weeks']==1), (mtf['alcohol_2weeks']==2),
            (mtf['alcohol_2weeks']==3), (mtf['alcohol_2weeks']==4),
            (mtf['alcohol_2weeks']==5),(mtf['alcohol_2weeks']==6),
             ((mtf['alcohol_2weeks']==-9)|(mtf['alcohol_2weeks']==8)|(mtf['alcohol_2weeks']==0)|(mtf['alcohol_2weeks']==9))]

a2w_lbls = ['None', 'Once', 'Twice', '3-5X', '6-9X', '10+X', 'Unknown']

mtf['alcohol_2weeks'] = np.select(a2w_conds, a2w_lbls)

In [771]:
mtf.alcohol_2weeks.value_counts()

None       240607
Unknown     33053
Once        31844
Twice       22654
3-5X        21384
6-9X         6394
10+X         3874
Name: alcohol_2weeks, dtype: int64

In [773]:
whl_conds = [(mtf['weed_hash_lifetime_freq']==1), (mtf['weed_hash_lifetime_freq']==2),
            (mtf['weed_hash_lifetime_freq']==3), (mtf['weed_hash_lifetime_freq']==4),
            (mtf['weed_hash_lifetime_freq']==5),(mtf['weed_hash_lifetime_freq']==6),(mtf['weed_hash_lifetime_freq']==7),
             ((mtf['weed_hash_lifetime_freq']==-9)|(mtf['weed_hash_lifetime_freq']==9))]

whl_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['weed_hash_lifetime_freq'] = np.select(whl_conds, whl_lbls)

In [774]:
mtf.weed_hash_lifetime_freq.value_counts()

0          182906
40+         50388
1-2X        31931
Unknown     25690
3-5X        20913
10-19X      17741
20-39X      15465
6-9X        14776
Name: weed_hash_lifetime_freq, dtype: int64

In [776]:
why_conds = [(mtf['weed_hash_yr_freq']==1), (mtf['weed_hash_yr_freq']==2),
            (mtf['weed_hash_yr_freq']==3), (mtf['weed_hash_yr_freq']==4),
            (mtf['weed_hash_yr_freq']==5),(mtf['weed_hash_yr_freq']==6),(mtf['weed_hash_yr_freq']==7),
             ((mtf['weed_hash_yr_freq']==-9)|(mtf['weed_hash_yr_freq']==9))]

why_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['weed_hash_yr_freq'] = np.select(why_conds, why_lbls)

In [777]:
mtf.weed_hash_yr_freq.value_counts()

0          218663
1-2X        33509
40+         31155
3-5X        20069
Unknown     16921
10-19X      14507
6-9X        13689
20-39X      11297
Name: weed_hash_yr_freq, dtype: int64

In [779]:
whm_conds = [(mtf['weed_hash_month_freq']==1), (mtf['weed_hash_month_freq']==2),
            (mtf['weed_hash_month_freq']==3), (mtf['weed_hash_month_freq']==4),
            (mtf['weed_hash_month_freq']==5),(mtf['weed_hash_month_freq']==6),(mtf['weed_hash_month_freq']==7),
             ((mtf['weed_hash_month_freq']==-9)|(mtf['weed_hash_month_freq']==9))]

whm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['weed_hash_month_freq'] = np.select(whm_conds, whm_lbls)

In [780]:
mtf.weed_hash_month_freq.value_counts()

0          265641
1-2X        26123
Unknown     17082
40+         12738
3-5X        12546
10-19X       9521
6-9X         8359
20-39X       7800
Name: weed_hash_month_freq, dtype: int64

In [782]:
ll_conds = [(mtf['lsd_lifetime_freq']==1), (mtf['lsd_lifetime_freq']==2),
            (mtf['lsd_lifetime_freq']==3), (mtf['lsd_lifetime_freq']==4),
            (mtf['lsd_lifetime_freq']==5),(mtf['lsd_lifetime_freq']==6),(mtf['lsd_lifetime_freq']==7),
             ((mtf['lsd_lifetime_freq']==-9)|(mtf['lsd_lifetime_freq']==9))]

ll_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['lsd_lifetime_freq'] = np.select(ll_conds, ll_lbls)

In [783]:
mtf.lsd_lifetime_freq.value_counts()

0          311694
Unknown     25113
1-2X        11127
3-5X         4289
6-9X         2575
10-19X       2132
40+          1627
20-39X       1253
Name: lsd_lifetime_freq, dtype: int64

In [787]:
ly_conds = [(mtf['lsd_yr_freq']==1), (mtf['lsd_yr_freq']==2),
            (mtf['lsd_yr_freq']==3), (mtf['lsd_yr_freq']==4),
            (mtf['lsd_yr_freq']==5),(mtf['lsd_yr_freq']==6),(mtf['lsd_yr_freq']==7),
             ((mtf['lsd_yr_freq']==-9)|(mtf['lsd_yr_freq']==9))]

ly_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['lsd_yr_freq'] = np.select(ly_conds, ly_lbls)

In [788]:
mtf.lsd_yr_freq.value_counts()

0          320517
Unknown     25154
1-2X         8005
3-5X         2773
6-9X         1451
10-19X        925
40+           541
20-39X        444
Name: lsd_yr_freq, dtype: int64

In [789]:
lm_conds = [(mtf['lsd_month_freq']==1), (mtf['lsd_month_freq']==2),
            (mtf['lsd_month_freq']==3), (mtf['lsd_month_freq']==4),
            (mtf['lsd_month_freq']==5),(mtf['lsd_month_freq']==6),(mtf['lsd_month_freq']==7),
             ((mtf['lsd_month_freq']==-9)|(mtf['lsd_month_freq']==9))]

lm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['lsd_month_freq'] = np.select(lm_conds, lm_lbls)

In [790]:
mtf.lsd_month_freq.value_counts()

0          329544
Unknown     25186
1-2X         3306
3-5X          786
6-9X          408
40+           271
10-19X        216
20-39X         93
Name: lsd_month_freq, dtype: int64

In [792]:
pl_conds = [(mtf['pysd_lifetime_freq']==1), (mtf['pysd_lifetime_freq']==2),
            (mtf['pysd_lifetime_freq']==3), (mtf['pysd_lifetime_freq']==4),
            (mtf['pysd_lifetime_freq']==5),(mtf['pysd_lifetime_freq']==6),(mtf['pysd_lifetime_freq']==7),
             ((mtf['pysd_lifetime_freq']==-9)|(mtf['pysd_lifetime_freq']==9))]

pl_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pysd_lifetime_freq'] = np.select(pl_conds, pl_lbls)

In [793]:
mtf.pysd_lifetime_freq.value_counts()

0          310539
Unknown     26351
1-2X        12587
3-5X         4702
6-9X         2228
10-19X       1588
40+          1071
20-39X        744
Name: pysd_lifetime_freq, dtype: int64

In [794]:
py_conds = [(mtf['pysd_yr_freq']==1), (mtf['pysd_yr_freq']==2),
            (mtf['pysd_yr_freq']==3), (mtf['pysd_yr_freq']==4),
            (mtf['pysd_yr_freq']==5),(mtf['pysd_yr_freq']==6),(mtf['pysd_yr_freq']==7),
             ((mtf['pysd_yr_freq']==-9)|(mtf['pysd_yr_freq']==9))]

py_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pysd_yr_freq'] = np.select(py_conds, py_lbls)

In [795]:
mtf.pysd_yr_freq.value_counts()

0          319079
Unknown     26417
1-2X         9160
3-5X         2690
6-9X         1146
10-19X        621
40+           409
20-39X        288
Name: pysd_yr_freq, dtype: int64

In [796]:
pm_conds = [(mtf['pysd_month_freq']==1), (mtf['pysd_month_freq']==2),
            (mtf['pysd_month_freq']==3), (mtf['pysd_month_freq']==4),
            (mtf['pysd_month_freq']==5),(mtf['pysd_month_freq']==6),(mtf['pysd_month_freq']==7),
             ((mtf['pysd_month_freq']==-9)|(mtf['pysd_month_freq']==9))]

pm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pysd_month_freq'] = np.select(pm_conds, pm_lbls)

In [797]:
mtf.pysd_month_freq.value_counts()

0          328614
Unknown     26490
1-2X         3258
3-5X          683
6-9X          321
40+           229
10-19X        158
20-39X         57
Name: pysd_month_freq, dtype: int64

In [798]:
cl_conds = [(mtf['coke_lifetime_freq']==1), (mtf['coke_lifetime_freq']==2),
            (mtf['coke_lifetime_freq']==3), (mtf['coke_lifetime_freq']==4),
            (mtf['coke_lifetime_freq']==5),(mtf['coke_lifetime_freq']==6),(mtf['coke_lifetime_freq']==7),
             ((mtf['coke_lifetime_freq']==-9)|(mtf['coke_lifetime_freq']==9))]

cl_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['coke_lifetime_freq'] = np.select(cl_conds, cl_lbls)

In [799]:
mtf.coke_lifetime_freq.value_counts()

0          320785
Unknown     17765
1-2X         9038
3-5X         4140
40+          2721
10-19X       2072
6-9X         1980
20-39X       1309
Name: coke_lifetime_freq, dtype: int64

In [800]:
cy_conds = [(mtf['coke_yr_freq']==1), (mtf['coke_yr_freq']==2),
            (mtf['coke_yr_freq']==3), (mtf['coke_yr_freq']==4),
            (mtf['coke_yr_freq']==5),(mtf['coke_yr_freq']==6),(mtf['coke_yr_freq']==7),
             ((mtf['coke_yr_freq']==-9)|(mtf['coke_yr_freq']==9))]

cy_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['coke_yr_freq'] = np.select(cy_conds, cy_lbls)

In [801]:
mtf.coke_yr_freq.value_counts()

0          328702
Unknown     17766
1-2X         5704
3-5X         2743
6-9X         1470
10-19X       1445
40+          1230
20-39X        750
Name: coke_yr_freq, dtype: int64

In [802]:
cm_conds = [(mtf['coke_month_freq']==1), (mtf['coke_month_freq']==2),
            (mtf['coke_month_freq']==3), (mtf['coke_month_freq']==4),
            (mtf['coke_month_freq']==5),(mtf['coke_month_freq']==6),(mtf['coke_month_freq']==7),
             ((mtf['coke_month_freq']==-9)|(mtf['coke_month_freq']==9))]

cm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['coke_month_freq'] = np.select(cm_conds, cm_lbls)

In [803]:
mtf.coke_month_freq.value_counts()

0          336232
Unknown     17817
1-2X         2799
3-5X         1274
6-9X          598
10-19X        510
40+           412
20-39X        168
Name: coke_month_freq, dtype: int64

In [804]:
aml_conds = [(mtf['amph_lifetime_freq']==1), (mtf['amph_lifetime_freq']==2),
            (mtf['amph_lifetime_freq']==3), (mtf['amph_lifetime_freq']==4),
            (mtf['amph_lifetime_freq']==5),(mtf['amph_lifetime_freq']==6),(mtf['amph_lifetime_freq']==7),
             ((mtf['amph_lifetime_freq']==-9)|(mtf['amph_lifetime_freq']==9))]

aml_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['amph_lifetime_freq'] = np.select(aml_conds, aml_lbls)

In [805]:
mtf.amph_lifetime_freq.value_counts()

0          297795
Unknown     19499
1-2X        16430
3-5X         8126
6-9X         5089
40+          5086
10-19X       4717
20-39X       3068
Name: amph_lifetime_freq, dtype: int64

In [806]:
amy_conds = [(mtf['amph_yr_freq']==1), (mtf['amph_yr_freq']==2),
            (mtf['amph_yr_freq']==3), (mtf['amph_yr_freq']==4),
            (mtf['amph_yr_freq']==5),(mtf['amph_yr_freq']==6),(mtf['amph_yr_freq']==7),
             ((mtf['amph_yr_freq']==-9)|(mtf['amph_yr_freq']==9))]

amy_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['amph_yr_freq'] = np.select(amy_conds, amy_lbls)

In [807]:
mtf.amph_yr_freq.value_counts()

0          312418
Unknown     19556
1-2X        12330
3-5X         5485
6-9X         3462
10-19X       2910
40+          1953
20-39X       1696
Name: amph_yr_freq, dtype: int64

In [808]:
amm_conds = [(mtf['amph_month_freq']==1), (mtf['amph_month_freq']==2),
            (mtf['amph_month_freq']==3), (mtf['amph_month_freq']==4),
            (mtf['amph_month_freq']==5),(mtf['amph_month_freq']==6),(mtf['amph_month_freq']==7),
             ((mtf['amph_month_freq']==-9)|(mtf['amph_month_freq']==9))]

amm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['amph_month_freq'] = np.select(amm_conds, amm_lbls)

In [809]:
mtf.amph_month_freq.value_counts()

0          327439
Unknown     19686
1-2X         6589
3-5X         2471
6-9X         1448
10-19X       1099
20-39X        589
40+           489
Name: amph_month_freq, dtype: int64

In [812]:
mtf.meth_lifetime_freq.fillna(value=-9, inplace=True)

In [813]:
mtf.meth_lifetime_freq = mtf.meth_lifetime_freq.astype(int)

In [816]:
mel_conds = [(mtf['meth_lifetime_freq']==1), (mtf['meth_lifetime_freq']==2),
            (mtf['meth_lifetime_freq']==3), (mtf['meth_lifetime_freq']==4),
            (mtf['meth_lifetime_freq']==5),(mtf['meth_lifetime_freq']==6),(mtf['meth_lifetime_freq']==7),
             ((mtf['meth_lifetime_freq']==-9)|(mtf['meth_lifetime_freq']==0)|(mtf['meth_lifetime_freq']==9))]

mel_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['meth_lifetime_freq'] = np.select(mel_conds, mel_lbls)

In [817]:
mtf.meth_lifetime_freq.value_counts()

Unknown    228049
0          126633
1-2X         2471
3-5X          870
40+           553
6-9X          517
10-19X        443
20-39X        274
Name: meth_lifetime_freq, dtype: int64

In [818]:
mtf.meth_yr_freq.fillna(value=-9, inplace=True)

In [819]:
mtf.meth_yr_freq = mtf.meth_yr_freq.astype(int)

In [821]:
mey_conds = [(mtf['meth_yr_freq']==1), (mtf['meth_yr_freq']==2),
            (mtf['meth_yr_freq']==3), (mtf['meth_yr_freq']==4),
            (mtf['meth_yr_freq']==5),(mtf['meth_yr_freq']==6),(mtf['meth_yr_freq']==7),
             ((mtf['meth_yr_freq']==-9)|(mtf['meth_yr_freq']==9)|(mtf['meth_yr_freq']==0))]

mey_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['meth_yr_freq'] = np.select(mey_conds, mey_lbls)

In [822]:
mtf.meth_yr_freq.value_counts()

Unknown    228360
0          128507
1-2X         1417
3-5X          543
6-9X          350
10-19X        272
40+           218
20-39X        143
Name: meth_yr_freq, dtype: int64

In [823]:
mtf.meth_month_freq.fillna(value=-9, inplace=True)

In [824]:
mtf.meth_month_freq = mtf.meth_month_freq.astype(int)

In [826]:
mem_conds = [(mtf['meth_month_freq']==1), (mtf['meth_month_freq']==2),
            (mtf['meth_month_freq']==3), (mtf['meth_month_freq']==4),
            (mtf['meth_month_freq']==5),(mtf['meth_month_freq']==6),(mtf['meth_month_freq']==7),
             ((mtf['meth_month_freq']==-9)|(mtf['meth_month_freq']==9)|(mtf['meth_month_freq']==0))]

mem_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['meth_month_freq'] = np.select(mem_conds, mem_lbls)

In [827]:
mtf.meth_month_freq.value_counts()

Unknown    228414
0          130130
1-2X          646
3-5X          225
6-9X          165
10-19X        105
40+            83
20-39X         42
Name: meth_month_freq, dtype: int64

In [829]:
sbl_conds = [(mtf['sedbarb_lifetime_freq']==1), (mtf['sedbarb_lifetime_freq']==2),
            (mtf['sedbarb_lifetime_freq']==3), (mtf['sedbarb_lifetime_freq']==4),
            (mtf['sedbarb_lifetime_freq']==5),(mtf['sedbarb_lifetime_freq']==6),(mtf['sedbarb_lifetime_freq']==7),
             ((mtf['sedbarb_lifetime_freq']==-9)|(mtf['sedbarb_lifetime_freq']==9))]

sbl_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['sedbarb_lifetime_freq'] = np.select(sbl_conds, sbl_lbls)

In [830]:
mtf.sedbarb_lifetime_freq.value_counts()

0          302820
Unknown     30290
1-2X        10711
3-5X         5352
6-9X         3225
10-19X       2873
40+          2769
20-39X       1770
Name: sedbarb_lifetime_freq, dtype: int64

In [831]:
sby_conds = [(mtf['sedbarb_yr_freq']==1), (mtf['sedbarb_yr_freq']==2),
            (mtf['sedbarb_yr_freq']==3), (mtf['sedbarb_yr_freq']==4),
            (mtf['sedbarb_yr_freq']==5),(mtf['sedbarb_yr_freq']==6),(mtf['sedbarb_yr_freq']==7),
             ((mtf['sedbarb_yr_freq']==-9)|(mtf['sedbarb_yr_freq']==9))]

sby_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['sedbarb_yr_freq'] = np.select(sby_conds, sby_lbls)

In [832]:
mtf.sedbarb_yr_freq.value_counts()

0          311641
Unknown     30300
1-2X         8285
3-5X         3585
6-9X         2280
10-19X       1816
40+           962
20-39X        941
Name: sedbarb_yr_freq, dtype: int64

In [833]:
sbm_conds = [(mtf['sedbarb_month_freq']==1), (mtf['sedbarb_month_freq']==2),
            (mtf['sedbarb_month_freq']==3), (mtf['sedbarb_month_freq']==4),
            (mtf['sedbarb_month_freq']==5),(mtf['sedbarb_month_freq']==6),(mtf['sedbarb_month_freq']==7),
             ((mtf['sedbarb_month_freq']==-9)|(mtf['sedbarb_month_freq']==9))]

sbm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['sedbarb_month_freq'] = np.select(sbm_conds, sbm_lbls)

In [834]:
mtf.sedbarb_month_freq.value_counts()

0          321035
Unknown     30362
1-2X         4632
3-5X         1752
6-9X          990
10-19X        618
20-39X        226
40+           195
Name: sedbarb_month_freq, dtype: int64

In [835]:
trl_conds = [(mtf['tranq_lifetime_freq']==1), (mtf['tranq_lifetime_freq']==2),
            (mtf['tranq_lifetime_freq']==3), (mtf['tranq_lifetime_freq']==4),
            (mtf['tranq_lifetime_freq']==5),(mtf['tranq_lifetime_freq']==6),(mtf['tranq_lifetime_freq']==7),
             ((mtf['tranq_lifetime_freq']==-9)|(mtf['tranq_lifetime_freq']==9))]

trl_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['tranq_lifetime_freq'] = np.select(trl_conds, trl_lbls)

In [836]:
mtf.tranq_lifetime_freq.value_counts()

0          314656
Unknown     16271
1-2X        12831
3-5X         5697
6-9X         3197
10-19X       2881
40+          2535
20-39X       1742
Name: tranq_lifetime_freq, dtype: int64

In [837]:
try_conds = [(mtf['tranq_yr_freq']==1), (mtf['tranq_yr_freq']==2),
            (mtf['tranq_yr_freq']==3), (mtf['tranq_yr_freq']==4),
            (mtf['tranq_yr_freq']==5),(mtf['tranq_yr_freq']==6),(mtf['tranq_yr_freq']==7),
             ((mtf['tranq_yr_freq']==-9)|(mtf['tranq_yr_freq']==9))]

try_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['tranq_yr_freq'] = np.select(try_conds, try_lbls)

In [838]:
mtf.tranq_yr_freq.value_counts()

0          324712
Unknown     16288
1-2X         9278
3-5X         3747
6-9X         2297
10-19X       1698
40+           898
20-39X        892
Name: tranq_yr_freq, dtype: int64

In [839]:
trm_conds = [(mtf['tranq_month_freq']==1), (mtf['tranq_month_freq']==2),
            (mtf['tranq_month_freq']==3), (mtf['tranq_month_freq']==4),
            (mtf['tranq_month_freq']==5),(mtf['tranq_month_freq']==6),(mtf['tranq_month_freq']==7),
             ((mtf['tranq_month_freq']==-9)|(mtf['tranq_month_freq']==9))]

trm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['tranq_month_freq'] = np.select(trm_conds, trm_lbls)

In [840]:
mtf.tranq_month_freq.value_counts()

0          335532
Unknown     16390
1-2X         4492
3-5X         1585
6-9X          890
10-19X        526
40+           203
20-39X        192
Name: tranq_month_freq, dtype: int64

In [841]:
hel_conds = [(mtf['heroin_lifetime_freq']==1), (mtf['heroin_lifetime_freq']==2),
            (mtf['heroin_lifetime_freq']==3), (mtf['heroin_lifetime_freq']==4),
            (mtf['heroin_lifetime_freq']==5),(mtf['heroin_lifetime_freq']==6),(mtf['heroin_lifetime_freq']==7),
             ((mtf['heroin_lifetime_freq']==-9)|(mtf['heroin_lifetime_freq']==9))]

hel_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['heroin_lifetime_freq'] = np.select(hel_conds, hel_lbls)

In [842]:
mtf.heroin_lifetime_freq.value_counts()

0          338818
Unknown     16202
1-2X         2270
3-5X          797
40+           717
6-9X          394
10-19X        393
20-39X        219
Name: heroin_lifetime_freq, dtype: int64

In [843]:
hey_conds = [(mtf['heroin_yr_freq']==1), (mtf['heroin_yr_freq']==2),
            (mtf['heroin_yr_freq']==3), (mtf['heroin_yr_freq']==4),
            (mtf['heroin_yr_freq']==5),(mtf['heroin_yr_freq']==6),(mtf['heroin_yr_freq']==7),
             ((mtf['heroin_yr_freq']==-9)|(mtf['heroin_yr_freq']==9))]

hey_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['heroin_yr_freq'] = np.select(hey_conds, hey_lbls)

In [844]:
mtf.heroin_yr_freq.value_counts()

0          340901
Unknown     16131
1-2X         1189
3-5X          494
40+           362
6-9X          297
10-19X        267
20-39X        169
Name: heroin_yr_freq, dtype: int64

In [845]:
hem_conds = [(mtf['heroin_month_freq']==1), (mtf['heroin_month_freq']==2),
            (mtf['heroin_month_freq']==3), (mtf['heroin_month_freq']==4),
            (mtf['heroin_month_freq']==5),(mtf['heroin_month_freq']==6),(mtf['heroin_month_freq']==7),
             ((mtf['heroin_month_freq']==-9)|(mtf['heroin_month_freq']==9))]

hem_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['heroin_month_freq'] = np.select(hem_conds, hem_lbls)

In [846]:
mtf.heroin_month_freq.value_counts()

0          342164
Unknown     16149
1-2X          572
3-5X          276
40+           226
6-9X          183
10-19X        181
20-39X         59
Name: heroin_month_freq, dtype: int64

In [847]:
nal_conds = [(mtf['narcotic_lifetime_freq']==1), (mtf['narcotic_lifetime_freq']==2),
            (mtf['narcotic_lifetime_freq']==3), (mtf['narcotic_lifetime_freq']==4),
            (mtf['narcotic_lifetime_freq']==5),(mtf['narcotic_lifetime_freq']==6),(mtf['narcotic_lifetime_freq']==7),
             ((mtf['narcotic_lifetime_freq']==-9)|(mtf['narcotic_lifetime_freq']==9))]

nal_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['narcotic_lifetime_freq'] = np.select(nal_conds, nal_lbls)

In [848]:
mtf.narcotic_lifetime_freq.value_counts()

0          299830
Unknown     26343
1-2X        13623
3-5X         6863
6-9X         3988
10-19X       3616
40+          3354
20-39X       2193
Name: narcotic_lifetime_freq, dtype: int64

In [849]:
nay_conds = [(mtf['narcotic_yr_freq']==1), (mtf['narcotic_yr_freq']==2),
            (mtf['narcotic_yr_freq']==3), (mtf['narcotic_yr_freq']==4),
            (mtf['narcotic_yr_freq']==5),(mtf['narcotic_yr_freq']==6),(mtf['narcotic_yr_freq']==7),
             ((mtf['narcotic_yr_freq']==-9)|(mtf['narcotic_yr_freq']==9))]

nay_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['narcotic_yr_freq'] = np.select(nay_conds, nay_lbls)

In [850]:
mtf.narcotic_yr_freq.value_counts()

0          310991
Unknown     26371
1-2X        10362
3-5X         4631
6-9X         2813
10-19X       2211
40+          1286
20-39X       1145
Name: narcotic_yr_freq, dtype: int64

In [851]:
nam_conds = [(mtf['narcotic_month_freq']==1), (mtf['narcotic_month_freq']==2),
            (mtf['narcotic_month_freq']==3), (mtf['narcotic_month_freq']==4),
            (mtf['narcotic_month_freq']==5),(mtf['narcotic_month_freq']==6),(mtf['narcotic_month_freq']==7),
             ((mtf['narcotic_month_freq']==-9)|(mtf['narcotic_month_freq']==9))]

nam_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['narcotic_month_freq'] = np.select(nam_conds, nam_lbls)

In [852]:
mtf.narcotic_month_freq.value_counts()

0          324241
Unknown     26504
1-2X         4937
3-5X         1866
6-9X         1016
10-19X        684
40+           319
20-39X        243
Name: narcotic_month_freq, dtype: int64

In [853]:
inl_conds = [(mtf['inhal_lifetime_freq']==1), (mtf['inhal_lifetime_freq']==2),
            (mtf['inhal_lifetime_freq']==3), (mtf['inhal_lifetime_freq']==4),
            (mtf['inhal_lifetime_freq']==5),(mtf['inhal_lifetime_freq']==6),(mtf['inhal_lifetime_freq']==7),
             ((mtf['inhal_lifetime_freq']==-9)|(mtf['inhal_lifetime_freq']==9))]

inl_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['inhal_lifetime_freq'] = np.select(inl_conds, inl_lbls)

In [854]:
mtf.inhal_lifetime_freq.value_counts()

0          171238
Unknown    167511
1-2X        11242
3-5X         3990
6-9X         2017
10-19X       1704
40+          1294
20-39X        814
Name: inhal_lifetime_freq, dtype: int64

In [855]:
iny_conds = [(mtf['inhal_yr_freq']==1), (mtf['inhal_yr_freq']==2),
            (mtf['inhal_yr_freq']==3), (mtf['inhal_yr_freq']==4),
            (mtf['inhal_yr_freq']==5),(mtf['inhal_yr_freq']==6),(mtf['inhal_yr_freq']==7),
             ((mtf['inhal_yr_freq']==-9)|(mtf['inhal_yr_freq']==9))]

iny_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['inhal_yr_freq'] = np.select(iny_conds, iny_lbls)

In [856]:
mtf.inhal_yr_freq.value_counts()

0          183765
Unknown    167594
1-2X         4503
3-5X         1640
6-9X          941
10-19X        649
40+           405
20-39X        313
Name: inhal_yr_freq, dtype: int64

In [857]:
inm_conds = [(mtf['inhal_month_freq']==1), (mtf['inhal_month_freq']==2),
            (mtf['inhal_month_freq']==3), (mtf['inhal_month_freq']==4),
            (mtf['inhal_month_freq']==5),(mtf['inhal_month_freq']==6),(mtf['inhal_month_freq']==7),
             ((mtf['inhal_month_freq']==-9)|(mtf['inhal_month_freq']==9))]

inm_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['inhal_month_freq'] = np.select(inm_conds, inm_lbls)

In [858]:
mtf.inhal_month_freq.value_counts()

0          188983
Unknown    167659
1-2X         1846
3-5X          576
6-9X          304
10-19X        191
40+           170
20-39X         81
Name: inhal_month_freq, dtype: int64

In [859]:
mtf.age = mtf.age.astype(int)

In [861]:
age_conds = [(mtf['age']==1), (mtf['age']==2),
           ((mtf['age']!=1)&(mtf['age']!=2))]

age_lbls = ['< 18', '18+', 'Unknown']

mtf['age'] = np.select(age_conds, age_lbls)

In [862]:
mtf.age.value_counts()

18+        168532
< 18       137913
Unknown     53365
Name: age, dtype: int64

In [863]:
mtf.sex = mtf.sex.astype(int)

In [865]:
sex_conds = [(mtf['sex']==1), (mtf['sex']==2),
           ((mtf['sex']!=1)&(mtf['sex']!=2))]

sex_lbls = ['Male', 'Female', 'Unknown']

mtf['sex'] = np.select(sex_conds, sex_lbls)

In [866]:
mtf.sex.value_counts()

Female     166983
Male       159871
Unknown     32956
Name: sex, dtype: int64

In [ ]:
# already ran
mtf.race_bwh = mtf.race_bwh.astype(int)

In [887]:
# 2005 changed from B/W to B/W/H
race_conds = [((mtf['yr_adminst']<2005)&(mtf['race_bwh']==0)), 
              ((mtf['yr_adminst']<2005)&(mtf['race_bwh']==1)), 
            ((mtf['yr_adminst']<2005)&(mtf['race_bwh']!=0)&(mtf['race_bwh']!=1)), 
             ((mtf['yr_adminst']>=2005)&(mtf['race_bwh']==1)),
             ((mtf['yr_adminst']>=2005)&(mtf['race_bwh']==2)),
             ((mtf['yr_adminst']>=2005)&(mtf['race_bwh']==3)),
             ((mtf['yr_adminst']>=2005)&(mtf['race_bwh']!=1)&(mtf['race_bwh']!=2)&(mtf['race_bwh']!=3))]

race_lbls = ['White', 'Black', 'Unknown', 'Black', 'White', 'Hispanic', 'Unknown']

mtf['race_bwh'] = np.select(race_conds, race_lbls)

In [888]:
mtf['race_bwh'].value_counts()

White       200615
Unknown      82670
Black        45746
Hispanic     30779
Name: race_bwh, dtype: int64

In [889]:
mtf.area_type = mtf.area_type.astype(int)

In [891]:
area_conds = [(mtf['area_type']==1), (mtf['area_type']==2),
            (mtf['area_type']==3), (mtf['area_type']==4),
            (mtf['area_type']==5),(mtf['area_type']==6),(mtf['area_type']==7),
            (mtf['area_type']==8), (mtf['area_type']==9),
             ((mtf['area_type']==0)|(mtf['area_type']==-9))]

area_lbls = ['Farm', 'Country', 'Small Town', 'Medium City',
             'Suburb of Medium City', 'Large City', 
             'Suburb of Large City', 'City >500,000 (Vry Large)',
             'Suburb of Vry Lrg City', 'Unknown']

mtf['area_type'] = np.select(area_conds, area_lbls)

In [892]:
mtf.area_type.value_counts()

Small Town                   84484
Medium City                  44126
Unknown                      42189
Country                      40570
Large City                   34688
Suburb of Medium City        33274
Suburb of Large City         25324
City >500,000 (Vry Large)    20938
Farm                         18503
Suburb of Vry Lrg City       15714
Name: area_type, dtype: int64

In [893]:
mtf.marital_status = mtf.marital_status.astype(int)

In [895]:
mar_conds = [(mtf['marital_status']==1), (mtf['marital_status']==2),
            (mtf['marital_status']==3), (mtf['marital_status']==4),
             ((mtf['marital_status']==0)|(mtf['marital_status']==-9)|(mtf['marital_status']==9))]

mar_lbls = ['Married', 'Engaged', 'Separated/Divorced', 'Single', 'Unknown']

mtf.marital_status = np.select(mar_conds, mar_lbls)

In [896]:
mtf.marital_status.value_counts()

Single                300365
Engaged                21022
Unknown                18101
Married                16066
Separated/Divorced      4256
Name: marital_status, dtype: int64

In [898]:
mtf.lives_alone = mtf.lives_alone.fillna(value=-9)

In [899]:
mtf.lives_alone = mtf.lives_alone.astype(int)

In [903]:
alone_conds = [(mtf['lives_alone']==0), (mtf['lives_alone']==1),
               ((mtf['lives_alone']!=0)&(mtf['lives_alone']!=1))]

alone_lbls = ['No', 'Yes', 'Unknown']

mtf['lives_alone'] = np.select(alone_conds, alone_lbls)

In [904]:
mtf.lives_alone.value_counts()

Unknown    330206
No          29317
Yes           287
Name: lives_alone, dtype: int64

In [905]:
mtf.has_father = mtf.has_father.astype(int)

In [907]:
# if father LIVES in your house with you
fa_conds = [(mtf['has_father']==0), (mtf['has_father']==1),
               ((mtf['has_father']!=0)&(mtf['has_father']!=1))]

fa_lbls = ['No', 'Yes', 'Unknown']

mtf['has_father'] = np.select(fa_conds, fa_lbls)

In [908]:
mtf.has_father.value_counts()

Yes        242078
No          89649
Unknown     28083
Name: has_father, dtype: int64

In [909]:
mtf.has_mother = mtf.has_mother.astype(int)

In [911]:
ma_conds = [(mtf['has_mother']==0), (mtf['has_mother']==1),
               ((mtf['has_mother']!=0)&(mtf['has_mother']!=1))]

ma_lbls = ['No', 'Yes', 'Unknown']

mtf['has_mother'] = np.select(ma_conds, ma_lbls)

In [912]:
mtf.has_mother.value_counts()

Yes        295561
No          36734
Unknown     27515
Name: has_mother, dtype: int64

In [913]:
mtf.has_siblings = mtf.has_siblings.astype(int)

In [915]:
hsib_conds = [(mtf['has_siblings']==0), (mtf['has_siblings']==1),
               ((mtf['has_siblings']!=0)&(mtf['has_siblings']!=1))]

hsib_lbls = ['No', 'Yes', 'Unknown']

mtf['has_siblings'] = np.select(hsib_conds, hsib_lbls)

In [916]:
mtf.has_siblings.value_counts()

Yes        222491
No         108287
Unknown     29032
Name: has_siblings, dtype: int64

In [917]:
mtf.hshld_grandparents = mtf.hshld_grandparents.fillna(value=9)

In [918]:
mtf.hshld_grandparents = mtf.hshld_grandparents.astype(int)

In [920]:
gran_conds = [(mtf['hshld_grandparents']==0), (mtf['hshld_grandparents']==1),
               ((mtf['hshld_grandparents']!=0)&(mtf['hshld_grandparents']!=1))]

gran_lbls = ['No', 'Yes', 'Unknown']

mtf['hshld_grandparents'] = np.select(gran_conds, gran_lbls)

In [921]:
mtf.hshld_grandparents.value_counts()

Unknown    330206
No          27841
Yes          1763
Name: hshld_grandparents, dtype: int64

In [923]:
mtf.hshld_spouse = mtf.hshld_spouse.fillna(value=9)

In [924]:
mtf.hshld_spouse = mtf.hshld_spouse.astype(int)

In [925]:
sp_conds = [(mtf['hshld_spouse']==0), (mtf['hshld_spouse']==1),
               ((mtf['hshld_spouse']!=0)&(mtf['hshld_spouse']!=1))]

sp_lbls = ['No', 'Yes', 'Unknown']

mtf['hshld_spouse'] = np.select(sp_conds, sp_lbls)

In [926]:
mtf.hshld_spouse.value_counts()

Unknown    330206
No          29323
Yes           281
Name: hshld_spouse, dtype: int64

In [927]:
mtf.hshld_children = mtf.hshld_children.fillna(value=9)

In [928]:
mtf.hshld_children = mtf.hshld_children.astype(int)

In [930]:
ch_conds = [(mtf['hshld_children']==0), (mtf['hshld_children']==1),
               ((mtf['hshld_children']!=0)&(mtf['hshld_children']!=1))]

ch_lbls = ['No', 'Yes', 'Unknown']

mtf['hshld_children'] = np.select(ch_conds, ch_lbls)

In [931]:
mtf.hshld_children.value_counts()

Unknown    330216
No          29070
Yes           524
Name: hshld_children, dtype: int64

In [933]:
mtf.hshld_relatives = mtf.hshld_relatives.fillna(value=9)

In [934]:
mtf.hshld_relatives = mtf.hshld_relatives.astype(int)

In [935]:
rel_conds = [(mtf['hshld_relatives']==0), (mtf['hshld_relatives']==1),
               ((mtf['hshld_relatives']!=0)&(mtf['hshld_relatives']!=1))]

rel_lbls = ['No', 'Yes', 'Unknown']

mtf['hshld_relatives'] = np.select(rel_conds, rel_lbls)

In [936]:
mtf.hshld_relatives.value_counts()

Unknown    330206
No          27953
Yes          1651
Name: hshld_relatives, dtype: int64

In [938]:
mtf.hshld_nonrelatives = mtf.hshld_nonrelatives.fillna(value=9)

In [939]:
mtf.hshld_nonrelatives = mtf.hshld_nonrelatives.astype(int)

In [940]:
nrel_conds = [(mtf['hshld_nonrelatives']==0), (mtf['hshld_nonrelatives']==1),
               ((mtf['hshld_nonrelatives']!=0)&(mtf['hshld_nonrelatives']!=1))]

nrel_lbls = ['No', 'Yes', 'Unknown']

mtf['hshld_nonrelatives'] = np.select(nrel_conds, nrel_lbls)

In [941]:
mtf.hshld_nonrelatives.value_counts()

Unknown    330206
No          28353
Yes          1251
Name: hshld_nonrelatives, dtype: int64

In [942]:
#If you were raised mostly by foster parents, stepparents, or others,
# answer for them. For example, if you have both a stepfather 
# and a natural father, answer for the one that was the most 
# important in raising you. What is the highest level of schooling 
# your father completed?

fed_conds = [(mtf['father_educ_lvl']==1), (mtf['father_educ_lvl']==2),
            (mtf['father_educ_lvl']==3), (mtf['father_educ_lvl']==4),
            (mtf['father_educ_lvl']==5), (mtf['father_educ_lvl']==6),
             ((mtf['father_educ_lvl']==7)|(mtf['father_educ_lvl']==9)|(mtf['father_educ_lvl']==-9)|(mtf['father_educ_lvl']==0))]

fed_lbls = ['Grade School', 'Some High School', 'Graduated HS', 'Some College',
           'College Grad', 'Graduate School', 'Unknown']

mtf['father_educ_lvl'] = np.select(fed_conds, fed_lbls)

In [943]:
mtf.father_educ_lvl.value_counts()

Graduated HS        82780
College Grad        68930
Unknown             55888
Some College        52263
Graduate School     43692
Some High School    31632
Grade School        24625
Name: father_educ_lvl, dtype: int64

In [944]:
med_conds = [(mtf['mother_educ_lvl']==1), (mtf['mother_educ_lvl']==2),
            (mtf['mother_educ_lvl']==3), (mtf['mother_educ_lvl']==4),
            (mtf['mother_educ_lvl']==5), (mtf['mother_educ_lvl']==6),
             ((mtf['mother_educ_lvl']==7)|(mtf['mother_educ_lvl']==9)|(mtf['mother_educ_lvl']==-9)|(mtf['mother_educ_lvl']==0))]

med_lbls = ['Grade School', 'Some High School', 'Graduated HS', 'Some College',
           'College Grad', 'Graduate School', 'Unknown']

mtf['mother_educ_lvl'] = np.select(med_conds, med_lbls)

In [945]:
mtf.mother_educ_lvl.value_counts()

College Grad        84978
Graduated HS        82921
Some College        65999
Graduate School     42081
Unknown             36274
Some High School    26813
Grade School        20744
Name: mother_educ_lvl, dtype: int64

In [946]:
mtf.mother_employed = mtf.mother_employed.astype(int)

In [948]:
# Did your mother have a paid job (half-time or more) 
# during the time you were growing up?
memp_conds = [(mtf['mother_employed']==1), (mtf['mother_employed']==2),
             (mtf['mother_employed']==3), (mtf['mother_employed']==4),
             ((mtf['mother_employed']!=1)&(mtf['mother_employed']!=2)&(mtf['mother_employed']!=3)&(mtf['mother_employed']!=4))]

memp_lbls = ['No', 'Yes/Some', 'Yes/Most', 'Yes/Nearly All', 'Unknown']

mtf['mother_employed'] = np.select(memp_conds, memp_lbls)

In [949]:
mtf.mother_employed.value_counts()

Yes/Nearly All    151475
Yes/Some           67051
Yes/Most           63894
No                 51166
Unknown            26224
Name: mother_employed, dtype: int64

In [950]:
mtf.political_party = mtf.political_party.astype(int)

In [952]:
polip_conds =  [(mtf['political_party']==1), (mtf['political_party']==2),
               (mtf['political_party']==3), (mtf['political_party']==4), 
               (mtf['political_party']==5), (mtf['political_party']==6), 
               (mtf['political_party']==7), (mtf['political_party']==8), 
               ((mtf['political_party']==9)|(mtf['political_party']==0)|(mtf['political_party']==-9))]

polip_lbls = ['Strong Republican', 'Mild Republican', 'Mild Democrat',
             'Strong Democrat', 'Independent', 'No Pref', 'Other', "Don't Know", 'Unknown']

mtf['political_party'] = np.select(polip_conds, polip_lbls)

In [953]:
mtf.political_party.value_counts()

Don't Know           66147
No Pref              49913
Mild Democrat        46213
Mild Republican      43521
Strong Democrat      41793
Unknown              40409
Independent          34110
Strong Republican    31501
Other                 6203
Name: political_party, dtype: int64

In [954]:
mtf.political_value_type = mtf.political_value_type.astype(int)

In [956]:
poliv_conds =  [(mtf['political_value_type']==1), (mtf['political_value_type']==2),
               (mtf['political_value_type']==3), (mtf['political_value_type']==4), 
               (mtf['political_value_type']==5), (mtf['political_value_type']==6), 
               (mtf['political_value_type']==8), 
               ((mtf['political_value_type']==7)|(mtf['political_value_type']==9)|(mtf['political_value_type']==0)|(mtf['political_value_type']==-9))]

poliv_lbls = ['Very Conservative', 'Conservative', 'Moderate',
             'Liberal', 'Very Liberal', 'Radical', "Don't Know", 'Unknown']

mtf['political_value_type'] = np.select(poliv_conds, poliv_lbls)

In [957]:
mtf.political_value_type.value_counts()

Don't Know           102456
Moderate              80258
Liberal               52186
Conservative          40558
Unknown               37129
Very Liberal          20603
Very Conservative     16136
Radical               10484
Name: political_value_type, dtype: int64

In [958]:
mtf.relig_pref = mtf.relig_pref.fillna(value=0)

In [959]:
mtf.relig_pref = mtf.relig_pref.astype(int)

In [963]:
relp_conds = [(mtf['relig_pref']==1), (mtf['relig_pref']==2),
             (mtf['relig_pref']==3), (mtf['relig_pref']==4), 
             (mtf['relig_pref']==5), (mtf['relig_pref']==6),
             (mtf['relig_pref']==7), (mtf['relig_pref']==8),
             (mtf['relig_pref']==9), (mtf['relig_pref']==10),
              (mtf['relig_pref']==11), (mtf['relig_pref']==12),
             (mtf['relig_pref']==13), (mtf['relig_pref']==14), 
             (mtf['relig_pref']==15), (mtf['relig_pref']==16),
             (mtf['relig_pref']==17), (mtf['relig_pref']==18),
             ((mtf['relig_pref']==0)|(mtf['relig_pref']==99))]

relp_lbls = ['Baptist', 'Church of Christ', 'Disciples of Christ', 'Episcopal', 'Lutheran', 'Methodist',
            'Presbytarian', 'United Church of Christ', 'Other Protestant', 'Unitarian',
            'Roman Catholic', 'Eastern Orthodox', 'Jewish', 'Latter-Day Saints',
            'Muslim', 'Buddhist', 'Other', 'None', 'Unknown']

mtf['relig_pref'] = np.select(relp_conds, relp_lbls)

In [964]:
mtf.relig_pref.value_counts()

Unknown                    330732
Roman Catholic               7422
Baptist                      5592
None                         4861
Other                        2186
Church of Christ             1777
Methodist                    1668
Other Protestant             1068
Lutheran                     1019
Presbytarian                  916
Jewish                        674
Latter-Day Saints             466
Episcopal                     389
Buddhist                      366
Muslim                        182
Eastern Orthodox              162
United Church of Christ       141
Disciples of Christ           136
Unitarian                      53
Name: relig_pref, dtype: int64

In [965]:
mtf.relig_attd = mtf.relig_attd.astype(int)

In [967]:
rela_conds = [(mtf['relig_attd']==1), (mtf['relig_attd']==2),
             (mtf['relig_attd']==3), (mtf['relig_attd']==4),
             ((mtf['relig_attd']!=1)&(mtf['relig_attd']!=2)&(mtf['relig_attd']!=3)&(mtf['relig_attd']!=4))]

rela_lbls = ['Never', 'Rarely', '1-2x Month', 'Every Week+', 'Unknown']

mtf['relig_attd'] = np.select(rela_conds, rela_lbls)

In [968]:
mtf.relig_attd.value_counts()

Rarely         91774
Every Week+    86223
Unknown        86047
Never          48913
1-2x Month     46853
Name: relig_attd, dtype: int64

In [969]:
mtf.relig_importance = mtf.relig_importance.astype(int)

In [971]:
reli_conds = [(mtf['relig_importance']==1), (mtf['relig_importance']==2),
             (mtf['relig_importance']==3), (mtf['relig_importance']==4),
             ((mtf['relig_importance']!=1)&(mtf['relig_importance']!=2)&(mtf['relig_importance']!=3)&(mtf['relig_importance']!=4))]

reli_lbls = ['Not Important', 'A Little Important', 'Pretty Important', 'Very Important', 'Unknown']

mtf['relig_importance'] = np.select(reli_conds, reli_lbls)

In [972]:
mtf.relig_importance.value_counts()

Unknown               89648
Very Important        77476
Pretty Important      73452
A Little Important    67840
Not Important         51394
Name: relig_importance, dtype: int64

In [974]:
mtf.hs_grad_yr = mtf.hs_grad_yr.astype(int)

In [976]:
gradyr_conds = [(mtf['hs_grad_yr']==1), (mtf['hs_grad_yr']==2),
             (mtf['hs_grad_yr']==3), (mtf['hs_grad_yr']==6),
             ((mtf['hs_grad_yr']!=1)&(mtf['hs_grad_yr']!=2)&(mtf['hs_grad_yr']!=3)&(mtf['hs_grad_yr']!=6))]

gradyr_lbls = ['June', 'July-January', 'After January', "Don't Expect to Graduate", 'Unknown']

mtf['hs_grad_yr'] = np.select(gradyr_conds, gradyr_lbls)

In [977]:
mtf.hs_grad_yr.value_counts()

June                        311564
Unknown                      32355
July-January                  8573
After January                 5323
Don't Expect to Graduate      1995
Name: hs_grad_yr, dtype: int64

In [978]:
mtf.hs_type = mtf.hs_type.astype(int)

In [980]:
hst_conds = [(mtf['hs_type']==1), (mtf['hs_type']==2),
             (mtf['hs_type']==3), (mtf['hs_type']==4),
             ((mtf['hs_type']!=1)&(mtf['hs_type']!=2)&(mtf['hs_type']!=3)&(mtf['hs_type']!=4))]

hst_lbls = ['Academic/College Prep', 'General', 'Vocational/Technical/Commercial', "Other/Don't Know", 'Unknown']

mtf['hs_type'] = np.select(hst_conds, hst_lbls)

In [981]:
mtf.hs_type.value_counts()

Academic/College Prep              186415
General                             98631
Other/Don't Know                    29148
Unknown                             25067
Vocational/Technical/Commercial     20549
Name: hs_type, dtype: int64

In [982]:
mtf.academic_self_rating = mtf.academic_self_rating.astype(int)

In [984]:
# Compared with others your age throughout the country, 
# how do you rate yourself on school ability?
asr_conds = [(mtf['academic_self_rating']==1), (mtf['academic_self_rating']==2),
            (mtf['academic_self_rating']==3), (mtf['academic_self_rating']==4),
            (mtf['academic_self_rating']==5), (mtf['academic_self_rating']==6),
            (mtf['academic_self_rating']==7),
            ((mtf['academic_self_rating']==0)|(mtf['academic_self_rating']==9)|(mtf['academic_self_rating']==-9))]

asr_lbls = ['Far Below', 'Below Avg', 'Slightly Below Avg',
           'Average', 'Slightly Above Average', 'Above Average',
           'Far Above Average', 'Unknown']


mtf['academic_self_rating'] = np.select(asr_conds, asr_lbls)

In [1329]:
mtf_base.academic_self_rating.isna().sum()

0

In [985]:
mtf.academic_self_rating.value_counts()

Average                   106728
Above Average              88065
Slightly Above Average     74428
Unknown                    25994
Far Above Average          22353
Slightly Below Avg         16965
Far Below                  12780
Below Avg                  12497
Name: academic_self_rating, dtype: int64

In [986]:
mtf.intelligence_self_rating = mtf.intelligence_self_rating.astype(int)

In [988]:
isr_conds = [(mtf['intelligence_self_rating']==1), (mtf['intelligence_self_rating']==2),
            (mtf['intelligence_self_rating']==3), (mtf['intelligence_self_rating']==4),
            (mtf['intelligence_self_rating']==5), (mtf['intelligence_self_rating']==6),
            (mtf['intelligence_self_rating']==7),
            ((mtf['intelligence_self_rating']==0)|(mtf['intelligence_self_rating']==9)|(mtf['intelligence_self_rating']==-9))]

isr_lbls = ['Far Below', 'Below Avg', 'Slightly Below Avg',
           'Average', 'Slightly Above Average', 'Above Average',
           'Far Above Average', 'Unknown']


mtf['intelligence_self_rating'] = np.select(isr_conds, isr_lbls)

In [989]:
mtf.intelligence_self_rating.value_counts()

Average                   99593
Above Average             93958
Slightly Above Average    80045
Far Above Average         28605
Unknown                   23018
Far Below                 16063
Slightly Below Avg        13242
Below Avg                  5286
Name: intelligence_self_rating, dtype: int64

In [990]:
mtf.school_missed_illness = mtf.school_missed_illness.astype(int)

In [992]:
# During the LAST FOUR WEEKS, how many 
# whole days of school have you missed because of ILLNESS?

smi_conds = [(mtf['school_missed_illness']==1), (mtf['school_missed_illness']==2),
            (mtf['school_missed_illness']==3), (mtf['school_missed_illness']==4),
            (mtf['school_missed_illness']==5), (mtf['school_missed_illness']==6),
            (mtf['school_missed_illness']==7),
            ((mtf['school_missed_illness']==0)|(mtf['school_missed_illness']==9)|(mtf['school_missed_illness']==-9))]

smi_lbls = ['0', '1', '2', '3', '4-5', '6-10', '11+', 'Unknown']

mtf['school_missed_illness'] = np.select(smi_conds, smi_lbls)

In [993]:
mtf.school_missed_illness.value_counts()

0          182886
1           58570
2           34774
Unknown     28449
3           25091
4-5         17079
6-10         8774
11+          4187
Name: school_missed_illness, dtype: int64

In [1010]:
mtf.school_missed_ditched = mtf_base.school_missed_ditched.astype(int)

In [1011]:
smd_conds = [(mtf['school_missed_ditched']==1), (mtf['school_missed_ditched']==2),
            (mtf['school_missed_ditched']==3), (mtf['school_missed_ditched']==4),
            (mtf['school_missed_ditched']==5), (mtf['school_missed_ditched']==6),
            (mtf['school_missed_ditched']==7),
            ((mtf['school_missed_ditched']==0)|(mtf['school_missed_ditched']==9)|(mtf['school_missed_ditched']==-9))]

smd_lbls = ['0', '1', '2', '3', '4-5', '6-10', '11+', 'Unknown']

mtf['school_missed_ditched'] = np.select(smd_conds, smd_lbls)

In [1012]:
mtf.school_missed_ditched.value_counts()

0          212744
1           43647
Unknown     34062
2           23328
3           18357
4-5         14083
6-10         8392
11+          5197
Name: school_missed_ditched, dtype: int64

In [998]:
mtf.school_missed_other = mtf.school_missed_other.astype(int)

In [1000]:
smo_conds = [(mtf['school_missed_other']==1), (mtf['school_missed_other']==2),
            (mtf['school_missed_other']==3), (mtf['school_missed_other']==4),
            (mtf['school_missed_other']==5), (mtf['school_missed_other']==6),
            (mtf['school_missed_other']==7),
            ((mtf['school_missed_other']==0)|(mtf['school_missed_other']==9)|(mtf['school_missed_other']==-9))]

smo_lbls = ['0', '1', '2', '3', '4-5', '6-10', '11+', 'Unknown']

mtf['school_missed_other'] = np.select(smo_conds, smo_lbls)

In [1001]:
mtf.school_missed_other.value_counts()

0          175476
1           62539
2           35570
Unknown     31447
3           23217
4-5         17188
6-10         9191
11+          5182
Name: school_missed_other, dtype: int64

In [1013]:
mtf.skipped_class = mtf_base.skipped_class.astype(int)

In [1015]:
sk_conds = [(mtf['skipped_class']==1), (mtf['skipped_class']==2),
            (mtf['skipped_class']==3), (mtf['skipped_class']==4),
            (mtf['skipped_class']==5), (mtf['skipped_class']==6),
            ((mtf['skipped_class']==7)|(mtf['skipped_class']==0)|(mtf['skipped_class']==9)|(mtf['skipped_class']==-9))]

sk_lbls = ['0', '1-2', '3-5', '6-10', '11-20', '21+', 'Unknown']

mtf['skipped_class'] = np.select(sk_conds, sk_lbls)

In [1016]:
mtf.skipped_class.value_counts()

0          222533
1-2         64037
3-5         28991
Unknown     23820
6-10        11393
11-20        4926
21+          4110
Name: skipped_class, dtype: int64

In [1005]:
mtf.avg_grade = mtf.avg_grade.astype(int)

In [1017]:
grade_conds = [(mtf['avg_grade']==1), (mtf['avg_grade']==2),
              (mtf['avg_grade']==3), (mtf['avg_grade']==4),
              (mtf['avg_grade']==5), (mtf['avg_grade']==6),
              (mtf['avg_grade']==7), (mtf['avg_grade']==8),
              (mtf['avg_grade']==9),
              ((mtf['avg_grade']==0)|(mtf['avg_grade']==-9))]

grade_lbls = ['D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A+', 'Unknown']

mtf['avg_grade'] = np.select(grade_conds, grade_lbls)

In [1018]:
mtf.avg_grade.value_counts()

B+         57589
B          56095
A-         53464
A+         51537
B-         36885
C+         28823
Unknown    24497
D          22103
C          18046
C-         10771
Name: avg_grade, dtype: int64

In [1019]:
mtf.tech_school_after_hs = mtf.tech_school_after_hs.astype(int)

In [1021]:
tech_conds = [(mtf['tech_school_after_hs']==1),(mtf['tech_school_after_hs']==2),
             (mtf['tech_school_after_hs']==3), (mtf['tech_school_after_hs']==4),
             ((mtf['tech_school_after_hs']!=1)&(mtf['tech_school_after_hs']!=2)&(mtf['tech_school_after_hs']!=3)&(mtf['tech_school_after_hs']!=4))]

tech_lbls = ["Definitely Won't", "Probably Won't", "Probably Will", 
            "Definitely Will", 'Unknown']


mtf.tech_school_after_hs = np.select(tech_conds, tech_lbls)

In [1022]:
mtf.tech_school_after_hs.value_counts()

Definitely Won't    175957
Probably Won't       71047
Unknown              49135
Probably Will        40164
Definitely Will      23507
Name: tech_school_after_hs, dtype: int64

In [1023]:
mtf.military_after_hs = mtf.military_after_hs.astype(int)

In [1025]:
mil_conds = [(mtf['military_after_hs']==1),(mtf['military_after_hs']==2),
             (mtf['military_after_hs']==3), (mtf['military_after_hs']==4),
             ((mtf['military_after_hs']!=1)&(mtf['military_after_hs']!=2)&(mtf['military_after_hs']!=3)&(mtf['military_after_hs']!=4))]

mil_lbls = ["Definitely Won't", "Probably Won't", "Probably Will", 
            "Definitely Will", 'Unknown']


mtf.military_after_hs = np.select(mil_conds, mil_lbls)

In [1026]:
mtf.military_after_hs.value_counts()

Definitely Won't    220902
Probably Won't       58688
Unknown              40063
Probably Will        23635
Definitely Will      16522
Name: military_after_hs, dtype: int64

In [1027]:
mtf['2yrcoll_after_hs'] = mtf['2yrcoll_after_hs'].astype(int)

In [1029]:
twoy_conds = [(mtf['2yrcoll_after_hs']==1),(mtf['2yrcoll_after_hs']==2),
             (mtf['2yrcoll_after_hs']==3), (mtf['2yrcoll_after_hs']==4),
             ((mtf['2yrcoll_after_hs']!=1)&(mtf['2yrcoll_after_hs']!=2)&(mtf['2yrcoll_after_hs']!=3)&(mtf['2yrcoll_after_hs']!=4))]

twoy_lbls = ["Definitely Won't", "Probably Won't", "Probably Will", 
            "Definitely Will", 'Unknown']


mtf['2yrcoll_after_hs'] = np.select(twoy_conds, twoy_lbls)

In [1030]:
mtf['2yrcoll_after_hs'].value_counts()

Definitely Won't    120803
Probably Will        68055
Definitely Will      64521
Probably Won't       58414
Unknown              48017
Name: 2yrcoll_after_hs, dtype: int64

In [1032]:
mtf['4yrcoll_after_hs'] = mtf['4yrcoll_after_hs'].astype(int)

In [1033]:
fy_conds = [(mtf['4yrcoll_after_hs']==1),(mtf['4yrcoll_after_hs']==2),
             (mtf['4yrcoll_after_hs']==3), (mtf['4yrcoll_after_hs']==4),
             ((mtf['4yrcoll_after_hs']!=1)&(mtf['4yrcoll_after_hs']!=2)&(mtf['4yrcoll_after_hs']!=3)&(mtf['4yrcoll_after_hs']!=4))]

fy_lbls = ["Definitely Won't", "Probably Won't", "Probably Will", 
            "Definitely Will", 'Unknown']


mtf['4yrcoll_after_hs'] = np.select(fy_conds, fy_lbls)

In [1034]:
mtf['4yrcoll_after_hs'].value_counts()

Definitely Will     184867
Probably Will        73614
Definitely Won't     35395
Probably Won't       34081
Unknown              31853
Name: 4yrcoll_after_hs, dtype: int64

In [1035]:
mtf['gradsch_after_hs'] = mtf['gradsch_after_hs'].astype(int)

In [1036]:
gshs_conds = [(mtf['gradsch_after_hs']==1),(mtf['gradsch_after_hs']==2),
             (mtf['gradsch_after_hs']==3), (mtf['gradsch_after_hs']==4),
             ((mtf['gradsch_after_hs']!=1)&(mtf['gradsch_after_hs']!=2)&(mtf['gradsch_after_hs']!=3)&(mtf['gradsch_after_hs']!=4))]

gshs_lbls = ["Definitely Won't", "Probably Won't", "Probably Will", 
            "Definitely Will", 'Unknown']


mtf['gradsch_after_hs'] = np.select(gshs_conds, gshs_lbls)

In [1037]:
mtf.gradsch_after_hs.value_counts()

Probably Will       100785
Probably Won't       81187
Definitely Will      69749
Definitely Won't     60568
Unknown              47521
Name: gradsch_after_hs, dtype: int64

In [1040]:
mtf['desire_tech_school'] = mtf['desire_tech_school'].astype(int)

In [1041]:
destech_conds = [(mtf['desire_tech_school']==0),(mtf['desire_tech_school']==1),
             ((mtf['desire_tech_school']!=0)&(mtf['desire_tech_school']!=1))]

destech_lbls = ['No', 'Yes', 'Unknown']


mtf['desire_tech_school'] = np.select(destech_conds, destech_lbls)

In [1042]:
mtf.desire_tech_school.value_counts()

No         268205
Yes         54698
Unknown     36907
Name: desire_tech_school, dtype: int64

In [1043]:
mtf['desire_military'] = mtf['desire_military'].astype(int)

In [1044]:
desmil_conds = [(mtf['desire_military']==0),(mtf['desire_military']==1),
             ((mtf['desire_military']!=0)&(mtf['desire_military']!=1))]

desmil_lbls = ['No', 'Yes', 'Unknown']


mtf['desire_military'] = np.select(desmil_conds, desmil_lbls)

In [1045]:
mtf.desire_military.value_counts()

No         266548
Yes         52742
Unknown     40520
Name: desire_military, dtype: int64

In [1046]:
mtf['desire_2yrcoll'] = mtf['desire_2yrcoll'].astype(int)

In [1047]:
destwo_conds = [(mtf['desire_2yrcoll']==0),(mtf['desire_2yrcoll']==1),
             ((mtf['desire_2yrcoll']!=0)&(mtf['desire_2yrcoll']!=1))]

destwo_lbls = ['No', 'Yes', 'Unknown']


mtf['desire_2yrcoll'] = np.select(destwo_conds, destwo_lbls)

In [1048]:
mtf.desire_2yrcoll.value_counts()

No         228724
Yes         91626
Unknown     39460
Name: desire_2yrcoll, dtype: int64

In [1049]:
mtf['desire_4yrcoll'] = mtf['desire_4yrcoll'].astype(int)

In [1050]:
desfour_conds = [(mtf['desire_4yrcoll']==0),(mtf['desire_4yrcoll']==1),
             ((mtf['desire_4yrcoll']!=0)&(mtf['desire_4yrcoll']!=1))]

desfour_lbls = ['No', 'Yes', 'Unknown']


mtf['desire_4yrcoll'] = np.select(desfour_conds, desfour_lbls)

In [1051]:
mtf.desire_4yrcoll.value_counts()

Yes        242196
No          88348
Unknown     29266
Name: desire_4yrcoll, dtype: int64

In [1053]:
mtf['desire_gradsch'] = mtf['desire_gradsch'].astype(int)

In [1054]:
desgs_conds = [(mtf['desire_gradsch']==0),(mtf['desire_gradsch']==1),
             ((mtf['desire_gradsch']!=0)&(mtf['desire_gradsch']!=1))]

desgs_lbls = ['No', 'Yes', 'Unknown']


mtf['desire_gradsch'] = np.select(desgs_conds, desgs_lbls)

In [1055]:
mtf.desire_gradsch.value_counts()

Yes        176457
No         149552
Unknown     33801
Name: desire_gradsch, dtype: int64

In [1056]:
mtf['desire_none'] = mtf['desire_none'].astype(int)

In [1057]:
desn_conds = [(mtf['desire_none']==0),(mtf['desire_none']==1),
             ((mtf['desire_none']!=0)&(mtf['desire_none']!=1))]

desn_lbls = ['No', 'Yes', 'Unknown']


mtf['desire_none'] = np.select(desn_conds, desn_lbls)

In [1058]:
mtf.desire_none.value_counts()

No         297518
Unknown     33821
Yes         28471
Name: desire_none, dtype: int64

In [1059]:
mtf['work_hrs'] = mtf['work_hrs'].astype(int)

In [1061]:
# On the average over the school year, how many hours per week 
# do you work in a paid or unpaid job?

wh_conds = [(mtf['work_hrs']==1), (mtf['work_hrs']==2),
           (mtf['work_hrs']==3), (mtf['work_hrs']==4),
           (mtf['work_hrs']==5), (mtf['work_hrs']==6),
           (mtf['work_hrs']==7), (mtf['work_hrs']==8),
           ((mtf['work_hrs']==9)|(mtf['work_hrs']==0)|(mtf['work_hrs']==-9))]

wh_lbls = ['0', '5 or less', '6-10', '11-15', '16-20', '21-25',
          '26-30', '30+', 'Unknown']

mtf.work_hrs = np.select(wh_conds, wh_lbls)

In [1062]:
mtf.work_hrs.value_counts()

0            103128
Unknown       53638
16-20         39959
11-15         31449
21-25         31361
6-10          29456
5 or less     27717
30+           21778
26-30         21324
Name: work_hrs, dtype: int64

In [1063]:
mtf.work_pay = mtf.work_pay.astype(int)

In [1067]:
# During an average week, how much money do you get from
# A job or other work?

wp_conds = [(mtf['work_pay']==1), (mtf['work_pay']==2),
           (mtf['work_pay']==3), (mtf['work_pay']==4),
           (mtf['work_pay']==5), (mtf['work_pay']==6),
           (mtf['work_pay']==7), (mtf['work_pay']==8),
           (mtf['work_pay']==9), (mtf['work_pay']==10),
           ((mtf['work_pay']==0)|(mtf['work_pay']==-9))]

wp_lbls = ['0', '1-5', '6-10', '11-20', '21-35', '36-50',
          '51-75', '76-125', '126-175', '176+', 'Unknown']

mtf.work_pay = np.select(wp_conds, wp_lbls)

In [1068]:
mtf.work_pay.value_counts()

0          107043
Unknown     63996
76-125      54619
126-175     47962
51-75       26171
36-50       16462
176+        12008
21-35       11264
6-10         8546
11-20        8400
1-5          3339
Name: work_pay, dtype: int64

In [1069]:
mtf.other_income = mtf.other_income.astype(int)

In [1070]:
# During an average week, how much money do you get from
# A job or other work?

oi_conds = [(mtf['other_income']==1), (mtf['other_income']==2),
           (mtf['other_income']==3), (mtf['other_income']==4),
           (mtf['other_income']==5), (mtf['other_income']==6),
           (mtf['other_income']==7), (mtf['other_income']==8),
           (mtf['other_income']==9), (mtf['other_income']==10),
           ((mtf['other_income']==0)|(mtf['other_income']==-9))]

oi_lbls = ['0', '1-5', '6-10', '11-20', '21-35', '36-50',
          '51-75', '76-125', '126-175', '176+', 'Unknown']

mtf.other_income = np.select(oi_conds, oi_lbls)

In [1071]:
mtf.other_income.value_counts()

0          113155
Unknown     76596
11-20       48614
21-35       30780
6-10        27267
36-50       18807
1-5         16872
51-75        9250
126-175      7782
76-125       7528
176+         3159
Name: other_income, dtype: int64

In [1072]:
mtf.rec_time = mtf.rec_time.astype(int)

In [1074]:
# Number of evenings "Go out"

rt_conds = [(mtf['rec_time']==1),(mtf['rec_time']==2),
           (mtf['rec_time']==3),(mtf['rec_time']==4),
           (mtf['rec_time']==5),(mtf['rec_time']==6),
           ((mtf['rec_time']==0)|(mtf['rec_time']==9)|(mtf['rec_time']==-9)|(mtf['rec_time']==7)|(mtf['rec_time']==8))]

rt_lbls = ['<1', '1', '2', '3', '4-5', '6-7', 'Unknown']

mtf.rec_time = np.select(rt_conds, rt_lbls)

In [1075]:
mtf.rec_time.value_counts()

2          82745
3          71442
4-5        47639
1          45534
<1         44445
Unknown    44215
6-7        23790
Name: rec_time, dtype: int64

In [1076]:
# How often do you go out on a "date"

mtf.date_freq = mtf.date_freq.astype(int)

In [1082]:
df_conds = [(mtf['date_freq']==1),(mtf['date_freq']==2),
           (mtf['date_freq']==3), (mtf['date_freq']==4),
           (mtf['date_freq']==5), (mtf['date_freq']==6),
           ((mtf['date_freq']==-9)|(mtf['date_freq']==0)|(mtf['date_freq']>6))]

df_lbls = ['Never', '1x Month', '2-3x Month', '1x Week', '2-3x Week',
          '3x Week+', 'Unknown']

mtf.date_freq = np.select(df_conds, df_lbls)

In [1083]:
mtf.date_freq.value_counts()

Never         99963
1x Month      52515
2-3x Week     47383
2-3x Month    45709
Unknown       43783
1x Week       43222
3x Week+      27235
Name: date_freq, dtype: int64

In [1084]:
mtf.drive_freq = mtf.drive_freq.astype(int)

In [1086]:
# Miles per week

drive_conds = [(mtf['drive_freq']==1),(mtf['drive_freq']==2),
           (mtf['drive_freq']==3), (mtf['drive_freq']==4),
           (mtf['drive_freq']==5), (mtf['drive_freq']==6),
           ((mtf['drive_freq']==-9)|(mtf['drive_freq']==0)|(mtf['drive_freq']>6))]

drive_lbls = ['0', '1-10', '11-50', '51-100', '101-200', '200+', 'Unknown']

mtf.drive_freq = np.select(drive_conds, drive_lbls)

In [1087]:
mtf.drive_freq.value_counts()

0          73915
11-50      71528
51-100     66549
101-200    47901
Unknown    39103
200+       33298
1-10       27516
Name: drive_freq, dtype: int64

In [1088]:
mtf['12mo_r_tcktd'] = mtf['12mo_r_tcktd'].astype(int)

In [1090]:
twmt_conds = [(mtf['12mo_r_tcktd']==0),(mtf['12mo_r_tcktd']==1),
             (mtf['12mo_r_tcktd']==2), (mtf['12mo_r_tcktd']==3),
             (mtf['12mo_r_tcktd']==4),
             ((mtf['12mo_r_tcktd']==-9)|(mtf['12mo_r_tcktd']>4))]

twmt_lbls = ['0', '1', '2', '3', '4+', 'Unknown']

mtf['12mo_r_tcktd'] = np.select(twmt_conds, twmt_lbls)

In [1091]:
mtf['12mo_r_tcktd'].value_counts()

0          214493
1           56236
Unknown     41796
2           21634
3           14194
4+          11457
Name: 12mo_r_tcktd, dtype: int64

In [1102]:
mtf.tckts_aft_drnk = mtf_base.tckts_aft_drnk.astype(int)

In [1103]:
tad_conds = [(mtf['tckts_aft_drnk']==0),(mtf['tckts_aft_drnk']==1),
             (mtf['tckts_aft_drnk']==2), ((mtf['tckts_aft_drnk']==3)|(mtf['tckts_aft_drnk']==4)),
             ((mtf['tckts_aft_drnk']==-9)|(mtf['tckts_aft_drnk']>4))]

tad_lbls = ['0', '1', '2', '3+', 'Unknown']

mtf['tckts_aft_drnk'] = np.select(tad_conds, tad_lbls)

In [1104]:
mtf.tckts_aft_drnk.value_counts()

Unknown    255256
0           68342
1           16662
3+          12629
2            6921
Name: tckts_aft_drnk, dtype: int64

In [1105]:
mtf.tckts_aft_marj = mtf.tckts_aft_marj.astype(int)

In [1106]:
tam_conds = [(mtf['tckts_aft_marj']==0),(mtf['tckts_aft_marj']==1),
             (mtf['tckts_aft_marj']==2), ((mtf['tckts_aft_marj']==3)|(mtf['tckts_aft_marj']==4)),
             ((mtf['tckts_aft_marj']==-9)|(mtf['tckts_aft_marj']>4))]

tam_lbls = ['0', '1', '2', '3+', 'Unknown']

mtf['tckts_aft_marj'] = np.select(tam_conds, tam_lbls)

In [1107]:
mtf.tckts_aft_marj.value_counts()

Unknown    256390
0           68884
1           15179
3+          14689
2            4668
Name: tckts_aft_marj, dtype: int64

In [1108]:
mtf.tckts_aft_otdg = mtf.tckts_aft_otdg.astype(int)

In [1109]:
taoth_conds = [(mtf['tckts_aft_otdg']==0),(mtf['tckts_aft_otdg']==1),
             (mtf['tckts_aft_otdg']==2), ((mtf['tckts_aft_otdg']==3)|(mtf['tckts_aft_otdg']==4)),
             ((mtf['tckts_aft_otdg']==-9)|(mtf['tckts_aft_otdg']>4))]

taoth_lbls = ['0', '1', '2', '3+', 'Unknown']

mtf['tckts_aft_otdg'] = np.select(taoth_conds, taoth_lbls)

In [1110]:
mtf.tckts_aft_otdg.value_counts()

Unknown    252830
0           91426
1            7176
3+           6104
2            2274
Name: tckts_aft_otdg, dtype: int64

In [1111]:
mtf['12mo_accidents'] = mtf['12mo_accidents'].astype(int)

In [1113]:
acc_conds = [(mtf['12mo_accidents']==0), (mtf['12mo_accidents']==1),
           (mtf['12mo_accidents']==2), (mtf['12mo_accidents']==3),
           (mtf['12mo_accidents']==4),
           ((mtf['12mo_accidents']==7)|(mtf['12mo_accidents']==9)|(mtf['12mo_accidents']==-9)|(mtf['12mo_accidents']==0))]

acc_lbls = ['0', '1', '2', '3', '4+', 'Unknown']


mtf['12mo_accidents'] = np.select(acc_conds, acc_lbls)

In [1114]:
mtf['12mo_accidents'].value_counts()

0          239671
Unknown     57223
1           47932
2           11080
3            2700
4+           1204
Name: 12mo_accidents, dtype: int64

In [1115]:
mtf.acdts_aft_drnk = mtf.acdts_aft_drnk.astype(int)

In [1117]:
aad_conds = [(mtf['acdts_aft_drnk']==0), (mtf['acdts_aft_drnk']==1),
            (mtf['acdts_aft_drnk']==2),((mtf['acdts_aft_drnk']==3)|(mtf['acdts_aft_drnk']==4)),
            ((mtf['acdts_aft_drnk']==0)|(mtf['acdts_aft_drnk']==-9)|(mtf['acdts_aft_drnk']>4))]

aad_lbls = ['0', '1', '2', '3+', 'Unknown']

mtf.acdts_aft_drnk = np.select(aad_conds, aad_lbls)

In [1118]:
mtf.acdts_aft_drnk.value_counts()

Unknown    293269
0           63870
1            2062
2             346
3+            263
Name: acdts_aft_drnk, dtype: int64

In [1119]:
mtf.acdts_aft_marj = mtf.acdts_aft_marj.astype(int)

In [1120]:
aam_conds = [(mtf['acdts_aft_marj']==0), (mtf['acdts_aft_marj']==1),
            (mtf['acdts_aft_marj']==2),((mtf['acdts_aft_marj']==3)|(mtf['acdts_aft_marj']==4)),
            ((mtf['acdts_aft_marj']==0)|(mtf['acdts_aft_marj']==-9)|(mtf['acdts_aft_marj']>4))]

aam_lbls = ['0', '1', '2', '3+', 'Unknown']

mtf.acdts_aft_marj = np.select(aam_conds, aam_lbls)

In [1121]:
mtf.acdts_aft_marj.value_counts()

Unknown    293490
0           64274
1            1536
2             274
3+            236
Name: acdts_aft_marj, dtype: int64

In [1122]:
mtf.acdts_aft_otdg = mtf.acdts_aft_otdg.astype(int)

In [1123]:
aaoth_conds = [(mtf['acdts_aft_otdg']==0), (mtf['acdts_aft_otdg']==1),
            (mtf['acdts_aft_otdg']==2),((mtf['acdts_aft_otdg']==3)|(mtf['acdts_aft_otdg']==4)),
            ((mtf['acdts_aft_otdg']==0)|(mtf['acdts_aft_otdg']==-9)|(mtf['acdts_aft_otdg']>4))]

aaoth_lbls = ['0', '1', '2', '3+', 'Unknown']

mtf.acdts_aft_otdg = np.select(aaoth_conds, aaoth_lbls)

In [1124]:
mtf.acdts_aft_otdg.value_counts()

Unknown    273768
0           81504
1            3409
2             744
3+            385
Name: acdts_aft_otdg, dtype: int64

In [1127]:
mtf.mil_branch_pref = mtf.mil_branch_pref.fillna(value=-9)

In [1128]:
mtf.mil_branch_pref = mtf.mil_branch_pref.astype(int)

In [1130]:
milb_conds = [(mtf['mil_branch_pref']==1), (mtf['mil_branch_pref']==2),
             (mtf['mil_branch_pref']==3), (mtf['mil_branch_pref']==4),
             (mtf['mil_branch_pref']==5), (mtf['mil_branch_pref']==6),
             ((mtf['mil_branch_pref']==-9)|(mtf['mil_branch_pref']==0)|(mtf['mil_branch_pref']>6))]

milb_lbls = ['Army', 'Navy', 'Marines', 'Air Force', 'Coast Guard',
            'Uncertain', 'Unknown']

mtf.mil_branch_pref = np.select(milb_conds, milb_lbls)

In [1131]:
mtf.mil_branch_pref.value_counts()

Unknown        347078
Army             4211
Air Force        2427
Marines          2103
Navy             1946
Uncertain        1609
Coast Guard       436
Name: mil_branch_pref, dtype: int64

In [1132]:
milo_conds = [(mtf['mil_officer_pref']==1), (mtf['mil_officer_pref']==2),
             (mtf['mil_officer_pref']==3),
             ((mtf['mil_officer_pref']!=1)&(mtf['mil_officer_pref']!=2)&(mtf['mil_officer_pref']!=3))]

milo_lbls = ['No', 'Uncertain', 'Yes', 'Unknown']

mtf.mil_officer_pref = np.select(milo_conds, milo_lbls)

In [1133]:
mtf.mil_officer_pref.value_counts()

Unknown      348500
Uncertain      4758
Yes            4505
No             2047
Name: mil_officer_pref, dtype: int64

In [1135]:
mtf.expect_mil_career = mtf.expect_mil_career.fillna(value=-9)

In [1136]:
mtf.expect_mil_career = mtf.expect_mil_career.astype(int)

In [1138]:
milcr_conds = [(mtf['expect_mil_career']==1), (mtf['expect_mil_career']==2),
             (mtf['expect_mil_career']==3),
             ((mtf['expect_mil_career']!=1)&(mtf['expect_mil_career']!=2)&(mtf['expect_mil_career']!=3))]

milcr_lbls = ['No', 'Uncertain', 'Yes', 'Unknown']

mtf.expect_mil_career = np.select(milcr_conds, milcr_lbls)

In [1139]:
mtf.expect_mil_career.value_counts()

Unknown      348582
Uncertain      5007
Yes            3969
No             2252
Name: expect_mil_career, dtype: int64

In [1165]:
mtf_base.hash_lifetime_freq.fillna(value=-9, inplace=True)

In [1166]:
mtf.hash_lifetime_freq = mtf_base.hash_lifetime_freq.astype(int)

In [1168]:
hash_conds = [(mtf['hash_lifetime_freq']==1), (mtf['hash_lifetime_freq']==2),
            (mtf['hash_lifetime_freq']==3), (mtf['hash_lifetime_freq']==4),
            (mtf['hash_lifetime_freq']==5),(mtf['hash_lifetime_freq']==6),(mtf['hash_lifetime_freq']==7),
             ((mtf['hash_lifetime_freq']==-9)|(mtf['hash_lifetime_freq']==9))]

hash_lbls = ['None', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['hash_lifetime_freq'] = np.select(hash_conds, hash_lbls)

In [1169]:
mtf.hash_lifetime_freq.value_counts()

Unknown    324396
None        31488
1-2X         1566
3-5X          723
40+           713
6-9X          412
10-19X        282
20-39X        230
Name: hash_lifetime_freq, dtype: int64

In [1170]:
mtf_base.hash_yr_freq.fillna(value=-9, inplace=True)

In [1171]:
mtf.hash_yr_freq = mtf_base.hash_yr_freq.astype(int)

In [1173]:
hashy_conds = [(mtf['hash_yr_freq']==1), (mtf['hash_yr_freq']==2),
            (mtf['hash_yr_freq']==3), (mtf['hash_yr_freq']==4),
            (mtf['hash_yr_freq']==5),(mtf['hash_yr_freq']==6),(mtf['hash_yr_freq']==7),
             ((mtf['hash_yr_freq']==-9)|(mtf['hash_yr_freq']==9))]

hashy_lbls = ['None', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['hash_yr_freq'] = np.select(hashy_conds, hashy_lbls)

In [1174]:
mtf.hash_yr_freq.value_counts()

Unknown    299579
None        53235
1-2X         2741
3-5X         1163
40+          1124
6-9X          752
10-19X        687
20-39X        529
Name: hash_yr_freq, dtype: int64

In [1175]:
mtf_base.hash_month_freq.fillna(value=-9, inplace=True)

In [1176]:
mtf.hash_month_freq = mtf_base.hash_month_freq.astype(int)

In [1178]:
hashm_conds = [(mtf['hash_month_freq']==1), (mtf['hash_month_freq']==2),
            (mtf['hash_month_freq']==3), (mtf['hash_month_freq']==4),
            (mtf['hash_month_freq']==5),(mtf['hash_month_freq']==6),(mtf['hash_month_freq']==7),
             ((mtf['hash_month_freq']==-9)|(mtf['hash_month_freq']==9))]

hashm_lbls = ['None', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['hash_month_freq'] = np.select(hashm_conds, hashm_lbls)

In [1179]:
mtf.hash_month_freq.value_counts()

Unknown    324419
None        34077
1-2X          544
40+           228
3-5X          199
6-9X          140
10-19X        111
20-39X         92
Name: hash_month_freq, dtype: int64

In [1180]:
mtf_base.weed_lifetime_freq.fillna(value=-9, inplace=True)

In [1181]:
mtf.weed_lifetime_freq = mtf_base.weed_lifetime_freq.astype(int)

In [1183]:
weed_conds = [(mtf['weed_lifetime_freq']==1), (mtf['weed_lifetime_freq']==2),
            (mtf['weed_lifetime_freq']==3), (mtf['weed_lifetime_freq']==4),
            (mtf['weed_lifetime_freq']==5),(mtf['weed_lifetime_freq']==6),(mtf['weed_lifetime_freq']==7),
             ((mtf['weed_lifetime_freq']==-9)|(mtf['weed_lifetime_freq']==9))]

weed_lbls = ['None', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['weed_lifetime_freq'] = np.select(weed_conds, weed_lbls)

In [1184]:
mtf.weed_lifetime_freq.value_counts()

Unknown    324522
None        18971
40+          5615
1-2X         3339
3-5X         2165
10-19X       1856
20-39X       1686
6-9X         1656
Name: weed_lifetime_freq, dtype: int64

In [1185]:
mtf_base.weed_yr_freq.fillna(value=-9, inplace=True)

In [1186]:
mtf.weed_yr_freq = mtf_base.weed_yr_freq.astype(int)

In [1188]:
weedy_conds = [(mtf['weed_yr_freq']==1), (mtf['weed_yr_freq']==2),
            (mtf['weed_yr_freq']==3), (mtf['weed_yr_freq']==4),
            (mtf['weed_yr_freq']==5),(mtf['weed_yr_freq']==6),(mtf['weed_yr_freq']==7),
             ((mtf['weed_yr_freq']==-9)|(mtf['weed_yr_freq']==9))]

weedy_lbls = ['None', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['weed_yr_freq'] = np.select(weedy_conds, weedy_lbls)

In [1190]:
mtf.weed_yr_freq.value_counts()

Unknown    324573
None        22723
40+          3268
1-2X         3264
3-5X         1949
6-9X         1425
10-19X       1410
20-39X       1198
Name: weed_yr_freq, dtype: int64

In [1191]:
mtf_base.weed_month_freq.fillna(value=-9, inplace=True)

In [1192]:
mtf.weed_month_freq = mtf_base.weed_month_freq.astype(int)

In [1194]:
weedm_conds = [(mtf['weed_month_freq']==1), (mtf['weed_month_freq']==2),
            (mtf['weed_month_freq']==3), (mtf['weed_month_freq']==4),
            (mtf['weed_month_freq']==5),(mtf['weed_month_freq']==6),(mtf['weed_month_freq']==7),
             ((mtf['weed_month_freq']==-9)|(mtf['weed_month_freq']==9))]

weedm_lbls = ['None', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['weed_month_freq'] = np.select(weedm_conds, weedm_lbls)

In [1195]:
mtf.weed_month_freq.value_counts()

Unknown    324573
None        27476
1-2X         2553
40+          1383
3-5X         1200
10-19X        960
20-39X        834
6-9X          831
Name: weed_month_freq, dtype: int64

In [1196]:
mtf_base.evr_tobacco.fillna(value=-9, inplace=True)

In [1197]:
mtf.evr_tobacco = mtf_base.evr_tobacco.astype(int)

In [1199]:
tob_conds = [(mtf['evr_tobacco']==1),(mtf['evr_tobacco']==2),
            (mtf['evr_tobacco']==3),(mtf['evr_tobacco']==4),
            (mtf['evr_tobacco']==5),
            (mtf['evr_tobacco']==-9)]

tob_lbls = ['Never', '1-2x', '1-2x Week', '3-5x Week', '1x Day', 'Unknown']


mtf.evr_tobacco = np.select(tob_conds, tob_lbls)

In [1201]:
mtf.evr_tobacco.value_counts()

Unknown      342842
Never         14281
1-2x           1372
1-2x Week       597
1x Day          440
3-5x Week       278
Name: evr_tobacco, dtype: int64

In [1202]:
mtf_base.tobacco_month_freq.fillna(value=-9, inplace=True)

In [1203]:
mtf.tobacco_month_freq = mtf_base.tobacco_month_freq.astype(int)

In [1206]:
# Due to inconsistency in labeling criteria between studies
mtf.drop(labels='tobacco_month_freq', axis=1, inplace=True)

In [1217]:
mtf_base.bidi_yr_freq.fillna(value=-9, inplace=True)

In [1218]:
mtf.bidi_yr_freq = mtf_base.bidi_yr_freq.astype(int)

In [1219]:
bidi_conds = [(mtf['bidi_yr_freq']==1), (mtf['bidi_yr_freq']==2),
            (mtf['bidi_yr_freq']==3), (mtf['bidi_yr_freq']==4),
            (mtf['bidi_yr_freq']==5),(mtf['bidi_yr_freq']==6),(mtf['bidi_yr_freq']==7),
             (mtf['bidi_yr_freq']==-9)]

bidi_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['bidi_yr_freq'] = np.select(bidi_conds, bidi_lbls)

In [1220]:
mtf.bidi_yr_freq.value_counts()

Unknown    335916
0           23338
1-2X          274
3-5X           92
40+            66
6-9X           66
10-19X         37
20-39X         21
Name: bidi_yr_freq, dtype: int64

In [1221]:
mtf_base.kreteks_yr_freq.fillna(value=-9, inplace=True)

In [1222]:
mtf.kreteks_yr_freq = mtf_base.kreteks_yr_freq.astype(int)

In [1223]:
kre_conds = [(mtf['kreteks_yr_freq']==1), (mtf['kreteks_yr_freq']==2),
            (mtf['kreteks_yr_freq']==3), (mtf['kreteks_yr_freq']==4),
            (mtf['kreteks_yr_freq']==5),(mtf['kreteks_yr_freq']==6),(mtf['kreteks_yr_freq']==7),
             (mtf['kreteks_yr_freq']==-9)]

kre_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['kreteks_yr_freq'] = np.select(kre_conds, kre_lbls)

In [1224]:
mtf.kreteks_yr_freq.value_counts()

Unknown    333766
0           22308
1-2X         1238
3-5X          701
40+           542
6-9X          485
10-19X        444
20-39X        326
Name: kreteks_yr_freq, dtype: int64

In [1225]:
mtf_base.drunk_lifetime_freq.fillna(value=-9, inplace=True)

In [1226]:
mtf.drunk_lifetime_freq = mtf_base.drunk_lifetime_freq.astype(int)

In [1227]:
dlf_conds = [(mtf['drunk_lifetime_freq']==1), (mtf['drunk_lifetime_freq']==2),
            (mtf['drunk_lifetime_freq']==3), (mtf['drunk_lifetime_freq']==4),
            (mtf['drunk_lifetime_freq']==5),(mtf['drunk_lifetime_freq']==6),(mtf['drunk_lifetime_freq']==7),
             (mtf['drunk_lifetime_freq']==-9)]

dlf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['drunk_lifetime_freq'] = np.select(dlf_conds, dlf_lbls)

In [1228]:
mtf.drunk_lifetime_freq.value_counts()

Unknown    286338
0           43040
1-2X         9112
3-5X         5396
40+          4895
6-9X         4000
10-19X       3909
20-39X       3120
Name: drunk_lifetime_freq, dtype: int64

In [1229]:
mtf_base.drunk_yr_freq.fillna(value=-9, inplace=True)

In [1230]:
mtf.drunk_yr_freq = mtf_base.drunk_yr_freq.astype(int)

In [1231]:
dyf_conds = [(mtf['drunk_yr_freq']==1), (mtf['drunk_yr_freq']==2),
            (mtf['drunk_yr_freq']==3), (mtf['drunk_yr_freq']==4),
            (mtf['drunk_yr_freq']==5),(mtf['drunk_yr_freq']==6),(mtf['drunk_yr_freq']==7),
             (mtf['drunk_yr_freq']==-9)]

dyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['drunk_yr_freq'] = np.select(dyf_conds, dyf_lbls)

In [1232]:
mtf.drunk_yr_freq.value_counts()

Unknown    295435
0           39281
1-2X         9213
3-5X         4869
6-9X         3531
10-19X       3236
40+          2287
20-39X       1958
Name: drunk_yr_freq, dtype: int64

In [1233]:
mtf_base.drunk_month_freq.fillna(value=-9, inplace=True)

In [1234]:
mtf.drunk_month_freq = mtf_base.drunk_month_freq.astype(int)

In [1235]:
dmf_conds = [(mtf['drunk_month_freq']==1), (mtf['drunk_month_freq']==2),
            (mtf['drunk_month_freq']==3), (mtf['drunk_month_freq']==4),
            (mtf['drunk_month_freq']==5),(mtf['drunk_month_freq']==6),(mtf['drunk_month_freq']==7),
             (mtf['drunk_month_freq']==-9)]

dmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['drunk_month_freq'] = np.select(dmf_conds, dmf_lbls)

In [1236]:
mtf.drunk_month_freq.value_counts()

Unknown    300009
0           43892
1-2X         8001
3-5X         3489
6-9X         1959
10-19X       1236
40+           747
20-39X        477
Name: drunk_month_freq, dtype: int64

In [1237]:
mtf_base.beer_lifetime_freq.fillna(value=-9, inplace=True)

In [1238]:
mtf.beer_lifetime_freq = mtf_base.beer_lifetime_freq.astype(int)

In [1239]:
blf_conds = [(mtf['beer_lifetime_freq']==1), (mtf['beer_lifetime_freq']==2),
            (mtf['beer_lifetime_freq']==3), (mtf['beer_lifetime_freq']==4),
            (mtf['beer_lifetime_freq']==5),(mtf['beer_lifetime_freq']==6),(mtf['beer_lifetime_freq']==7),
             (mtf['beer_lifetime_freq']==-9)]

blf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['beer_lifetime_freq'] = np.select(blf_conds, blf_lbls)

In [1240]:
mtf.beer_lifetime_freq.value_counts()

Unknown    346021
0            4778
40+          2216
1-2X         1909
3-5X         1386
10-19X       1298
20-39X       1116
6-9X         1086
Name: beer_lifetime_freq, dtype: int64

In [1241]:
mtf_base.beer_yr_freq.fillna(value=-9, inplace=True)

In [1242]:
mtf.beer_yr_freq = mtf_base.beer_yr_freq.astype(int)

In [1243]:
byf_conds = [(mtf['beer_yr_freq']==1), (mtf['beer_yr_freq']==2),
            (mtf['beer_yr_freq']==3), (mtf['beer_yr_freq']==4),
            (mtf['beer_yr_freq']==5),(mtf['beer_yr_freq']==6),(mtf['beer_yr_freq']==7),
             (mtf['beer_yr_freq']==-9)]

byf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['beer_yr_freq'] = np.select(byf_conds, byf_lbls)

In [1244]:
mtf.beer_yr_freq.value_counts()

Unknown    346110
0            6563
1-2X         1989
3-5X         1419
6-9X         1055
10-19X       1053
40+           911
20-39X        710
Name: beer_yr_freq, dtype: int64

In [1245]:
mtf_base.beer_month_freq.fillna(value=-9, inplace=True)

In [1246]:
mtf.beer_month_freq = mtf_base.beer_month_freq.astype(int)

In [1247]:
bmf_conds = [(mtf['beer_month_freq']==1), (mtf['beer_month_freq']==2),
            (mtf['beer_month_freq']==3), (mtf['beer_month_freq']==4),
            (mtf['beer_month_freq']==5),(mtf['beer_month_freq']==6),(mtf['beer_month_freq']==7),
             (mtf['beer_month_freq']==-9)]

bmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['beer_month_freq'] = np.select(bmf_conds, bmf_lbls)

In [1248]:
mtf.beer_month_freq.value_counts()

Unknown    346157
0            9097
1-2X         1956
3-5X         1140
6-9X          721
10-19X        432
40+           165
20-39X        142
Name: beer_month_freq, dtype: int64

In [1250]:
mtf_base.beer_2week.fillna(value=-9, inplace=True)

In [1251]:
mtf.beer_2week = mtf_base.beer_2week.astype(int)

In [1252]:
b2f_conds = [(mtf['beer_2week']==1), (mtf['beer_2week']==2),
            (mtf['beer_2week']==3), (mtf['beer_2week']==4),
            (mtf['beer_2week']==5),(mtf['beer_2week']==6),
             ((mtf['beer_2week']==7)|(mtf['beer_2week']==-9))]

b2f_lbls = ['0', '1', '2', '3-5', '6-9', '10+', 'Unknown']

mtf['beer_2week'] = np.select(b2f_conds, b2f_lbls)

In [1253]:
mtf.beer_2week.value_counts()

Unknown    346335
0           10186
1            1159
2             822
3-5           779
6-9           316
10+           213
Name: beer_2week, dtype: int64

In [1254]:
mtf_base.winecool_lifetime_freq.fillna(value=-9, inplace=True)

In [1255]:
mtf.winecool_lifetime_freq = mtf_base.winecool_lifetime_freq.astype(int)

In [1256]:
wclf_conds = [(mtf['winecool_lifetime_freq']==1), (mtf['winecool_lifetime_freq']==2),
            (mtf['winecool_lifetime_freq']==3), (mtf['winecool_lifetime_freq']==4),
            (mtf['winecool_lifetime_freq']==5),(mtf['winecool_lifetime_freq']==6),(mtf['winecool_lifetime_freq']==7),
             (mtf['winecool_lifetime_freq']==-9)]

wclf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['winecool_lifetime_freq'] = np.select(wclf_conds, wclf_lbls)

In [1257]:
mtf.winecool_lifetime_freq.value_counts()

Unknown    346016
0            7285
1-2X         2113
3-5X         1586
6-9X         1012
10-19X        834
40+           496
20-39X        468
Name: winecool_lifetime_freq, dtype: int64

In [1259]:
mtf_base.winecool_yr_freq.fillna(value=-9, inplace=True)

In [1260]:
mtf.winecool_yr_freq = mtf_base.winecool_yr_freq.astype(int)

In [1261]:
wcyf_conds = [(mtf['winecool_yr_freq']==1), (mtf['winecool_yr_freq']==2),
            (mtf['winecool_yr_freq']==3), (mtf['winecool_yr_freq']==4),
            (mtf['winecool_yr_freq']==5),(mtf['winecool_yr_freq']==6),(mtf['winecool_yr_freq']==7),
             (mtf['winecool_yr_freq']==-9)]

wcyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['winecool_yr_freq'] = np.select(wcyf_conds, wcyf_lbls)

In [1262]:
mtf.winecool_yr_freq.value_counts()

Unknown    346079
0            9675
1-2X         1952
3-5X          980
6-9X          523
10-19X        307
40+           158
20-39X        136
Name: winecool_yr_freq, dtype: int64

In [1263]:
mtf_base.winecool_month_freq.fillna(value=-9, inplace=True)

In [1264]:
mtf.winecool_month_freq = mtf_base.winecool_month_freq.astype(int)

In [1265]:
wcmf_conds = [(mtf['winecool_month_freq']==1), (mtf['winecool_month_freq']==2),
            (mtf['winecool_month_freq']==3), (mtf['winecool_month_freq']==4),
            (mtf['winecool_month_freq']==5),(mtf['winecool_month_freq']==6),(mtf['winecool_month_freq']==7),
             (mtf['winecool_month_freq']==-9)]

wcmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['winecool_month_freq'] = np.select(wcmf_conds, wcmf_lbls)

In [1266]:
mtf.winecool_month_freq.value_counts()

Unknown    346146
0           12066
1-2X          986
3-5X          298
6-9X          151
10-19X         83
40+            55
20-39X         25
Name: winecool_month_freq, dtype: int64

In [1267]:
mtf_base.winecool_2week.fillna(value=-9, inplace=True)

In [1268]:
mtf.winecool_2week = mtf_base.winecool_2week.astype(int)

In [1269]:
# Think back over the LAST TWO WEEKS. 
# How many times have you had five or more 12-ounce 
# bottles of wine cooler (or the
# equivalent) in a row?

wc2f_conds = [(mtf['winecool_2week']==1), (mtf['winecool_2week']==2),
            (mtf['winecool_2week']==3), (mtf['winecool_2week']==4),
            (mtf['winecool_2week']==5),(mtf['winecool_2week']==6),
             ((mtf['winecool_2week']==7)|(mtf['winecool_2week']==-9))]

wc2f_lbls = ['0', '1', '2', '3-5', '6-9', '10+', 'Unknown']

mtf['winecool_2week'] = np.select(wc2f_conds, wc2f_lbls)

In [1270]:
mtf.winecool_2week.value_counts()

Unknown    346409
0           11854
1             673
2             426
3-5           235
6-9           123
10+            90
Name: winecool_2week, dtype: int64

In [1271]:
mtf_base.wine_lifetime_freq.fillna(value=-9, inplace=True)

In [1272]:
mtf.wine_lifetime_freq = mtf_base.wine_lifetime_freq.astype(int)

In [1273]:
wlf_conds = [(mtf['wine_lifetime_freq']==1), (mtf['wine_lifetime_freq']==2),
            (mtf['wine_lifetime_freq']==3), (mtf['wine_lifetime_freq']==4),
            (mtf['wine_lifetime_freq']==5),(mtf['wine_lifetime_freq']==6),(mtf['wine_lifetime_freq']==7),
             (mtf['wine_lifetime_freq']==-9)]

wlf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['wine_lifetime_freq'] = np.select(wlf_conds, wlf_lbls)

In [1274]:
mtf.wine_lifetime_freq.value_counts()

Unknown    346085
0            7248
1-2X         2666
3-5X         1595
6-9X          871
10-19X        615
40+           430
20-39X        300
Name: wine_lifetime_freq, dtype: int64

In [1275]:
mtf_base.wine_yr_freq.fillna(value=-9, inplace=True)

In [1276]:
mtf.wine_yr_freq = mtf_base.wine_yr_freq.astype(int)

In [1277]:
wyf_conds = [(mtf['wine_yr_freq']==1), (mtf['wine_yr_freq']==2),
            (mtf['wine_yr_freq']==3), (mtf['wine_yr_freq']==4),
            (mtf['wine_yr_freq']==5),(mtf['wine_yr_freq']==6),(mtf['wine_yr_freq']==7),
             (mtf['wine_yr_freq']==-9)]

wyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['wine_yr_freq'] = np.select(wyf_conds, wyf_lbls)

In [1278]:
mtf.wine_yr_freq.value_counts()

Unknown    346151
0            9435
1-2X         2405
3-5X          869
6-9X          426
10-19X        273
40+           145
20-39X        106
Name: wine_yr_freq, dtype: int64

In [1279]:
mtf_base.wine_month_freq.fillna(value=-9, inplace=True)

In [1280]:
mtf.wine_month_freq = mtf_base.wine_month_freq.astype(int)

In [1281]:
wmf_conds = [(mtf['wine_month_freq']==1), (mtf['wine_month_freq']==2),
            (mtf['wine_month_freq']==3), (mtf['wine_month_freq']==4),
            (mtf['wine_month_freq']==5),(mtf['wine_month_freq']==6),(mtf['wine_month_freq']==7),
             (mtf['wine_month_freq']==-9)]

wmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['wine_month_freq'] = np.select(wmf_conds, wmf_lbls)

In [1282]:
mtf.wine_month_freq.value_counts()

Unknown    346193
0           11991
1-2X         1079
3-5X          298
6-9X          121
40+            55
10-19X         55
20-39X         18
Name: wine_month_freq, dtype: int64

In [1283]:
mtf_base.wine_2week.fillna(value=-9, inplace=True)

In [1284]:
mtf.wine_2week = mtf_base.wine_2week.astype(int)

In [1285]:
# Think back over the LAST TWO WEEKS. How many times have you had 
# five or more 4-ounce glasses of wine in a row 
# (or the equivalent, which is about three-fourths of a bottle)?

w2f_conds = [(mtf['wine_2week']==1), (mtf['wine_2week']==2),
            (mtf['wine_2week']==3), (mtf['wine_2week']==4),
            (mtf['wine_2week']==5),(mtf['wine_2week']==6),
             ((mtf['wine_2week']==7)|(mtf['wine_2week']==-9))]

w2f_lbls = ['0', '1', '2', '3-5', '6-9', '10+', 'Unknown']

mtf['wine_2week'] = np.select(w2f_conds, w2f_lbls)

In [1286]:
mtf.wine_2week.value_counts()

Unknown    346515
0           11719
1             509
2             351
3-5           255
6-9           252
10+           209
Name: wine_2week, dtype: int64

In [1287]:
mtf_base.liqr_lifetime_freq.fillna(value=-9, inplace=True)

In [1288]:
mtf.liqr_lifetime_freq = mtf_base.liqr_lifetime_freq.astype(int)

In [1289]:
lilf_conds = [(mtf['liqr_lifetime_freq']==1), (mtf['liqr_lifetime_freq']==2),
            (mtf['liqr_lifetime_freq']==3), (mtf['liqr_lifetime_freq']==4),
            (mtf['liqr_lifetime_freq']==5),(mtf['liqr_lifetime_freq']==6),(mtf['liqr_lifetime_freq']==7),
             (mtf['liqr_lifetime_freq']==-9)]

lilf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['liqr_lifetime_freq'] = np.select(lilf_conds, lilf_lbls)

In [1290]:
mtf.liqr_lifetime_freq.value_counts()

Unknown    346158
0            4626
40+          1707
1-2X         1659
10-19X       1523
3-5X         1516
6-9X         1372
20-39X       1249
Name: liqr_lifetime_freq, dtype: int64

In [1291]:
mtf_base.liqr_yr_freq.fillna(value=-9, inplace=True)

In [1292]:
mtf.liqr_yr_freq = mtf_base.liqr_yr_freq.astype(int)

In [1293]:
liyf_conds = [(mtf['liqr_yr_freq']==1), (mtf['liqr_yr_freq']==2),
            (mtf['liqr_yr_freq']==3), (mtf['liqr_yr_freq']==4),
            (mtf['liqr_yr_freq']==5),(mtf['liqr_yr_freq']==6),(mtf['liqr_yr_freq']==7),
             (mtf['liqr_yr_freq']==-9)]

liyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['liqr_yr_freq'] = np.select(liyf_conds, liyf_lbls)

In [1294]:
mtf.liqr_yr_freq.value_counts()

Unknown    346229
0            6195
1-2X         2162
3-5X         1625
6-9X         1233
10-19X       1125
20-39X        637
40+           604
Name: liqr_yr_freq, dtype: int64

In [1295]:
mtf_base.liqr_month_freq.fillna(value=-9, inplace=True)

In [1296]:
mtf.liqr_month_freq = mtf_base.liqr_month_freq.astype(int)

In [1297]:
limf_conds = [(mtf['liqr_month_freq']==1), (mtf['liqr_month_freq']==2),
            (mtf['liqr_month_freq']==3), (mtf['liqr_month_freq']==4),
            (mtf['liqr_month_freq']==5),(mtf['liqr_month_freq']==6),(mtf['liqr_month_freq']==7),
             (mtf['liqr_month_freq']==-9)]

limf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['liqr_month_freq'] = np.select(limf_conds, limf_lbls)

In [1298]:
mtf.liqr_month_freq.value_counts()

Unknown    346345
0            9076
1-2X         2116
3-5X         1163
6-9X          566
10-19X        305
20-39X        126
40+           113
Name: liqr_month_freq, dtype: int64

In [1299]:
mtf_base.liqr_2week.fillna(value=-9, inplace=True)

In [1300]:
mtf.liqr_2week = mtf_base.liqr_2week.astype(int)

In [1301]:
# Think back over the LAST TWO WEEKS. How many times have you had 
# five or more mixed drinks or shot glasses of hard liquor
# in a row?

li2f_conds = [(mtf['liqr_2week']==1), (mtf['liqr_2week']==2),
            (mtf['liqr_2week']==3), (mtf['liqr_2week']==4),
            (mtf['liqr_2week']==5),(mtf['liqr_2week']==6),
             ((mtf['liqr_2week']==7)|(mtf['liqr_2week']==-9))]

li2f_lbls = ['0', '1', '2', '3-5', '6-9', '10+', 'Unknown']

mtf['liqr_2week'] = np.select(li2f_conds, li2f_lbls)

In [1302]:
mtf.liqr_2week.value_counts()

Unknown    346687
0            9344
1            1289
2             968
3-5           834
6-9           387
10+           301
Name: liqr_2week, dtype: int64

In [1303]:
mtf_base.flvrdalc_lifetime_freq.fillna(value=-9, inplace=True)

In [1304]:
mtf.flvrdalc_lifetime_freq = mtf_base.flvrdalc_lifetime_freq.astype(int)

In [1305]:
falf_conds = [(mtf['flvrdalc_lifetime_freq']==1), (mtf['flvrdalc_lifetime_freq']==2),
            (mtf['flvrdalc_lifetime_freq']==3), (mtf['flvrdalc_lifetime_freq']==4),
            (mtf['flvrdalc_lifetime_freq']==5),(mtf['flvrdalc_lifetime_freq']==6),(mtf['flvrdalc_lifetime_freq']==7),
             (mtf['flvrdalc_lifetime_freq']==-9)]

falf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['flvrdalc_lifetime_freq'] = np.select(falf_conds, falf_lbls)

In [1306]:
mtf.flvrdalc_lifetime_freq.value_counts()

Unknown    345078
0            5075
1-2X         2202
3-5X         1863
10-19X       1549
6-9X         1492
40+          1459
20-39X       1092
Name: flvrdalc_lifetime_freq, dtype: int64

In [1307]:
mtf_base.flvrdalc_yr_freq.fillna(value=-9, inplace=True)

In [1308]:
mtf.flvrdalc_yr_freq = mtf_base.flvrdalc_yr_freq.astype(int)

In [1309]:
fayf_conds = [(mtf['flvrdalc_yr_freq']==1), (mtf['flvrdalc_yr_freq']==2),
            (mtf['flvrdalc_yr_freq']==3), (mtf['flvrdalc_yr_freq']==4),
            (mtf['flvrdalc_yr_freq']==5),(mtf['flvrdalc_yr_freq']==6),(mtf['flvrdalc_yr_freq']==7),
             (mtf['flvrdalc_yr_freq']==-9)]

fayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['flvrdalc_yr_freq'] = np.select(fayf_conds, fayf_lbls)

In [1310]:
mtf.flvrdalc_yr_freq.value_counts()

Unknown    345106
0            7408
1-2X         2590
3-5X         1716
6-9X         1128
10-19X        936
20-39X        486
40+           440
Name: flvrdalc_yr_freq, dtype: int64

In [1311]:
mtf_base.flvrdalc_month_freq.fillna(value=-9, inplace=True)

In [1312]:
mtf.flvrdalc_month_freq = mtf_base.flvrdalc_month_freq.astype(int)

In [1313]:
famf_conds = [(mtf['flvrdalc_month_freq']==1), (mtf['flvrdalc_month_freq']==2),
            (mtf['flvrdalc_month_freq']==3), (mtf['flvrdalc_month_freq']==4),
            (mtf['flvrdalc_month_freq']==5),(mtf['flvrdalc_month_freq']==6),(mtf['flvrdalc_month_freq']==7),
             (mtf['flvrdalc_month_freq']==-9)]

famf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['flvrdalc_month_freq'] = np.select(famf_conds, famf_lbls)

In [1314]:
mtf.flvrdalc_month_freq.value_counts()

Unknown    345065
0           11116
1-2X         1986
3-5X          808
6-9X          432
10-19X        211
40+           118
20-39X         74
Name: flvrdalc_month_freq, dtype: int64

In [1315]:
mtf_base.pcp_lifetime_freq.fillna(value=-9, inplace=True)

In [1316]:
mtf.pcp_lifetime_freq = mtf_base.pcp_lifetime_freq.astype(int)

In [1317]:
pcplf_conds = [(mtf['pcp_lifetime_freq']==1), (mtf['pcp_lifetime_freq']==2),
            (mtf['pcp_lifetime_freq']==3), (mtf['pcp_lifetime_freq']==4),
            (mtf['pcp_lifetime_freq']==5),(mtf['pcp_lifetime_freq']==6),(mtf['pcp_lifetime_freq']==7),
             (mtf['pcp_lifetime_freq']==-9)]

pcplf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pcp_lifetime_freq'] = np.select(pcplf_conds, pcplf_lbls)

In [1318]:
mtf.pcp_lifetime_freq.value_counts()

Unknown    344671
0           14864
1-2X          147
40+            44
3-5X           33
6-9X           25
10-19X         16
20-39X         10
Name: pcp_lifetime_freq, dtype: int64

In [1319]:
mtf_base.pcp_yr_freq.fillna(value=-9, inplace=True)

In [1320]:
mtf.pcp_yr_freq = mtf_base.pcp_yr_freq.astype(int)

In [1321]:
pcpyf_conds = [(mtf['pcp_yr_freq']==1), (mtf['pcp_yr_freq']==2),
            (mtf['pcp_yr_freq']==3), (mtf['pcp_yr_freq']==4),
            (mtf['pcp_yr_freq']==5),(mtf['pcp_yr_freq']==6),(mtf['pcp_yr_freq']==7),
             (mtf['pcp_yr_freq']==-9)]

pcpyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pcp_yr_freq'] = np.select(pcpyf_conds, pcpyf_lbls)

In [1322]:
mtf.pcp_yr_freq.value_counts()

Unknown    344665
0           15000
1-2X           46
40+            32
3-5X           28
6-9X           25
10-19X          7
20-39X          7
Name: pcp_yr_freq, dtype: int64

In [1323]:
mtf_base.pcp_month_freq.fillna(value=-9, inplace=True)

In [1324]:
mtf.pcp_month_freq = mtf_base.pcp_month_freq.astype(int)

In [1325]:
pcpmf_conds = [(mtf['pcp_month_freq']==1), (mtf['pcp_month_freq']==2),
            (mtf['pcp_month_freq']==3), (mtf['pcp_month_freq']==4),
            (mtf['pcp_month_freq']==5),(mtf['pcp_month_freq']==6),(mtf['pcp_month_freq']==7),
             (mtf['pcp_month_freq']==-9)]

pcpmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pcp_month_freq'] = np.select(pcpmf_conds, pcpmf_lbls)

In [1326]:
mtf.pcp_month_freq.value_counts()

Unknown    342138
0           17231
1-2X          191
3-5X           71
6-9X           58
40+            55
10-19X         51
20-39X         15
Name: pcp_month_freq, dtype: int64

In [1330]:
mtf_base.mdma_lifetime_freq.fillna(value=-9, inplace=True)

In [1331]:
mtf.mdma_lifetime_freq = mtf_base.mdma_lifetime_freq.astype(int)

In [1332]:
mdmalf_conds = [(mtf['mdma_lifetime_freq']==1), (mtf['mdma_lifetime_freq']==2),
            (mtf['mdma_lifetime_freq']==3), (mtf['mdma_lifetime_freq']==4),
            (mtf['mdma_lifetime_freq']==5),(mtf['mdma_lifetime_freq']==6),(mtf['mdma_lifetime_freq']==7),
             (mtf['mdma_lifetime_freq']==-9)]

mdmalf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['mdma_lifetime_freq'] = np.select(mdmalf_conds, mdmalf_lbls)

In [1333]:
mtf.mdma_lifetime_freq.value_counts()

Unknown    279490
0           75728
1-2X         2493
3-5X          872
6-9X          477
10-19X        326
40+           260
20-39X        164
Name: mdma_lifetime_freq, dtype: int64

In [1334]:
mtf_base.mdma_yr_freq.fillna(value=-9, inplace=True)

In [1335]:
mtf.mdma_yr_freq = mtf_base.mdma_yr_freq.astype(int)

In [1336]:
mdmayf_conds = [(mtf['mdma_yr_freq']==1), (mtf['mdma_yr_freq']==2),
            (mtf['mdma_yr_freq']==3), (mtf['mdma_yr_freq']==4),
            (mtf['mdma_yr_freq']==5),(mtf['mdma_yr_freq']==6),(mtf['mdma_yr_freq']==7),
             (mtf['mdma_yr_freq']==-9)]

mdmayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['mdma_yr_freq'] = np.select(mdmayf_conds, mdmayf_lbls)

In [1337]:
mtf.mdma_yr_freq.value_counts()

Unknown    279497
0           77550
1-2X         1657
3-5X          502
6-9X          250
10-19X        166
40+           122
20-39X         66
Name: mdma_yr_freq, dtype: int64

In [1338]:
mtf_base.mdma_month_freq.fillna(value=-9, inplace=True)

In [1339]:
mtf.mdma_month_freq = mtf_base.mdma_month_freq.astype(int)

In [1340]:
mdmamf_conds = [(mtf['mdma_month_freq']==1), (mtf['mdma_month_freq']==2),
            (mtf['mdma_month_freq']==3), (mtf['mdma_month_freq']==4),
            (mtf['mdma_month_freq']==5),(mtf['mdma_month_freq']==6),(mtf['mdma_month_freq']==7),
             (mtf['mdma_month_freq']==-9)]

mdmamf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['mdma_month_freq'] = np.select(mdmamf_conds, mdmamf_lbls)

In [1341]:
mtf.mdma_month_freq.value_counts()

Unknown    270500
0           88145
1-2X          723
3-5X          175
6-9X           94
40+            91
10-19X         59
20-39X         23
Name: mdma_month_freq, dtype: int64

In [1346]:
mtf_base.crack_lifetime_freq.fillna(value=-9, inplace=True)

In [1347]:
mtf.crack_lifetime_freq = mtf_base.crack_lifetime_freq.astype(int)

In [1348]:
cralf_conds = [(mtf['crack_lifetime_freq']==1), (mtf['crack_lifetime_freq']==2),
            (mtf['crack_lifetime_freq']==3), (mtf['crack_lifetime_freq']==4),
            (mtf['crack_lifetime_freq']==5),(mtf['crack_lifetime_freq']==6),(mtf['crack_lifetime_freq']==7),
             (mtf['crack_lifetime_freq']==-9)]

cralf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['crack_lifetime_freq'] = np.select(cralf_conds, cralf_lbls)

In [1349]:
mtf.crack_lifetime_freq.value_counts()

0          191161
Unknown    163083
1-2X         2671
3-5X          950
40+           693
6-9X          532
10-19X        441
20-39X        279
Name: crack_lifetime_freq, dtype: int64

In [1350]:
mtf_base.crack_yr_freq.fillna(value=-9, inplace=True)

In [1351]:
mtf.crack_yr_freq = mtf_base.crack_yr_freq.astype(int)

In [1352]:
crayf_conds = [(mtf['crack_yr_freq']==1), (mtf['crack_yr_freq']==2),
            (mtf['crack_yr_freq']==3), (mtf['crack_yr_freq']==4),
            (mtf['crack_yr_freq']==5),(mtf['crack_yr_freq']==6),(mtf['crack_yr_freq']==7),
             (mtf['crack_yr_freq']==-9)]

crayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['crack_yr_freq'] = np.select(crayf_conds, crayf_lbls)

In [1353]:
mtf.crack_yr_freq.value_counts()

0          193410
Unknown    163029
1-2X         1544
3-5X          624
6-9X          412
40+           367
10-19X        263
20-39X        161
Name: crack_yr_freq, dtype: int64

In [1354]:
mtf_base.crack_month_freq.fillna(value=-9, inplace=True)

In [1355]:
mtf.crack_month_freq = mtf_base.crack_month_freq.astype(int)

In [1356]:
cramf_conds = [(mtf['crack_month_freq']==1), (mtf['crack_month_freq']==2),
            (mtf['crack_month_freq']==3), (mtf['crack_month_freq']==4),
            (mtf['crack_month_freq']==5),(mtf['crack_month_freq']==6),(mtf['crack_month_freq']==7),
             (mtf['crack_month_freq']==-9)]

cramf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['crack_month_freq'] = np.select(cramf_conds, cramf_lbls)

In [1357]:
mtf.crack_month_freq.value_counts()

0          190414
Unknown    167412
1-2X          931
3-5X          360
40+           248
6-9X          233
10-19X        146
20-39X         66
Name: crack_month_freq, dtype: int64

In [1358]:
mtf_base.othcoke_lifetime_freq.fillna(value=-9, inplace=True)

In [1359]:
mtf.othcoke_lifetime_freq = mtf_base.othcoke_lifetime_freq.astype(int)

In [1360]:
oclf_conds = [(mtf['othcoke_lifetime_freq']==1), (mtf['othcoke_lifetime_freq']==2),
            (mtf['othcoke_lifetime_freq']==3), (mtf['othcoke_lifetime_freq']==4),
            (mtf['othcoke_lifetime_freq']==5),(mtf['othcoke_lifetime_freq']==6),(mtf['othcoke_lifetime_freq']==7),
             (mtf['othcoke_lifetime_freq']==-9)]

oclf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['othcoke_lifetime_freq'] = np.select(oclf_conds, oclf_lbls)

In [1361]:
mtf.othcoke_lifetime_freq.value_counts()

Unknown    227558
0          126187
1-2X         2916
3-5X          994
40+           694
6-9X          546
10-19X        538
20-39X        377
Name: othcoke_lifetime_freq, dtype: int64

In [1362]:
mtf_base.othcoke_yr_freq.fillna(value=-9, inplace=True)

In [1363]:
mtf.othcoke_yr_freq = mtf_base.othcoke_yr_freq.astype(int)

In [1364]:
ocyf_conds = [(mtf['othcoke_yr_freq']==1), (mtf['othcoke_yr_freq']==2),
            (mtf['othcoke_yr_freq']==3), (mtf['othcoke_yr_freq']==4),
            (mtf['othcoke_yr_freq']==5),(mtf['othcoke_yr_freq']==6),(mtf['othcoke_yr_freq']==7),
             (mtf['othcoke_yr_freq']==-9)]

ocyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['othcoke_yr_freq'] = np.select(ocyf_conds, ocyf_lbls)

In [1365]:
mtf.othcoke_yr_freq.value_counts()

Unknown    227523
0          128586
1-2X         1784
3-5X          647
6-9X          415
10-19X        350
40+           291
20-39X        214
Name: othcoke_yr_freq, dtype: int64

In [1366]:
mtf_base.othcoke_month_freq.fillna(value=-9, inplace=True)

In [1367]:
mtf.othcoke_month_freq = mtf_base.othcoke_month_freq.astype(int)

In [1368]:
ocmf_conds = [(mtf['othcoke_month_freq']==1), (mtf['othcoke_month_freq']==2),
            (mtf['othcoke_month_freq']==3), (mtf['othcoke_month_freq']==4),
            (mtf['othcoke_month_freq']==5),(mtf['othcoke_month_freq']==6),(mtf['othcoke_month_freq']==7),
             (mtf['othcoke_month_freq']==-9)]

ocmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['othcoke_month_freq'] = np.select(ocmf_conds, ocmf_lbls)

In [1369]:
mtf.othcoke_month_freq.value_counts()

Unknown    232463
0          125672
1-2X          914
3-5X          314
6-9X          178
10-19X        130
40+           102
20-39X         37
Name: othcoke_month_freq, dtype: int64

In [1370]:
mtf_base.ritalin_yr_freq.fillna(value=-9, inplace=True)

In [1371]:
mtf.ritalin_yr_freq = mtf_base.ritalin_yr_freq.astype(int)

In [1372]:
rityf_conds = [(mtf['ritalin_yr_freq']==1), (mtf['ritalin_yr_freq']==2),
            (mtf['ritalin_yr_freq']==3), (mtf['ritalin_yr_freq']==4),
            (mtf['ritalin_yr_freq']==5),(mtf['ritalin_yr_freq']==6),(mtf['ritalin_yr_freq']==7),
             (mtf['ritalin_yr_freq']==-9)]

rityf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['ritalin_yr_freq'] = np.select(rityf_conds, rityf_lbls)

In [1373]:
mtf.ritalin_yr_freq.value_counts()

Unknown    299199
0           59013
1-2X          687
3-5X          337
6-9X          186
40+           168
10-19X        147
20-39X         73
Name: ritalin_yr_freq, dtype: int64

In [1374]:
mtf_base.dietpill_lifetime_freq.fillna(value=-9, inplace=True)

In [1375]:
mtf.dietpill_lifetime_freq = mtf_base.dietpill_lifetime_freq.astype(int)

In [1376]:
dplf_conds = [(mtf['dietpill_lifetime_freq']==1), (mtf['dietpill_lifetime_freq']==2),
            (mtf['dietpill_lifetime_freq']==3), (mtf['dietpill_lifetime_freq']==4),
            (mtf['dietpill_lifetime_freq']==5),(mtf['dietpill_lifetime_freq']==6),(mtf['dietpill_lifetime_freq']==7),
             (mtf['dietpill_lifetime_freq']==-9)]

dplf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['dietpill_lifetime_freq'] = np.select(dplf_conds, dplf_lbls)

In [1377]:
mtf.dietpill_lifetime_freq.value_counts()

Unknown    343534
0           14715
1-2X          572
3-5X          271
40+           251
6-9X          177
10-19X        157
20-39X        133
Name: dietpill_lifetime_freq, dtype: int64

In [1378]:
mtf_base.dietpill_yr_freq.fillna(value=-9, inplace=True)

In [1379]:
mtf.dietpill_yr_freq = mtf_base.dietpill_yr_freq.astype(int)

In [1380]:
dpyf_conds = [(mtf['dietpill_yr_freq']==1), (mtf['dietpill_yr_freq']==2),
            (mtf['dietpill_yr_freq']==3), (mtf['dietpill_yr_freq']==4),
            (mtf['dietpill_yr_freq']==5),(mtf['dietpill_yr_freq']==6),(mtf['dietpill_yr_freq']==7),
             (mtf['dietpill_yr_freq']==-9)]

dpyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['dietpill_yr_freq'] = np.select(dpyf_conds, dpyf_lbls)

In [1381]:
mtf.dietpill_yr_freq.value_counts()

Unknown    343530
0           15223
1-2X          390
3-5X          187
10-19X        131
40+           124
6-9X          118
20-39X        107
Name: dietpill_yr_freq, dtype: int64

In [1382]:
mtf_base.dietpill_month_freq.fillna(value=-9, inplace=True)

In [1383]:
mtf.dietpill_month_freq = mtf_base.dietpill_month_freq.astype(int)

In [1384]:
dpmf_conds = [(mtf['dietpill_month_freq']==1), (mtf['dietpill_month_freq']==2),
            (mtf['dietpill_month_freq']==3), (mtf['dietpill_month_freq']==4),
            (mtf['dietpill_month_freq']==5),(mtf['dietpill_month_freq']==6),(mtf['dietpill_month_freq']==7),
             (mtf['dietpill_month_freq']==-9)]

dpmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['dietpill_month_freq'] = np.select(dpmf_conds, dpmf_lbls)

In [1385]:
mtf.dietpill_month_freq.value_counts()

Unknown    343530
0           15694
1-2X          226
3-5X          101
6-9X           83
10-19X         74
20-39X         56
40+            46
Name: dietpill_month_freq, dtype: int64

In [1386]:
mtf_base.staawak_lifetime_freq.fillna(value=-9, inplace=True)

In [1387]:
mtf.staawak_lifetime_freq = mtf_base.staawak_lifetime_freq.astype(int)

In [1388]:
stalf_conds = [(mtf['staawak_lifetime_freq']==1), (mtf['staawak_lifetime_freq']==2),
            (mtf['staawak_lifetime_freq']==3), (mtf['staawak_lifetime_freq']==4),
            (mtf['staawak_lifetime_freq']==5),(mtf['staawak_lifetime_freq']==6),(mtf['staawak_lifetime_freq']==7),
             (mtf['staawak_lifetime_freq']==-9)]

stalf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['staawak_lifetime_freq'] = np.select(stalf_conds, stalf_lbls)

In [1389]:
mtf.staawak_lifetime_freq.value_counts()

Unknown    343545
0           14693
1-2X          750
3-5X          285
6-9X          174
40+           149
10-19X        136
20-39X         78
Name: staawak_lifetime_freq, dtype: int64

In [1390]:
mtf_base.staawak_yr_freq.fillna(value=-9, inplace=True)

In [1391]:
mtf.staawak_yr_freq = mtf_base.staawak_yr_freq.astype(int)

In [1392]:
stayf_conds = [(mtf['staawak_yr_freq']==1), (mtf['staawak_yr_freq']==2),
            (mtf['staawak_yr_freq']==3), (mtf['staawak_yr_freq']==4),
            (mtf['staawak_yr_freq']==5),(mtf['staawak_yr_freq']==6),(mtf['staawak_yr_freq']==7),
             (mtf['staawak_yr_freq']==-9)]

stayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['staawak_yr_freq'] = np.select(stayf_conds, stayf_lbls)

In [1393]:
mtf.staawak_yr_freq.value_counts()

Unknown    343546
0           15269
1-2X          514
3-5X          167
6-9X          111
10-19X         85
40+            69
20-39X         49
Name: staawak_yr_freq, dtype: int64

In [1394]:
mtf_base.staawak_month_freq.fillna(value=-9, inplace=True)

In [1395]:
mtf.staawak_month_freq = mtf_base.staawak_month_freq.astype(int)

In [1396]:
stamf_conds = [(mtf['staawak_month_freq']==1), (mtf['staawak_month_freq']==2),
            (mtf['staawak_month_freq']==3), (mtf['staawak_month_freq']==4),
            (mtf['staawak_month_freq']==5),(mtf['staawak_month_freq']==6),(mtf['staawak_month_freq']==7),
             (mtf['staawak_month_freq']==-9)]

stamf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['staawak_month_freq'] = np.select(stamf_conds, stamf_lbls)

In [1397]:
mtf.staawak_month_freq.value_counts()

Unknown    343562
0           15837
1-2X          224
3-5X           69
6-9X           54
10-19X         27
40+            26
20-39X         11
Name: staawak_month_freq, dtype: int64

In [1398]:
mtf_base.lookalik_lifetime_freq.fillna(value=-9, inplace=True)

In [1399]:
mtf.lookalik_lifetime_freq = mtf_base.lookalik_lifetime_freq.astype(int)

In [1400]:
loalf_conds = [(mtf['lookalik_lifetime_freq']==1), (mtf['lookalik_lifetime_freq']==2),
            (mtf['lookalik_lifetime_freq']==3), (mtf['lookalik_lifetime_freq']==4),
            (mtf['lookalik_lifetime_freq']==5),(mtf['lookalik_lifetime_freq']==6),(mtf['lookalik_lifetime_freq']==7),
             (mtf['lookalik_lifetime_freq']==-9)]

loalf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['lookalik_lifetime_freq'] = np.select(loalf_conds, loalf_lbls)

In [1401]:
mtf.lookalik_lifetime_freq.value_counts()

Unknown    343577
0           15564
1-2X          291
3-5X          128
6-9X           74
40+            73
10-19X         64
20-39X         39
Name: lookalik_lifetime_freq, dtype: int64

In [1402]:
mtf_base.lookalik_yr_freq.fillna(value=-9, inplace=True)

In [1403]:
mtf.lookalik_yr_freq = mtf_base.lookalik_yr_freq.astype(int)

In [1404]:
loayf_conds = [(mtf['lookalik_yr_freq']==1), (mtf['lookalik_yr_freq']==2),
            (mtf['lookalik_yr_freq']==3), (mtf['lookalik_yr_freq']==4),
            (mtf['lookalik_yr_freq']==5),(mtf['lookalik_yr_freq']==6),(mtf['lookalik_yr_freq']==7),
             (mtf['lookalik_yr_freq']==-9)]

loayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['lookalik_yr_freq'] = np.select(loayf_conds, loayf_lbls)

In [1405]:
mtf.lookalik_yr_freq.value_counts()

Unknown    343566
0           15827
1-2X          200
3-5X           72
6-9X           54
10-19X         42
40+            34
20-39X         15
Name: lookalik_yr_freq, dtype: int64

In [1406]:
mtf_base.lookalik_month_freq.fillna(value=-9, inplace=True)

In [1407]:
mtf.lookalik_month_freq = mtf_base.lookalik_month_freq.astype(int)

In [1408]:
loamf_conds = [(mtf['lookalik_month_freq']==1), (mtf['lookalik_month_freq']==2),
            (mtf['lookalik_month_freq']==3), (mtf['lookalik_month_freq']==4),
            (mtf['lookalik_month_freq']==5),(mtf['lookalik_month_freq']==6),(mtf['lookalik_month_freq']==7),
             (mtf['lookalik_month_freq']==-9)]

loamf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['lookalik_month_freq'] = np.select(loamf_conds, loamf_lbls)

In [1409]:
mtf.lookalik_month_freq.value_counts()

Unknown    343665
0           15916
1-2X          109
3-5X           41
6-9X           29
40+            25
20-39X         13
10-19X         12
Name: lookalik_month_freq, dtype: int64

In [1698]:
mtf_base.quaa_lifetime_freq.fillna(value=-9, inplace=True)

In [1699]:
mtf.quaa_lifetime_freq = mtf_base.quaa_lifetime_freq.astype(int)

In [1700]:
qualf_conds = [(mtf['quaa_lifetime_freq']==1), (mtf['quaa_lifetime_freq']==2),
            (mtf['quaa_lifetime_freq']==3), (mtf['quaa_lifetime_freq']==4),
            (mtf['quaa_lifetime_freq']==5),(mtf['quaa_lifetime_freq']==6),(mtf['quaa_lifetime_freq']==7),
             (mtf['quaa_lifetime_freq']==-9)]

qualf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['quaa_lifetime_freq'] = np.select(qualf_conds, qualf_lbls)

In [1701]:
mtf.quaa_lifetime_freq.value_counts()

Unknown    343828
0           15828
1-2X           53
3-5X           32
6-9X           25
40+            23
10-19X         16
20-39X          5
Name: quaa_lifetime_freq, dtype: int64

In [1702]:
mtf_base.quaa_yr_freq.fillna(value=-9, inplace=True)

In [1703]:
mtf.quaa_yr_freq = mtf_base.quaa_yr_freq.astype(int)

In [1704]:
quayf_conds = [(mtf['quaa_yr_freq']==1), (mtf['quaa_yr_freq']==2),
            (mtf['quaa_yr_freq']==3), (mtf['quaa_yr_freq']==4),
            (mtf['quaa_yr_freq']==5),(mtf['quaa_yr_freq']==6),(mtf['quaa_yr_freq']==7),
             (mtf['quaa_yr_freq']==-9)]

quayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['quaa_yr_freq'] = np.select(quayf_conds, quayf_lbls)

In [1705]:
mtf.quaa_yr_freq.value_counts()

Unknown    341645
0           18013
1-2X           71
3-5X           28
40+            22
6-9X           19
10-19X          7
20-39X          5
Name: quaa_yr_freq, dtype: int64

In [1418]:
mtf_base.quaa_month_freq.fillna(value=-9, inplace=True)

In [1419]:
mtf.quaa_month_freq = mtf_base.quaa_month_freq.astype(int)

In [1420]:
quamf_conds = [(mtf['quaa_month_freq']==1), (mtf['quaa_month_freq']==2),
            (mtf['quaa_month_freq']==3), (mtf['quaa_month_freq']==4),
            (mtf['quaa_month_freq']==5),(mtf['quaa_month_freq']==6),(mtf['quaa_month_freq']==7),
             (mtf['quaa_month_freq']==-9)]

quamf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['quaa_month_freq'] = np.select(quamf_conds, quamf_lbls)

In [1421]:
mtf.quaa_month_freq.value_counts()

Unknown    338849
0           20857
1-2X           39
40+            23
3-5X           14
10-19X         13
6-9X           10
20-39X          5
Name: quaa_month_freq, dtype: int64

In [1707]:
mtf.drop(labels='roofi_lifetime_freq', axis=1, inplace=True)

In [ ]:
mtf.roofi_lifetime_freq = mtf_base.roofi_lifetime_freq.astype(int)

In [1678]:
roolf_conds = [(mtf['roofi_lifetime_freq']==1), (mtf['roofi_lifetime_freq']==2),
            (mtf['roofi_lifetime_freq']==3), (mtf['roofi_lifetime_freq']==4),
            (mtf['roofi_lifetime_freq']==5),(mtf['roofi_lifetime_freq']==6),(mtf['roofi_lifetime_freq']==7),
             (mtf['roofi_lifetime_freq']==-9)]

roolf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['roofi_lifetime_freq'] = np.select(roolf_conds, roolf_lbls)

In [1679]:
mtf.roofi_lifetime_freq.value_counts()

Unknown    328505
0           30985
1-2X          113
3-5X           59
40+            55
6-9X           45
10-19X         27
20-39X         21
Name: roofi_yr_freq, dtype: int64

In [1676]:
mtf_base.roofi_yr_freq.fillna(value=-9, inplace=True)

In [1677]:
mtf.roofi_yr_freq = mtf_base.roofi_yr_freq.astype(int)

In [1678]:
rooyf_conds = [(mtf['roofi_yr_freq']==1), (mtf['roofi_yr_freq']==2),
            (mtf['roofi_yr_freq']==3), (mtf['roofi_yr_freq']==4),
            (mtf['roofi_yr_freq']==5),(mtf['roofi_yr_freq']==6),(mtf['roofi_yr_freq']==7),
             (mtf['roofi_yr_freq']==-9)]

rooyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['roofi_yr_freq'] = np.select(rooyf_conds, rooyf_lbls)

In [1679]:
mtf.roofi_yr_freq.value_counts()

Unknown    328505
0           30985
1-2X          113
3-5X           59
40+            55
6-9X           45
10-19X         27
20-39X         21
Name: roofi_yr_freq, dtype: int64

In [1708]:
mtf.drop(labels='ghb_lifetime_freq', axis=1, inplace=True)

In [1681]:
mtf_base.ghb_yr_freq.fillna(value=-9, inplace=True)

In [1682]:
mtf.ghb_yr_freq = mtf_base.ghb_yr_freq.astype(int)

In [1683]:
ghbyf_conds = [(mtf['ghb_yr_freq']==1), (mtf['ghb_yr_freq']==2),
            (mtf['ghb_yr_freq']==3), (mtf['ghb_yr_freq']==4),
            (mtf['ghb_yr_freq']==5),(mtf['ghb_yr_freq']==6),(mtf['ghb_yr_freq']==7),
             (mtf['ghb_yr_freq']==-9)]

ghbyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['ghb_yr_freq'] = np.select(ghbyf_conds, ghbyf_lbls)

In [1684]:
mtf.ghb_yr_freq.value_counts()

Unknown    339638
0           20001
1-2X           59
6-9X           35
40+            32
3-5X           23
10-19X         15
20-39X          7
Name: ghb_yr_freq, dtype: int64

In [1709]:
mtf.drop(labels='keta_lifetime_freq', axis=1, inplace=True)

In [1685]:
mtf_base.keta_yr_freq.fillna(value=-9, inplace=True)

In [1686]:
mtf.keta_yr_freq = mtf_base.keta_yr_freq.astype(int)

In [1687]:
ketyf_conds = [(mtf['keta_yr_freq']==1), (mtf['keta_yr_freq']==2),
            (mtf['keta_yr_freq']==3), (mtf['keta_yr_freq']==4),
            (mtf['keta_yr_freq']==5),(mtf['keta_yr_freq']==6),(mtf['keta_yr_freq']==7),
             (mtf['keta_yr_freq']==-9)]

ketyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['keta_yr_freq'] = np.select(ketyf_conds, ketyf_lbls)

In [1688]:
mtf.keta_yr_freq.value_counts()

Unknown    282157
0           76530
1-2X          472
3-5X          214
40+           167
6-9X          147
10-19X         71
20-39X         52
Name: keta_yr_freq, dtype: int64

In [1694]:
mtf_base.needle_lifetime_freq.fillna(value=-9, inplace=True)

In [1695]:
mtf.needle_lifetime_freq = mtf_base.needle_lifetime_freq.astype(int)

In [1696]:
neelf_conds = [(mtf['needle_lifetime_freq']==1), (mtf['needle_lifetime_freq']==2),
            (mtf['needle_lifetime_freq']==3), (mtf['needle_lifetime_freq']==4),
            (mtf['needle_lifetime_freq']==5),(mtf['needle_lifetime_freq']==6),(mtf['needle_lifetime_freq']==7),
             (mtf['needle_lifetime_freq']==-9)]

neelf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['needle_lifetime_freq'] = np.select(neelf_conds, neelf_lbls)

In [1697]:
mtf.needle_lifetime_freq.value_counts()

Unknown    253205
0          105030
1-2X          680
3-5X          268
40+           216
6-9X          180
10-19X        149
20-39X         82
Name: needle_lifetime_freq, dtype: int64

In [1438]:
mtf_base.needle_yr_freq.fillna(value=-9, inplace=True)

In [1439]:
mtf.needle_yr_freq = mtf_base.needle_yr_freq.astype(int)

In [1440]:
neeyf_conds = [(mtf['needle_yr_freq']==1), (mtf['needle_yr_freq']==2),
            (mtf['needle_yr_freq']==3), (mtf['needle_yr_freq']==4),
            (mtf['needle_yr_freq']==5),(mtf['needle_yr_freq']==6),(mtf['needle_yr_freq']==7),
             (mtf['needle_yr_freq']==-9)]

neeyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['needle_yr_freq'] = np.select(neeyf_conds, neeyf_lbls)

In [1441]:
mtf.needle_yr_freq.value_counts()

Unknown    253227
0          105638
1-2X          430
3-5X          154
6-9X          130
40+            95
10-19X         81
20-39X         55
Name: needle_yr_freq, dtype: int64

In [1689]:
mtf_base.needle_month_freq.fillna(value=-9, inplace=True)

In [1690]:
mtf.needle_month_freq = mtf_base.needle_month_freq.astype(int)

In [1691]:
neemf_conds = [(mtf['needle_month_freq']==1), (mtf['needle_month_freq']==2),
            (mtf['needle_month_freq']==3), (mtf['needle_month_freq']==4),
            (mtf['needle_month_freq']==5),(mtf['needle_month_freq']==6),(mtf['needle_month_freq']==7),
             (mtf['needle_month_freq']==-9)]

neemf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['needle_month_freq'] = np.select(neemf_conds, neemf_lbls)

In [1693]:
mtf_base.needle_month_freq.value_counts()

-9.0    258177
 1.0    101122
 2.0       228
 3.0        97
 7.0        63
 4.0        62
 5.0        45
 6.0        16
Name: needle_month_freq, dtype: int64

In [1692]:
mtf.needle_month_freq.value_counts()

Unknown    258177
0          101122
1-2X          228
3-5X           97
40+            63
6-9X           62
10-19X         45
20-39X         16
Name: needle_month_freq, dtype: int64

In [1446]:
mtf_base.nnher_lifetime_freq.fillna(value=-9, inplace=True)

In [1447]:
mtf.nnher_lifetime_freq = mtf_base.nnher_lifetime_freq.astype(int)

In [1448]:
nnhlf_conds = [(mtf['nnher_lifetime_freq']==1), (mtf['nnher_lifetime_freq']==2),
            (mtf['nnher_lifetime_freq']==3), (mtf['nnher_lifetime_freq']==4),
            (mtf['nnher_lifetime_freq']==5),(mtf['nnher_lifetime_freq']==6),(mtf['nnher_lifetime_freq']==7),
             (mtf['nnher_lifetime_freq']==-9)]

nnhlf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['nnher_lifetime_freq'] = np.select(nnhlf_conds, nnhlf_lbls)

In [1449]:
mtf.nnher_lifetime_freq.value_counts()

Unknown    258653
0           99867
1-2X          687
3-5X          214
6-9X          133
40+           120
10-19X         94
20-39X         42
Name: nnher_lifetime_freq, dtype: int64

In [1450]:
mtf_base.nnher_yr_freq.fillna(value=-9, inplace=True)

In [1451]:
mtf.nnher_yr_freq = mtf_base.nnher_yr_freq.astype(int)

In [1452]:
nnhyf_conds = [(mtf['nnher_yr_freq']==1), (mtf['nnher_yr_freq']==2),
            (mtf['nnher_yr_freq']==3), (mtf['nnher_yr_freq']==4),
            (mtf['nnher_yr_freq']==5),(mtf['nnher_yr_freq']==6),(mtf['nnher_yr_freq']==7),
             (mtf['nnher_yr_freq']==-9)]

nnhyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['nnher_yr_freq'] = np.select(nnhyf_conds, nnhyf_lbls)

In [1453]:
mtf.nnher_yr_freq.value_counts()

Unknown    258612
0          100407
1-2X          428
3-5X          153
6-9X           77
40+            58
10-19X         47
20-39X         28
Name: nnher_yr_freq, dtype: int64

In [1454]:
mtf_base.nnher_month_freq.fillna(value=-9, inplace=True)

In [1455]:
mtf.nnher_month_freq = mtf_base.nnher_month_freq.astype(int)

In [1456]:
nnhmf_conds = [(mtf['nnher_month_freq']==1), (mtf['nnher_month_freq']==2),
            (mtf['nnher_month_freq']==3), (mtf['nnher_month_freq']==4),
            (mtf['nnher_month_freq']==5),(mtf['nnher_month_freq']==6),(mtf['nnher_month_freq']==7),
             (mtf['nnher_month_freq']==-9)]

nnhmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['nnher_month_freq'] = np.select(nnhmf_conds, nnhmf_lbls)

In [1457]:
mtf.nnher_month_freq.value_counts()

Unknown    254251
0          104909
1-2X          324
3-5X          121
6-9X           73
40+            55
10-19X         52
20-39X         25
Name: nnher_month_freq, dtype: int64

In [1656]:
mtf_base.inject_lifetime_freq.fillna(value=-9, inplace=True)

In [1657]:
mtf.inject_lifetime_freq = mtf_base.inject_lifetime_freq.astype(int)

In [1658]:
injlf_conds = [(mtf['inject_lifetime_freq']==1), (mtf['inject_lifetime_freq']==2),
            (mtf['inject_lifetime_freq']==3), (mtf['inject_lifetime_freq']==4),
            (mtf['inject_lifetime_freq']==5),(mtf['inject_lifetime_freq']==6),(mtf['inject_lifetime_freq']==7),
             (mtf['inject_lifetime_freq']==-9)]

injlf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['inject_lifetime_freq'] = np.select(injlf_conds, injlf_lbls)

In [1659]:
mtf.inject_lifetime_freq.value_counts()

Unknown    340111
0           18959
1-2X          348
3-5X          131
6-9X           91
40+            79
10-19X         62
20-39X         29
Name: inject_lifetime_freq, dtype: int64

In [1462]:
mtf_base.inject_yr_freq.fillna(value=-9, inplace=True)

In [1463]:
mtf.inject_yr_freq = mtf_base.inject_yr_freq.astype(int)

In [1464]:
injyf_conds = [(mtf['inject_yr_freq']==1), (mtf['inject_yr_freq']==2),
            (mtf['inject_yr_freq']==3), (mtf['inject_yr_freq']==4),
            (mtf['inject_yr_freq']==5),(mtf['inject_yr_freq']==6),(mtf['inject_yr_freq']==7),
             (mtf['inject_yr_freq']==-9)]

injyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['inject_yr_freq'] = np.select(injyf_conds, injyf_lbls)

In [1465]:
mtf.inject_yr_freq.value_counts()

Unknown    340150
0           19390
1-2X           94
40+            57
3-5X           39
6-9X           39
10-19X         28
20-39X         13
Name: inject_yr_freq, dtype: int64

In [1466]:
mtf_base.inject_month_freq.fillna(value=-9, inplace=True)

In [1467]:
mtf.inject_month_freq = mtf_base.inject_month_freq.astype(int)

In [1468]:
injmf_conds = [(mtf['inject_month_freq']==1), (mtf['inject_month_freq']==2),
            (mtf['inject_month_freq']==3), (mtf['inject_month_freq']==4),
            (mtf['inject_month_freq']==5),(mtf['inject_month_freq']==6),(mtf['inject_month_freq']==7),
             (mtf['inject_month_freq']==-9)]

injmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['inject_month_freq'] = np.select(injmf_conds, injmf_lbls)

In [1469]:
mtf.inject_month_freq.value_counts()

Unknown    340147
0           19481
1-2X           64
40+            48
3-5X           30
6-9X           28
10-19X          8
20-39X          4
Name: inject_month_freq, dtype: int64

In [1470]:
mtf_base.oxy_yr_freq.fillna(value=-9, inplace=True)

In [1471]:
mtf.oxy_yr_freq = mtf_base.oxy_yr_freq.astype(int)

In [1472]:
oxyyf_conds = [(mtf['oxy_yr_freq']==1), (mtf['oxy_yr_freq']==2),
            (mtf['oxy_yr_freq']==3), (mtf['oxy_yr_freq']==4),
            (mtf['oxy_yr_freq']==5),(mtf['oxy_yr_freq']==6),(mtf['oxy_yr_freq']==7),
             (mtf['oxy_yr_freq']==-9)]

oxyyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['oxy_yr_freq'] = np.select(oxyyf_conds, oxyyf_lbls)

In [1473]:
mtf.oxy_yr_freq.value_counts()

Unknown    270640
0           85655
1-2X         1553
3-5X          739
6-9X          424
40+           353
10-19X        280
20-39X        166
Name: oxy_yr_freq, dtype: int64

In [1660]:
mtf_base.vico_yr_freq.fillna(value=-9, inplace=True)

In [1661]:
mtf.vico_yr_freq = mtf_base.vico_yr_freq.astype(int)

In [1662]:
vicyf_conds = [(mtf['vico_yr_freq']==1), (mtf['vico_yr_freq']==2),
            (mtf['vico_yr_freq']==3), (mtf['vico_yr_freq']==4),
            (mtf['vico_yr_freq']==5),(mtf['vico_yr_freq']==6),(mtf['vico_yr_freq']==7),
             (mtf['vico_yr_freq']==-9)]

vicyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['vico_yr_freq'] = np.select(vicyf_conds, vicyf_lbls)

In [1663]:
mtf.vico_yr_freq.value_counts()

Unknown    272799
0           81899
1-2X         2460
3-5X         1080
6-9X          602
10-19X        429
40+           347
20-39X        194
Name: vico_yr_freq, dtype: int64

In [1478]:
mtf_base.pprs_lifetime_freq.fillna(value=-9, inplace=True)

In [1479]:
mtf.pprs_lifetime_freq = mtf_base.pprs_lifetime_freq.astype(int)

In [1480]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


pprslf_conds = [(mtf['pprs_lifetime_freq']==1), (mtf['pprs_lifetime_freq']==2),
            (mtf['pprs_lifetime_freq']==3), (mtf['pprs_lifetime_freq']==4),
            (mtf['pprs_lifetime_freq']==5),(mtf['pprs_lifetime_freq']==6),(mtf['pprs_lifetime_freq']==7),
             (mtf['pprs_lifetime_freq']==-9)]

pprslf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pprs_lifetime_freq'] = np.select(pprslf_conds, pprslf_lbls)

In [1481]:
mtf.pprs_lifetime_freq.value_counts()

Unknown    344605
0           14701
1-2X          143
40+           117
3-5X           79
10-19X         59
20-39X         54
6-9X           52
Name: pprs_lifetime_freq, dtype: int64

In [1664]:
mtf_base.pprs_yr_freq.fillna(value=-9, inplace=True)

In [1665]:
mtf.pprs_yr_freq = mtf_base.pprs_yr_freq.astype(int)

In [1666]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


pprsyf_conds = [(mtf['pprs_yr_freq']==1), (mtf['pprs_yr_freq']==2),
            (mtf['pprs_yr_freq']==3), (mtf['pprs_yr_freq']==4),
            (mtf['pprs_yr_freq']==5),(mtf['pprs_yr_freq']==6),(mtf['pprs_yr_freq']==7),
             (mtf['pprs_yr_freq']==-9)]

pprsyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pprs_yr_freq'] = np.select(pprsyf_conds, pprsyf_lbls)

In [1710]:
mtf.pprs_yr_freq.value_counts()

Unknown    344596
0           14887
1-2X          140
3-5X           77
6-9X           52
40+            31
10-19X         19
20-39X          8
Name: pprs_yr_freq, dtype: int64

In [1486]:
mtf_base.pprs_month_freq.fillna(value=-9, inplace=True)

In [1487]:
mtf.pprs_month_freq = mtf_base.pprs_month_freq.astype(int)

In [1488]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


pprsmf_conds = [(mtf['pprs_month_freq']==1), (mtf['pprs_month_freq']==2),
            (mtf['pprs_month_freq']==3), (mtf['pprs_month_freq']==4),
            (mtf['pprs_month_freq']==5),(mtf['pprs_month_freq']==6),(mtf['pprs_month_freq']==7),
             (mtf['pprs_month_freq']==-9)]

pprsmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pprs_month_freq'] = np.select(pprsmf_conds, pprsmf_lbls)

In [1489]:
mtf.pprs_month_freq.value_counts()

Unknown    344596
0           14880
1-2X          152
6-9X           57
3-5X           56
40+            37
10-19X         19
20-39X         13
Name: pprs_month_freq, dtype: int64

In [1490]:
mtf_base.steroid_lifetime_freq.fillna(value=-9, inplace=True)

In [1491]:
mtf.steroid_lifetime_freq = mtf_base.steroid_lifetime_freq.astype(int)

In [1492]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


stlf_conds = [(mtf['steroid_lifetime_freq']==1), (mtf['steroid_lifetime_freq']==2),
            (mtf['steroid_lifetime_freq']==3), (mtf['steroid_lifetime_freq']==4),
            (mtf['steroid_lifetime_freq']==5),(mtf['steroid_lifetime_freq']==6),(mtf['steroid_lifetime_freq']==7),
             (mtf['steroid_lifetime_freq']==-9)]

stlf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['steroid_lifetime_freq'] = np.select(stlf_conds, stlf_lbls)

In [1493]:
mtf.steroid_lifetime_freq.value_counts()

Unknown    279260
0           78424
1-2X          867
3-5X          371
6-9X          321
40+           297
10-19X        148
20-39X        122
Name: steroid_lifetime_freq, dtype: int64

In [1494]:
mtf_base.steroid_yr_freq.fillna(value=-9, inplace=True)

In [1495]:
mtf.steroid_yr_freq = mtf_base.steroid_yr_freq.astype(int)

In [1496]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


styf_conds = [(mtf['steroid_yr_freq']==1), (mtf['steroid_yr_freq']==2),
            (mtf['steroid_yr_freq']==3), (mtf['steroid_yr_freq']==4),
            (mtf['steroid_yr_freq']==5),(mtf['steroid_yr_freq']==6),(mtf['steroid_yr_freq']==7),
             (mtf['steroid_yr_freq']==-9)]

styf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['steroid_yr_freq'] = np.select(styf_conds, styf_lbls)

In [1497]:
mtf.steroid_yr_freq.value_counts()

Unknown    279163
0           79114
1-2X          648
3-5X          391
40+           214
6-9X          150
10-19X         84
20-39X         46
Name: steroid_yr_freq, dtype: int64

In [1498]:
mtf_base.steroid_month_freq.fillna(value=-9, inplace=True)

In [1499]:
mtf.steroid_month_freq = mtf_base.steroid_month_freq.astype(int)

In [1500]:
stmf_conds = [(mtf['steroid_month_freq']==1), (mtf['steroid_month_freq']==2),
            (mtf['steroid_month_freq']==3), (mtf['steroid_month_freq']==4),
            (mtf['steroid_month_freq']==5),(mtf['steroid_month_freq']==6),(mtf['steroid_month_freq']==7),
             (mtf['steroid_month_freq']==-9)]

stmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['steroid_month_freq'] = np.select(stmf_conds, stmf_lbls)

In [1501]:
mtf.steroid_month_freq.value_counts()

Unknown    281294
0           76935
1-2X          668
3-5X          426
40+           200
6-9X          139
10-19X         98
20-39X         50
Name: steroid_month_freq, dtype: int64

In [1502]:
mtf_base.andro_yr_freq.fillna(value=-9, inplace=True)

In [1503]:
mtf.andro_yr_freq = mtf_base.andro_yr_freq.astype(int)

In [1504]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


anyf_conds = [(mtf['andro_yr_freq']==1), (mtf['andro_yr_freq']==2),
            (mtf['andro_yr_freq']==3), (mtf['andro_yr_freq']==4),
            (mtf['andro_yr_freq']==5),(mtf['andro_yr_freq']==6),(mtf['andro_yr_freq']==7),
             (mtf['andro_yr_freq']==-9)]

anyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['andro_yr_freq'] = np.select(anyf_conds, anyf_lbls)

In [1505]:
mtf.andro_yr_freq.value_counts()

Unknown    304964
0           53816
1-2X          361
3-5X          223
40+           146
6-9X          138
10-19X        102
20-39X         60
Name: andro_yr_freq, dtype: int64

In [1522]:
mtf_base.creatine_yr_freq.fillna(value=-9, inplace=True)

In [1523]:
mtf.creatine_yr_freq = mtf_base.creatine_yr_freq.astype(int)

In [1524]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


creyf_conds = [(mtf['creatine_yr_freq']==1), (mtf['creatine_yr_freq']==2),
            (mtf['creatine_yr_freq']==3), (mtf['creatine_yr_freq']==4),
            (mtf['creatine_yr_freq']==5),(mtf['creatine_yr_freq']==6),(mtf['creatine_yr_freq']==7),
             ((mtf['creatine_yr_freq']==-9)|(mtf['creatine_yr_freq']==0))]

creyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['creatine_yr_freq'] = np.select(creyf_conds, creyf_lbls)

In [1525]:
mtf.creatine_yr_freq.value_counts()

Unknown    298879
0           55904
1-2X         1251
40+          1120
3-5X          790
10-19X        697
6-9X          591
20-39X        578
Name: creatine_yr_freq, dtype: int64

In [1526]:
mtf_base.coughmed_yr_freq.fillna(value=-9, inplace=True)

In [1527]:
mtf.coughmed_yr_freq = mtf_base.coughmed_yr_freq.astype(int)

In [1528]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


cmyf_conds = [(mtf['coughmed_yr_freq']==1), (mtf['coughmed_yr_freq']==2),
            (mtf['coughmed_yr_freq']==3), (mtf['coughmed_yr_freq']==4),
            (mtf['coughmed_yr_freq']==5),(mtf['coughmed_yr_freq']==6),(mtf['coughmed_yr_freq']==7),
             ((mtf['coughmed_yr_freq']==-9)|(mtf['coughmed_yr_freq']==0))]

cmyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['coughmed_yr_freq'] = np.select(cmyf_conds, cmyf_lbls)

In [1529]:
mtf.coughmed_yr_freq.value_counts()

Unknown    305683
0           51428
1-2X         1230
3-5X          700
6-9X          330
10-19X        192
40+           151
20-39X         96
Name: coughmed_yr_freq, dtype: int64

In [1530]:
mtf_base.adderall_yr_freq.fillna(value=-9, inplace=True)

In [1531]:
mtf.adderall_yr_freq = mtf_base.adderall_yr_freq.astype(int)

In [1532]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


addyf_conds = [(mtf['adderall_yr_freq']==1), (mtf['adderall_yr_freq']==2),
            (mtf['adderall_yr_freq']==3), (mtf['adderall_yr_freq']==4),
            (mtf['adderall_yr_freq']==5),(mtf['adderall_yr_freq']==6),(mtf['adderall_yr_freq']==7),
             (mtf['adderall_yr_freq']==-9)]

addyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['adderall_yr_freq'] = np.select(addyf_conds, addyf_lbls)

In [1533]:
mtf.adderall_yr_freq.value_counts()

Unknown    319262
0           38227
1-2X         1129
3-5X          511
6-9X          261
10-19X        177
40+           160
20-39X         83
Name: adderall_yr_freq, dtype: int64

In [1534]:
mtf_base.salvia_yr_freq.fillna(value=-9, inplace=True)

In [1535]:
mtf.salvia_yr_freq = mtf_base.salvia_yr_freq.astype(int)

In [1536]:
# On how many occasions (if any) have you used amyl or butyl nitrites . . .


salyf_conds = [(mtf['salvia_yr_freq']==1), (mtf['salvia_yr_freq']==2),
            (mtf['salvia_yr_freq']==3), (mtf['salvia_yr_freq']==4),
            (mtf['salvia_yr_freq']==5),(mtf['salvia_yr_freq']==6),(mtf['salvia_yr_freq']==7),
             (mtf['salvia_yr_freq']==-9)]

salyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['salvia_yr_freq'] = np.select(salyf_conds, salyf_lbls)

In [1537]:
mtf.salvia_yr_freq.value_counts()

Unknown    326019
0           32584
1-2X          665
3-5X          217
6-9X          112
40+           105
10-19X         74
20-39X         34
Name: salvia_yr_freq, dtype: int64

In [1538]:
mtf_base.provigil_yr_freq.fillna(value=-9, inplace=True)

In [1539]:
mtf.provigil_yr_freq = mtf_base.provigil_yr_freq.astype(int)

In [1540]:

proyf_conds = [(mtf['provigil_yr_freq']==1), (mtf['provigil_yr_freq']==2),
            (mtf['provigil_yr_freq']==3), (mtf['provigil_yr_freq']==4),
            (mtf['provigil_yr_freq']==5),(mtf['provigil_yr_freq']==6),(mtf['provigil_yr_freq']==7),
             (mtf['provigil_yr_freq']==-9)]

proyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['provigil_yr_freq'] = np.select(proyf_conds, proyf_lbls)

In [1541]:
mtf.provigil_yr_freq.value_counts()

Unknown    351523
0            8147
1-2X           64
40+            24
3-5X           19
6-9X           14
10-19X         11
20-39X          8
Name: provigil_yr_freq, dtype: int64

In [1542]:
mtf_base.hookah_yr_freq.fillna(value=-9, inplace=True)

In [1543]:
mtf.hookah_yr_freq = mtf_base.hookah_yr_freq.astype(int)

In [1544]:

hooyf_conds = [(mtf['hookah_yr_freq']==1), (mtf['hookah_yr_freq']==2),
            (mtf['hookah_yr_freq']==3), (mtf['hookah_yr_freq']==4),
            (mtf['hookah_yr_freq']==5),(mtf['hookah_yr_freq']==6),(mtf['hookah_yr_freq']==7),
             (mtf['hookah_yr_freq']==-9)]

hooyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['hookah_yr_freq'] = np.select(hooyf_conds, hooyf_lbls)

In [1545]:
mtf.hookah_yr_freq.value_counts()

Unknown    357541
0            1869
1-2X          146
3-5X           94
6-9X           57
10-19X         49
40+            30
20-39X         24
Name: hookah_yr_freq, dtype: int64

In [1546]:
mtf_base.smcigars_yr_freq.fillna(value=-9, inplace=True)

In [1547]:
mtf.smcigars_yr_freq = mtf_base.smcigars_yr_freq.astype(int)

In [1548]:

smcyf_conds = [(mtf['smcigars_yr_freq']==1), (mtf['smcigars_yr_freq']==2),
            (mtf['smcigars_yr_freq']==3), (mtf['smcigars_yr_freq']==4),
            (mtf['smcigars_yr_freq']==5),(mtf['smcigars_yr_freq']==6),(mtf['smcigars_yr_freq']==7),
             (mtf['smcigars_yr_freq']==-9)]

smcyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['smcigars_yr_freq'] = np.select(smcyf_conds, smcyf_lbls)

In [1549]:
mtf.smcigars_yr_freq.value_counts()

Unknown    357538
0            1739
1-2X          188
3-5X          104
10-19X         77
6-9X           74
40+            54
20-39X         36
Name: smcigars_yr_freq, dtype: int64

In [1550]:
mtf_base.nrg_drinks_day.fillna(value=-9, inplace=True)

In [1551]:
mtf.nrg_drinks_day = mtf_base.nrg_drinks_day.astype(int)

In [1552]:

nrgdf_conds = [(mtf['nrg_drinks_day']==0),(mtf['nrg_drinks_day']==1), (mtf['nrg_drinks_day']==2),
            (mtf['nrg_drinks_day']==3), (mtf['nrg_drinks_day']==4),
            (mtf['nrg_drinks_day']==5),(mtf['nrg_drinks_day']==6),(mtf['nrg_drinks_day']==7),
             (mtf['nrg_drinks_day']==-9)]

nrgdf_lbls = ['0', '<1', '1', '2', '3', 
            '4', '5-6', '7+','Unknown']

mtf['nrg_drinks_day'] = np.select(nrgdf_conds, nrgdf_lbls)

In [1553]:
mtf.nrg_drinks_day.value_counts()

Unknown    357667
0            1452
<1            447
1             147
2              54
7+             19
3              16
4               6
5-6             2
Name: nrg_drinks_day, dtype: int64

In [1554]:
mtf_base.nrg_shots_day.fillna(value=-9, inplace=True)

In [1555]:
mtf.nrg_shots_day = mtf_base.nrg_shots_day.astype(int)

In [1556]:

nrgsf_conds = [(mtf['nrg_shots_day']==0),(mtf['nrg_shots_day']==1), (mtf['nrg_shots_day']==2),
            (mtf['nrg_shots_day']==3), (mtf['nrg_shots_day']==4),
            (mtf['nrg_shots_day']==5),(mtf['nrg_shots_day']==6),(mtf['nrg_shots_day']==7),
             (mtf['nrg_shots_day']==-9)]

nrgsf_lbls = ['0', '<1', '1', '2', '3', 
            '4', '5-6', '7+','Unknown']

mtf['nrg_shots_day'] = np.select(nrgsf_conds, nrgsf_lbls)

In [1557]:
mtf.nrg_shots_day.value_counts()

Unknown    357666
0            1916
<1            148
1              39
3              17
2              10
7+              7
4               4
5-6             3
Name: nrg_shots_day, dtype: int64

In [1558]:
mtf_base.alc_caffeine_yr_freq.fillna(value=-9, inplace=True)

In [1559]:
mtf.alc_caffeine_yr_freq = mtf_base.alc_caffeine_yr_freq.astype(int)

In [1560]:

alcayf_conds = [(mtf['alc_caffeine_yr_freq']==1), (mtf['alc_caffeine_yr_freq']==2),
            (mtf['alc_caffeine_yr_freq']==3), (mtf['alc_caffeine_yr_freq']==4),
            (mtf['alc_caffeine_yr_freq']==5),(mtf['alc_caffeine_yr_freq']==6),(mtf['alc_caffeine_yr_freq']==7),
             (mtf['alc_caffeine_yr_freq']==-9)]

alcayf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['alc_caffeine_yr_freq'] = np.select(alcayf_conds, alcayf_lbls)

In [1561]:
mtf.alc_caffeine_yr_freq.value_counts()

Unknown    328485
0           25118
1-2X         3033
3-5X         1382
6-9X          746
10-19X        500
40+           339
20-39X        207
Name: alc_caffeine_yr_freq, dtype: int64

In [1562]:
mtf_base.syn_marj_yr_freq.fillna(value=-9, inplace=True)

In [1563]:
mtf.syn_marj_yr_freq = mtf_base.syn_marj_yr_freq.astype(int)

In [1564]:

symyf_conds = [(mtf['syn_marj_yr_freq']==1), (mtf['syn_marj_yr_freq']==2),
            (mtf['syn_marj_yr_freq']==3), (mtf['syn_marj_yr_freq']==4),
            (mtf['syn_marj_yr_freq']==5),(mtf['syn_marj_yr_freq']==6),(mtf['syn_marj_yr_freq']==7),
             (mtf['syn_marj_yr_freq']==-9)]

symyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['syn_marj_yr_freq'] = np.select(symyf_conds, symyf_lbls)

In [1565]:
mtf.syn_marj_yr_freq.value_counts()

Unknown    328030
0           29675
1-2X          943
3-5X          418
40+           242
6-9X          231
10-19X        173
20-39X         98
Name: syn_marj_yr_freq, dtype: int64

In [1566]:
mtf_base.ecig_month_freq.fillna(value=-9, inplace=True)

In [1567]:
mtf.ecig_month_freq = mtf_base.ecig_month_freq.astype(int)

In [1568]:
ecmf_conds = [(mtf['ecig_month_freq']==1), (mtf['ecig_month_freq']==2),
            (mtf['ecig_month_freq']==3), (mtf['ecig_month_freq']==4),
            (mtf['ecig_month_freq']==5),(mtf['ecig_month_freq']==6),
             ((mtf['ecig_month_freq']==-9)|(mtf['ecig_month_freq']==7))]

ecmf_lbls = ['0', '1-2', '3-5X', '6-9', '10-19X', 
            '20-30', 'Unknown']

mtf['ecig_month_freq'] = np.select(ecmf_conds, ecmf_lbls)

In [1569]:
mtf.ecig_month_freq.value_counts()

Unknown    319848
0           34975
1-2          2315
3-5X          975
20-30         691
6-9           577
10-19X        429
Name: ecig_month_freq, dtype: int64

In [1570]:
mtf_base.bath_salts_yr_freq.fillna(value=-9, inplace=True)

In [1571]:
mtf.bath_salts_yr_freq = mtf_base.bath_salts_yr_freq.astype(int)

In [1572]:

bsyf_conds = [(mtf['bath_salts_yr_freq']==1), (mtf['bath_salts_yr_freq']==2),
            (mtf['bath_salts_yr_freq']==3), (mtf['bath_salts_yr_freq']==4),
            (mtf['bath_salts_yr_freq']==5),(mtf['bath_salts_yr_freq']==6),(mtf['bath_salts_yr_freq']==7),
             (mtf['bath_salts_yr_freq']==-9)]

bsyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['bath_salts_yr_freq'] = np.select(bsyf_conds, bsyf_lbls)

In [1573]:
mtf.bath_salts_yr_freq.value_counts()

Unknown    340116
0           19539
40+            40
3-5X           38
1-2X           34
6-9X           21
10-19X         17
20-39X          5
Name: bath_salts_yr_freq, dtype: int64

In [1574]:
mtf_base.lrg_cigar_month_freq.fillna(value=-9, inplace=True)

In [1575]:
mtf.lrg_cigar_month_freq = mtf_base.lrg_cigar_month_freq.astype(int)

In [1576]:
lcmf_conds = [(mtf['lrg_cigar_month_freq']==1), (mtf['lrg_cigar_month_freq']==2),
            (mtf['lrg_cigar_month_freq']==3), (mtf['lrg_cigar_month_freq']==4),
            (mtf['lrg_cigar_month_freq']==5),(mtf['lrg_cigar_month_freq']==6),
             (mtf['lrg_cigar_month_freq']==-9)]

lcmf_lbls = ['0', '1-2', '3-5X', '6-9', '10-19X', 
            '20-30', 'Unknown']

mtf['lrg_cigar_month_freq'] = np.select(lcmf_conds, lcmf_lbls)

In [1577]:
mtf.lrg_cigar_month_freq.value_counts()

Unknown    340220
0           17980
1-2           886
20-30         254
3-5X          251
6-9           126
10-19X         93
Name: lrg_cigar_month_freq, dtype: int64

In [1579]:
mtf_base.flvd_cigar_month_freq.fillna(value=-9, inplace=True)

In [1580]:
mtf.flvd_cigar_month_freq = mtf_base.flvd_cigar_month_freq.astype(int)

In [1581]:
# During the LAST 30 DAYS, on how many occasions (if any) 
# have you smoked flavored little cigars or cigarillos?


fcmf_conds = [(mtf['flvd_cigar_month_freq']==1), (mtf['flvd_cigar_month_freq']==2),
            (mtf['flvd_cigar_month_freq']==3), (mtf['flvd_cigar_month_freq']==4),
            (mtf['flvd_cigar_month_freq']==5),(mtf['flvd_cigar_month_freq']==6),
             (mtf['flvd_cigar_month_freq']==-9)]

fcmf_lbls = ['0', '1-2', '3-5X', '6-9', '10-19X', 
            '20-30', 'Unknown']

mtf['flvd_cigar_month_freq'] = np.select(fcmf_conds, fcmf_lbls)

In [1582]:
mtf.flvd_cigar_month_freq.value_counts()

Unknown    338556
0           19236
1-2          1196
3-5X          374
20-30         174
6-9           174
10-19X        100
Name: flvd_cigar_month_freq, dtype: int64

In [1583]:
mtf_base.sml_cigar_month_freq.fillna(value=-9, inplace=True)

In [1584]:
mtf.sml_cigar_month_freq = mtf_base.sml_cigar_month_freq.astype(int)

In [1585]:
# During the LAST 30 DAYS, on how many occasions (if any) 
# have you smoked flavored little cigars or cigarillos?


scmf_conds = [(mtf['sml_cigar_month_freq']==1), (mtf['sml_cigar_month_freq']==2),
            (mtf['sml_cigar_month_freq']==3), (mtf['sml_cigar_month_freq']==4),
            (mtf['sml_cigar_month_freq']==5),(mtf['sml_cigar_month_freq']==6),
             (mtf['sml_cigar_month_freq']==-9)]

scmf_lbls = ['0', '1-2', '3-5X', '6-9', '10-19X', 
            '20-30', 'Unknown']

mtf['sml_cigar_month_freq'] = np.select(scmf_conds, scmf_lbls)

In [1586]:
mtf.sml_cigar_month_freq.value_counts()

Unknown    338582
0           19760
1-2           799
3-5X          276
20-30         156
6-9           149
10-19X         88
Name: sml_cigar_month_freq, dtype: int64

In [1588]:
mtf_base.syn_marj_month_freq.fillna(value=-9, inplace=True)

In [1589]:
mtf.syn_marj_month_freq = mtf_base.syn_marj_month_freq.astype(int)

In [1590]:
# During the LAST 30 DAYS, on how many occasions (if any) 
# have you smoked flavored little cigars or cigarillos?


symmf_conds = [(mtf['syn_marj_month_freq']==1), (mtf['syn_marj_month_freq']==2),
            (mtf['syn_marj_month_freq']==3), (mtf['syn_marj_month_freq']==4),
            (mtf['syn_marj_month_freq']==5),(mtf['syn_marj_month_freq']==6),
             ((mtf['syn_marj_month_freq']==-9)|(mtf['syn_marj_month_freq']==7))]

symmf_lbls = ['0', '1-2', '3-5X', '6-9', '10-19X', 
            '20-30', 'Unknown']

mtf['syn_marj_month_freq'] = np.select(symmf_conds, symmf_lbls)

In [1591]:
mtf.syn_marj_month_freq.value_counts()

Unknown    340517
0           18775
1-2           275
3-5X           77
20-30          75
6-9            51
10-19X         40
Name: syn_marj_month_freq, dtype: int64

In [1593]:
# dropped - inconsistency in labeling
mtf.drop(labels='vape_lifetime_freq', axis=1, inplace=True)

In [1594]:
mtf.drop(labels='vape_month_freq', axis=1, inplace=True)

In [1595]:
mtf_base.hgh_yr_freq.fillna(value=-9, inplace=True)

In [1596]:
mtf.hgh_yr_freq = mtf_base.hgh_yr_freq.astype(int)

In [1597]:

hghyf_conds = [(mtf['hgh_yr_freq']==1), (mtf['hgh_yr_freq']==2),
            (mtf['hgh_yr_freq']==3), (mtf['hgh_yr_freq']==4),
            (mtf['hgh_yr_freq']==5),(mtf['hgh_yr_freq']==6),(mtf['hgh_yr_freq']==7),
             (mtf['hgh_yr_freq']==-9)]

hghyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['hgh_yr_freq'] = np.select(hghyf_conds, hghyf_lbls)

In [1598]:
mtf.hgh_yr_freq.value_counts()

Unknown    355979
0            3779
40+            18
3-5X           13
1-2X           10
6-9X            5
10-19X          4
20-39X          2
Name: hgh_yr_freq, dtype: int64

In [1599]:
mtf_base.pwd_alc_yr_freq.fillna(value=-9, inplace=True)

In [1600]:
mtf.pwd_alc_yr_freq = mtf_base.pwd_alc_yr_freq.astype(int)

In [1601]:

payf_conds = [(mtf['pwd_alc_yr_freq']==1), (mtf['pwd_alc_yr_freq']==2),
            (mtf['pwd_alc_yr_freq']==3), (mtf['pwd_alc_yr_freq']==4),
            (mtf['pwd_alc_yr_freq']==5),(mtf['pwd_alc_yr_freq']==6),(mtf['pwd_alc_yr_freq']==7),
             (mtf['pwd_alc_yr_freq']==-9)]

payf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['pwd_alc_yr_freq'] = np.select(payf_conds, payf_lbls)

In [1602]:
mtf.pwd_alc_yr_freq.value_counts()

Unknown    344588
0           14422
1-2X          358
3-5X          188
6-9X           99
10-19X         70
40+            57
20-39X         28
Name: pwd_alc_yr_freq, dtype: int64

In [1603]:
mtf_base.hookah_month_freq.fillna(value=-9, inplace=True)

In [1604]:
mtf.hookah_month_freq = mtf_base.hookah_month_freq.astype(int)

In [1605]:
# During the LAST 30 DAYS, on how many occasions (if any) 
# have you smoked flavored little cigars or cigarillos?


hoomf_conds = [(mtf['hookah_month_freq']==1), (mtf['hookah_month_freq']==2),
            (mtf['hookah_month_freq']==3), (mtf['hookah_month_freq']==4),
            (mtf['hookah_month_freq']==5),(mtf['hookah_month_freq']==6),
             (mtf['hookah_month_freq']==-9)]

hoomf_lbls = ['0', '1-2', '3-5X', '6-9', '10-19X', 
            '20-30', 'Unknown']

mtf['hookah_month_freq'] = np.select(hoomf_conds, hoomf_lbls)

In [1606]:
mtf.hookah_month_freq.value_counts()

Unknown    346419
0           12691
1-2           373
3-5X          138
6-9            77
20-30          72
10-19X         40
Name: hookah_month_freq, dtype: int64

In [1609]:
# still need to run this...
mtf.evr_vape = mtf.evr_vape.fillna(value=-9)

In [1610]:
mtf.evr_vape = mtf.evr_vape.astype(int)

In [1611]:
ev_conds = [(mtf['evr_vape']==0),(mtf['evr_vape']==1),
           ((mtf['evr_vape']!=0)&(mtf['evr_vape']!=1))]

ev_lbls = ['No', 'Yes', 'Unknown']

mtf.evr_vape = np.select(ev_conds, ev_lbls)

In [1612]:
672+3973+1918

6563

In [1613]:
mtf.evr_vape.value_counts()

Unknown    343501
Yes          9240
No           7069
Name: evr_vape, dtype: int64

In [1614]:

mtf.drop(labels=['vape_yr_freq'], axis=1, inplace=True)

In [1617]:
mtf.vape_marj_lifetime_freq = mtf.vape_marj_lifetime_freq.fillna(value=-9)

In [1618]:
mtf.vape_marj_lifetime_freq = mtf.vape_marj_lifetime_freq.astype(int)

In [1619]:
vmlf_conds = [(mtf['vape_marj_lifetime_freq']==1), (mtf['vape_marj_lifetime_freq']==2),
            (mtf['vape_marj_lifetime_freq']==3), (mtf['vape_marj_lifetime_freq']==4),
            (mtf['vape_marj_lifetime_freq']==5),(mtf['vape_marj_lifetime_freq']==6),(mtf['vape_marj_lifetime_freq']==7),
             (mtf['vape_marj_lifetime_freq']==-9)]

vmlf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['vape_marj_lifetime_freq'] = np.select(vmlf_conds, vmlf_lbls)

In [1620]:
mtf.vape_marj_lifetime_freq.value_counts()

Unknown    343070
0           13095
1-2X          999
20-39X        919
3-5X          581
6-9X          403
10-19X        375
40+           368
Name: vape_marj_lifetime_freq, dtype: int64

In [1621]:
mtf.vape_marj_yr_freq = mtf.vape_marj_yr_freq.fillna(value=-9)

In [1622]:
mtf.vape_marj_yr_freq = mtf.vape_marj_yr_freq.astype(int)

In [1623]:
vmyf_conds = [(mtf['vape_marj_yr_freq']==1), (mtf['vape_marj_yr_freq']==2),
            (mtf['vape_marj_yr_freq']==3), (mtf['vape_marj_yr_freq']==4),
            (mtf['vape_marj_yr_freq']==5),(mtf['vape_marj_yr_freq']==6),(mtf['vape_marj_yr_freq']==7),
             (mtf['vape_marj_yr_freq']==-9)]

vmyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['vape_marj_yr_freq'] = np.select(vmyf_conds, vmyf_lbls)

In [1624]:
mtf.vape_marj_yr_freq.value_counts()

Unknown    343123
0           13592
1-2X          981
20-39X        719
3-5X          510
6-9X          382
10-19X        317
40+           186
Name: vape_marj_yr_freq, dtype: int64

In [1625]:
mtf.vape_marj_month_freq = mtf.vape_marj_month_freq.fillna(value=-9)

In [1626]:
mtf.vape_marj_month_freq = mtf.vape_marj_month_freq.astype(int)

In [1627]:
vmmf_conds = [(mtf['vape_marj_month_freq']==1), (mtf['vape_marj_month_freq']==2),
            (mtf['vape_marj_month_freq']==3), (mtf['vape_marj_month_freq']==4),
            (mtf['vape_marj_month_freq']==5),(mtf['vape_marj_month_freq']==6),(mtf['vape_marj_month_freq']==7),
             (mtf['vape_marj_month_freq']==-9)]

vmmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['vape_marj_month_freq'] = np.select(vmmf_conds, vmmf_lbls)

In [1628]:
mtf.vape_marj_month_freq.value_counts()

Unknown    343170
0           14497
1-2X          805
20-39X        381
3-5X          351
6-9X          261
10-19X        229
40+           116
Name: vape_marj_month_freq, dtype: int64

In [1629]:
mtf.vape_flav_lifetime_freq = mtf.vape_flav_lifetime_freq.fillna(value=-9)

In [1630]:
mtf.vape_flav_lifetime_freq = mtf.vape_flav_lifetime_freq.astype(int)

In [1631]:
vflf_conds = [(mtf['vape_flav_lifetime_freq']==1), (mtf['vape_flav_lifetime_freq']==2),
            (mtf['vape_flav_lifetime_freq']==3), (mtf['vape_flav_lifetime_freq']==4),
            (mtf['vape_flav_lifetime_freq']==5),(mtf['vape_flav_lifetime_freq']==6),(mtf['vape_flav_lifetime_freq']==7),
             (mtf['vape_flav_lifetime_freq']==-9)]

vflf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['vape_flav_lifetime_freq'] = np.select(vflf_conds, vflf_lbls)

In [1632]:
mtf.vape_flav_lifetime_freq.value_counts()

Unknown    343060
0           12631
1-2X         1401
20-39X        810
3-5X          740
6-9X          532
10-19X        413
40+           223
Name: vape_flav_lifetime_freq, dtype: int64

In [1633]:
mtf.vape_flav_yr_freq = mtf.vape_flav_yr_freq.fillna(value=-9)

In [1634]:
mtf.vape_flav_yr_freq = mtf.vape_flav_yr_freq.astype(int)

In [1635]:
vfyf_conds = [(mtf['vape_flav_yr_freq']==1), (mtf['vape_flav_yr_freq']==2),
            (mtf['vape_flav_yr_freq']==3), (mtf['vape_flav_yr_freq']==4),
            (mtf['vape_flav_yr_freq']==5),(mtf['vape_flav_yr_freq']==6),(mtf['vape_flav_yr_freq']==7),
             (mtf['vape_flav_yr_freq']==-9)]

vfyf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['vape_flav_yr_freq'] = np.select(vfyf_conds, vfyf_lbls)

In [1636]:
mtf.vape_flav_yr_freq.value_counts()

Unknown    343099
0           12650
1-2X         1416
3-5X          755
20-39X        594
6-9X          503
10-19X        416
40+           377
Name: vape_flav_yr_freq, dtype: int64

In [1637]:
mtf.vape_flav_month_freq = mtf.vape_flav_month_freq.fillna(value=-9)

In [1638]:
mtf.vape_flav_month_freq = mtf.vape_flav_month_freq.astype(int)

In [1639]:
vfmf_conds = [(mtf['vape_flav_month_freq']==1), (mtf['vape_flav_month_freq']==2),
            (mtf['vape_flav_month_freq']==3), (mtf['vape_flav_month_freq']==4),
            (mtf['vape_flav_month_freq']==5),(mtf['vape_flav_month_freq']==6),(mtf['vape_flav_month_freq']==7),
             (mtf['vape_flav_month_freq']==-9)]

vfmf_lbls = ['0', '1-2X', '3-5X', '6-9X', '10-19X', 
            '20-39X', '40+', 'Unknown']

mtf['vape_flav_month_freq'] = np.select(vfmf_conds, vfmf_lbls)

In [1640]:
mtf.vape_flav_month_freq.value_counts()

Unknown    343130
0           14280
1-2X          924
3-5X          418
20-39X        335
6-9X          291
10-19X        220
40+           212
Name: vape_flav_month_freq, dtype: int64

In [1641]:
mtf.drop(labels='eliq_vape_month_freq', inplace=True, axis=1)

In [1643]:
mtf.drop(labels='tablet', inplace=True, axis=1)

In [1644]:
# Too small of sample size
mtf.drop(labels=['failed_quit_smoking', 'hard_to_quit_smoking', 'felt_addicted_smoking', 
                 'smoke_cravings', 'hard_not_to_smoke', 'dec_concen_smoking', 
                 'more_irritable_smoking', 'feel_strng_need_smoke', 'nervous_cdnt_smoke'],
        axis=1,
        inplace=True)

In [1645]:
mtf.drop(labels=['vape_brand', 'vape_brand_2', 'oth_vape_substance',
                 'vape_unknown', 'pick_up_vape_freq', 'vape_puff_freq',
                'juul_lifetime_freq', 'juul_yr_freq', 'juul_month_freq',
                'guess_nic_amount', 'juul_flavor', 'juul_source', 'tried_stop_juul',
                'hard_to_quit_juul', 'felt_addicted_juul', 'juul_cravings',
                'hard_not_to_juul', 'dec_concen_juul', 'more_irritable_juul',
                'feel_strng_need_juul', 'nervous_cdnt_juul'],
        axis=1,
         inplace=True)

In [1646]:
mtf.drop(labels=['juul_at_school', 'addictiveness_juul', 'addictiveness_smoking',
                 'addictiveness_marj', 'addictiveness_alcohol'],
         axis=1,
         inplace=True)

In [1647]:
mtf.head()

,yr_adminst,sampling_weight,region,msa,smsa,siblings,evr_smoked_cig,cig_month_freq,evr_drink,alcohol_lifetime_freq,alcohol_yr_freq,alcohol_month_freq,alcohol_amount,alcohol_2weeks,weed_hash_lifetime_freq,weed_hash_yr_freq,weed_hash_month_freq,lsd_lifetime_freq,lsd_yr_freq,lsd_month_freq,pysd_lifetime_freq,pysd_yr_freq,pysd_month_freq,coke_lifetime_freq,coke_yr_freq,coke_month_freq,amph_lifetime_freq,amph_yr_freq,amph_month_freq,meth_lifetime_freq,meth_yr_freq,meth_month_freq,sedbarb_lifetime_freq,sedbarb_yr_freq,sedbarb_month_freq,tranq_lifetime_freq,tranq_yr_freq,tranq_month_freq,heroin_lifetime_freq,heroin_yr_freq,heroin_month_freq,narcotic_lifetime_freq,narcotic_yr_freq,narcotic_month_freq,inhal_lifetime_freq,inhal_yr_freq,inhal_month_freq,age,sex,race_bwh,area_type,marital_status,lives_alone,has_father,has_mother,has_siblings,hshld_grandparents,hshld_spouse,hshld_children,hshld_relatives,hshld_nonrelatives,father_educ_lvl,mother_educ_lvl,mother_employed,political_party,political_value_type,relig_pref,relig_attd,relig_importance,hs_grad_yr,hs_type,academic_self_rating,intelligence_self_rating,school_missed_illness,school_missed_ditched,school_missed_other,skipped_class,avg_grade,tech_school_after_hs,military_after_hs,2yrcoll_after_hs,4yrcoll_after_hs,gradsch_after_hs,desire_tech_school,desire_military,desire_2yrcoll,desire_4yrcoll,desire_gradsch,desire_none,work_hrs,work_pay,other_income,rec_time,date_freq,drive_freq,12mo_r_tcktd,tckts_aft_drnk,tckts_aft_marj,tckts_aft_otdg,12mo_accidents,acdts_aft_drnk,acdts_aft_marj,acdts_aft_otdg,mil_branch_pref,mil_officer_pref,expect_mil_career,hash_lifetime_freq,hash_yr_freq,hash_month_freq,weed_lifetime_freq,weed_yr_freq,weed_month_freq,evr_tobacco,bidi_yr_freq,kreteks_yr_freq,drunk_lifetime_freq,drunk_yr_freq,drunk_month_freq,beer_lifetime_freq,beer_yr_freq,beer_month_freq,beer_2week,winecool_lifetime_freq,winecool_yr_freq,winecool_month_freq,winecool_2week,wine_lifetime_freq,wine_yr_freq,wine_month_freq,wine_2week,liqr_lifetime_freq,liqr_yr_freq,liqr_month_freq,liqr_2week,flvrdalc_lifetime_freq,flvrdalc_yr_freq,flvrdalc_month_freq,pcp_lifetime_freq,pcp_yr_freq,pcp_month_freq,mdma_lifetime_freq,mdma_yr_freq,mdma_month_freq,crack_lifetime_freq,crack_yr_freq,crack_month_freq,othcoke_lifetime_freq,othcoke_yr_freq,othcoke_month_freq,ritalin_yr_freq,dietpill_lifetime_freq,dietpill_yr_freq,dietpill_month_freq,staawak_lifetime_freq,staawak_yr_freq,staawak_month_freq,lookalik_lifetime_freq,lookalik_yr_freq,lookalik_month_freq,quaa_lifetime_freq,quaa_yr_freq,quaa_month_freq,roofi_yr_freq,ghb_yr_freq,keta_yr_freq,needle_lifetime_freq,needle_yr_freq,needle_month_freq,nnher_lifetime_freq,nnher_yr_freq,nnher_month_freq,inject_lifetime_freq,inject_yr_freq,inject_month_freq,oxy_yr_freq,vico_yr_freq,pprs_lifetime_freq,pprs_yr_freq,pprs_month_freq,steroid_lifetime_freq,steroid_yr_freq,steroid_month_freq,andro_yr_freq,creatine_yr_freq,coughmed_yr_freq,adderall_yr_freq,salvia_yr_freq,provigil_yr_freq,hookah_yr_freq,smcigars_yr_freq,nrg_drinks_day,nrg_shots_day,alc_caffeine_yr_freq,syn_marj_yr_freq,ecig_month_freq,bath_salts_yr_freq,lrg_cigar_month_freq,flvd_cigar_month_freq,sml_cigar_month_freq,syn_marj_month_freq,hgh_yr_freq,pwd_alc_yr_freq,hookah_month_freq,evr_vape,vape_marj_lifetime_freq,vape_marj_yr_freq,vape_marj_month_freq,vape_flav_lifetime_freq,vape_flav_yr_freq,vape_flav_month_freq,roofi_lifetime_freq,ghb_lifetime_freq,keta_lifetime_freq
0,1995,0.6,Midwest,1,1,1,Never,None,Unknown,0,0,None,Unknown,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Male,White,Medium City,Single,No,No,Yes,Yes,No,No,No,No,No,Graduated HS,College Grad,Yes/Nearly All,Don't Know,Don't Know,None,Rarely,A Little Important,June,Academic/College Prep,Average,Slightly Above Average,0,0,0,0,B+,Probably Will,Definitely Won't,Definitely Will,Definitely Will,Definitely Will,No,No,No,No,Yes,No,30+,126-175,0,4-5,2-3x Month,51-100,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,-9,-9,Unknown,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,1995,0.6,West,0,1,2,Regularly Now,2+ Packs,Unknown,40+,40+,1.5 Packs,Unknown,10+X,40+,40+,40+,40+,20-39X,10-19X,10-19X,6-9X,1-2X,40+,40+,10-19X,40+,40+,20-39X,Unknown,Unknown,Unknown,40+,40+,20-39X,10-19X,3-5X,3-5X,10-19X,3-5X,1-2X,1-2X,1-2X,1-2X,Unknown,Unknown,Unknown,Unknown,Male,Unknown,Small Town,Separated/Divorced,No,No,No,No,No,No,No,No,Yes,Some High School,Graduated HS,Yes/Some,Independent,Radical,None,Never,Not Important,June,Academic/College Prep,Far Above Average,Far Above Average,0,6-10,1,6-10,B+,Probably Won't,Definitely Won't,Probably Won't,Probably Will,Probably Will,No,No,No,No,No,Yes,5 or less,21-35,126-175,<1,Never,1-10,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,-9,-9,Unknown,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,1995,0.9,Midwest,0,1,1,Regularly Now,2 Packs,Unknown,40+,40+,2 Packs,Unknown,Unknown,20-39X,20-39X,0,1-2X,1-2X,1-2X,1-2X,1-2X,1-2X,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Unknown,White,Small Town,Single,No,Yes,Yes,Yes,No,No,No,No,No,Some College,Graduated HS,Yes/Nearly All,Strong Republican,Don't Know,None,Never,Not Important,June,General,Average,Average,3,3,0,1-2,C,Probably Won't,Probably Will,Probably Won't,Definitely Won't,Definitely Won't,No,Yes,No,No,No,No,6-10,76-125,0,2,Never,101-200,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Air Force,Uncertain,Uncertain,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,-9,-9,Unknown,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,1995,0.6,South,0,0,3+,Never,None,Unknown,0,0,None,Unknown,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Female,Unknown,Unknown,Single,No,Yes,Yes,Yes,Yes,No,No,No,No,Graduated HS,Graduated HS,Yes/Some,Independent,Moderate,Baptist,Every Week+,Pretty Important,June,General,Average,Average,0,0,1,0,B+,Probably Won't,Probably Won't,Probably Won't,Definitely Will,Definitely Will,No,No,No,Yes,No,No,21-25,51-75,0,1,1x Month,1-10,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,-9,-9,Unknown,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,1995,0.9,Midwest,1,1,None,Never,None,Unknown,0,0,None,Unknown,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Male,Unknown,Small Town,Single,No,Yes,Yes,No,No,No,No,No,No,College Grad,Graduate School,Yes/Most,No Pref,Don't Know,Church of Christ,Every Week+,Very Important,June,Academic/College Prep,Average,Average,0,0,0,0,C,Definitely Will,Unknown,Definitely Won't,Definitely Will,Definitely Will,Yes,No,No,Yes,No,No,16-20,76-125,36-50,2,Never,0,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,-9,-9,Unknown,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-9,Unknown,-9,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [1648]:
mtf.isna().sum()

yr_adminst                  0
sampling_weight             0
region                      0
msa                         0
smsa                        0
siblings                    0
evr_smoked_cig              0
cig_month_freq              0
evr_drink                   0
alcohol_lifetime_freq       0
alcohol_yr_freq             0
alcohol_month_freq          0
alcohol_amount              0
alcohol_2weeks              0
weed_hash_lifetime_freq     0
weed_hash_yr_freq           0
weed_hash_month_freq        0
lsd_lifetime_freq           0
lsd_yr_freq                 0
lsd_month_freq              0
pysd_lifetime_freq          0
pysd_yr_freq                0
pysd_month_freq             0
coke_lifetime_freq          0
coke_yr_freq                0
coke_month_freq             0
amph_lifetime_freq          0
amph_yr_freq                0
amph_month_freq             0
meth_lifetime_freq          0
meth_yr_freq                0
meth_month_freq             0
sedbarb_lifetime_freq       0
sedbarb_yr_freq             0
sedbarb_month_freq          0
tranq_lifetime_freq         0
tranq_yr_freq               0
tranq_month_freq            0
heroin_lifetime_freq        0
heroin_yr_freq              0
heroin_month_freq           0
narcotic_lifetime_freq      0
narcotic_yr_freq            0
narcotic_month_freq         0
inhal_lifetime_freq         0
inhal_yr_freq               0
inhal_month_freq            0
age                         0
sex                         0
race_bwh                    0
area_type                   0
marital_status              0
lives_alone                 0
has_father                  0
has_mother                  0
has_siblings                0
hshld_grandparents          0
hshld_spouse                0
hshld_children              0
hshld_relatives             0
hshld_nonrelatives          0
father_educ_lvl             0
mother_educ_lvl             0
mother_employed             0
political_party             0
political_value_type        0
relig_pref                  0
relig_attd                  0
relig_importance            0
hs_grad_yr                  0
hs_type                     0
academic_self_rating        0
intelligence_self_rating    0
school_missed_illness       0
school_missed_ditched       0
school_missed_other         0
skipped_class               0
avg_grade                   0
tech_school_after_hs        0
military_after_hs           0
2yrcoll_after_hs            0
4yrcoll_after_hs            0
gradsch_after_hs            0
desire_tech_school          0
desire_military             0
desire_2yrcoll              0
desire_4yrcoll              0
desire_gradsch              0
desire_none                 0
work_hrs                    0
work_pay                    0
other_income                0
rec_time                    0
date_freq                   0
drive_freq                  0
12mo_r_tcktd                0
tckts_aft_drnk              0
tckts_aft_marj              0
tckts_aft_otdg              0
12mo_accidents              0
acdts_aft_drnk              0
acdts_aft_marj              0
acdts_aft_otdg              0
mil_branch_pref             0
mil_officer_pref            0
expect_mil_career           0
hash_lifetime_freq          0
hash_yr_freq                0
hash_month_freq             0
weed_lifetime_freq          0
weed_yr_freq                0
weed_month_freq             0
evr_tobacco                 0
bidi_yr_freq                0
kreteks_yr_freq             0
drunk_lifetime_freq         0
drunk_yr_freq               0
drunk_month_freq            0
beer_lifetime_freq          0
beer_yr_freq                0
beer_month_freq             0
beer_2week                  0
winecool_lifetime_freq      0
winecool_yr_freq            0
winecool_month_freq         0
winecool_2week              0
wine_lifetime_freq          0
wine_yr_freq                0
wine_month_freq             0
wine_2week                  0
liqr_lifetime_freq          0
liqr_yr_freq                0
liqr_month_freq             0
liqr_2week                  0
flvrdalc_lifetime_freq      0
flvrdalc_yr_freq            0
flvrdalc_month_freq         0
pcp_lifetime_freq           0
pcp_yr_freq                 0
pcp_month_freq              0
mdma_lifetime_freq          0
mdma_yr_freq                0
mdma_month_freq             0
crack_lifetime_freq         0
crack_yr_freq               0
crack_month_freq            0
othcoke_lifetime_freq       0
othcoke_yr_freq             0
othcoke_month_freq          0
ritalin_yr_freq             0
dietpill_lifetime_freq      0
dietpill_yr_freq            0
dietpill_month_freq         0
staawak_lifetime_freq       0
staawak_yr_freq             0
staawak_month_freq          0
lookalik_lifetime_freq      0
lookalik_yr_freq            0
lookalik_month_freq         0
quaa_lifetime_freq          0
quaa_yr_freq                0
quaa_month_freq             0
roofi_yr_freq               0
ghb_yr_freq                 0
keta_yr_freq                0
needle_lifetime_freq        0
needle_yr_freq              0
needle_month_freq           0
nnher_lifetime_freq         0
nnher_yr_freq               0
nnher_month_freq            0
inject_lifetime_freq        0
inject_yr_freq              0
inject_month_freq           0
oxy_yr_freq                 0
vico_yr_freq                0
pprs_lifetime_freq          0
pprs_yr_freq                0
pprs_month_freq             0
steroid_lifetime_freq       0
steroid_yr_freq             0
steroid_month_freq          0
andro_yr_freq               0
creatine_yr_freq            0
coughmed_yr_freq            0
adderall_yr_freq            0
salvia_yr_freq              0
provigil_yr_freq            0
hookah_yr_freq              0
smcigars_yr_freq            0
nrg_drinks_day              0
nrg_shots_day               0
alc_caffeine_yr_freq        0
syn_marj_yr_freq            0
ecig_month_freq             0
bath_salts_yr_freq          0
lrg_cigar_month_freq        0
flvd_cigar_month_freq       0
sml_cigar_month_freq        0
syn_marj_month_freq         0
hgh_yr_freq                 0
pwd_alc_yr_freq             0
hookah_month_freq           0
evr_vape                    0
vape_marj_lifetime_freq     0
vape_marj_yr_freq           0
vape_marj_month_freq        0
vape_flav_lifetime_freq     0
vape_flav_yr_freq           0
vape_flav_month_freq        0
roofi_lifetime_freq         0
ghb_lifetime_freq           0
keta_lifetime_freq          0
dtype: int64

In [1649]:
mtf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359810 entries, 0 to 13712
Columns: 213 entries, yr_adminst to keta_lifetime_freq
dtypes: float64(1), int64(10), object(202)
memory usage: 595.5+ MB

In [1711]:
for col in mtf.columns:
    print(f'THIS IS COL: {col}\n{mtf[col].value_counts()}\n\n\n')

THIS IS COL: yr_adminst
1997    15963
1995    15876
1998    15780
2005    15378
2004    15222
2003    15200
2007    15132
2010    15127
2011    14855
1996    14823
2006    14814
2008    14577
2018    14502
2012    14343
2009    14268
1999    14056
2015    13730
2019    13713
2002    13544
2017    13522
2001    13304
2000    13286
2013    13180
2014    13015
2016    12600
Name: yr_adminst, dtype: int64

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

THIS IS COL: evr_smoked_cig
Never                174901
1-2x                  66799
Occasionally          40370
Regularly Now         35592
Unknown               24465
Regularly in Past     17683
Name: evr_smoked_cig, dtype: int64



THIS IS COL: cig_month_freq
None              270261
<1 Cigarettes      32159
1-5 Cigarettes     22822
2 Packs            12948
Unknown            11090
1 Pack              7649
1.5 Packs           1720
2+ Packs            1161
Name: cig_month_freq, dtype: int64



THIS IS COL: evr_drink
Yes        199906
Unknown     84492
No          75412
Name: evr_drink, dtype: int64



THIS IS COL: alcohol_lifetime_freq
0          90140
40+        69320
10-19X     39870
3-5X       35833
20-39X     34865
1-2X       34656
6-9X       31289
Unknown    23837
Name: alcohol_lifetime_freq, dtype: int64



THIS IS COL: alcohol_yr_freq
0          110769
1-2X        54988
3-5X        45130
10-19X      38015
6-9X        34891
40+         28992
20-39X      24320
Unknown     22705
Name: alcohol_yr_freq, dtype: int64



THIS IS COL: alcohol_month_freq
None              184353
<1 Cigarettes      68220
1-5 Cigarettes     38079
Unknown            22960
2 Packs            22009
1 Pack             14173
2+ Packs            5317
1.5 Packs           4699
Name: alcohol_month_freq, dtype: int64



THIS IS COL: alcohol_amount
Unknown       146607
None           58850
Few            56008
Most           40719
Half           30439
Nearly All     27187
Name: alcohol_amount, dtype: int64



THIS IS COL: alcohol_2weeks
None       240607
Unknown     33053
Once        31844
Twice       22654
3-5X        21384
6-9X         6394
10+X         3874
Name: alcohol_2weeks, dtype: int64



THIS IS COL: weed_hash_lifetime_freq
0          182906
40+         50388
1-2X        31931
Unknown     25690
3-5X        20913
10-19X      17741
20-39X      15465
6-9X        14776
Name: weed_hash_lifetime_freq, dtype: int64



THIS IS COL: weed_hash_yr_freq
0          218663
1-2X        33509
40+         31155
3-5X        20069
Unknown     16921
10-19X      14507
6-9X        13689
20-39X      11297
Name: weed_hash_yr_freq, dtype: int64



THIS IS COL: weed_hash_month_freq
0          265641
1-2X        26123
Unknown     17082
40+         12738
3-5X        12546
10-19X       9521
6-9X         8359
20-39X       7800
Name: weed_hash_month_freq, dtype: int64



THIS IS COL: lsd_lifetime_freq
0          311694
Unknown     25113
1-2X        11127
3-5X         4289
6-9X         2575
10-19X       2132
40+          1627
20-39X       1253
Name: lsd_lifetime_freq, dtype: int64



THIS IS COL: lsd_yr_freq
0          320517
Unknown     25154
1-2X         8005
3-5X         2773
6-9X         1451
10-19X        925
40+           541
20-39X        444
Name: lsd_yr_freq, dtype: int64



THIS IS COL: lsd_month_freq
0          329544
Unknown     25186
1-2X         3306
3-5X          786
6-9X          408
40+           271
10-19X        216
20-39X         93
Name: lsd_month_freq, dtype: int64



THIS IS COL: pysd_lifetime_freq
0          310539
Unknown     26351
1-2X        12587
3-5X         4702
6-9X         2228
10-19X       1588
40+          1071
20-39X        744
Name: pysd_lifetime_freq, dtype: int64



THIS IS COL: pysd_yr_freq
0          319079
Unknown     26417
1-2X         9160
3-5X         2690
6-9X         1146
10-19X        621
40+           409
20-39X        288
Name: pysd_yr_freq, dtype: int64



THIS IS COL: pysd_month_freq
0          328614
Unknown     26490
1-2X         3258
3-5X          683
6-9X          321
40+           229
10-19X        158
20-39X         57
Name: pysd_month_freq, dtype: int64



THIS IS COL: coke_lifetime_freq
0          320785
Unknown     17765
1-2X         9038
3-5X         4140
40+          2721
10-19X       2072
6-9X         1980
20-39X       1309
Name: coke_lifetime_freq, dtype: int64



THIS IS COL: coke_yr_freq
0          328702
Unknown     17766
1-2X         5704
3-5X         2743
6-9X         1470
10-19X       1445
40+          1230
20-39X        750
Name: coke_yr_freq, dtype: int64



THIS IS COL: coke_month_freq
0          336232
Unknown     17817
1-2X         2799
3-5X         1274
6-9X          598
10-19X        510
40+           412
20-39X        168
Name: coke_month_freq, dtype: int64



THIS IS COL: amph_lifetime_freq
0          297795
Unknown     19499
1-2X        16430
3-5X         8126
6-9X         5089
40+          5086
10-19X       4717
20-39X       3068
Name: amph_lifetime_freq, dtype: int64



THIS IS COL: amph_yr_freq
0          312418
Unknown     19556
1-2X        12330
3-5X         5485
6-9X         3462
10-19X       2910
40+          1953
20-39X       1696
Name: amph_yr_freq, dtype: int64



THIS IS COL: amph_month_freq
0          327439
Unknown     19686
1-2X         6589
3-5X         2471
6-9X         1448
10-19X       1099
20-39X        589
40+           489
Name: amph_month_freq, dtype: int64



THIS IS COL: meth_lifetime_freq
Unknown    228049
0          126633
1-2X         2471
3-5X          870
40+           553
6-9X          517
10-19X        443
20-39X        274
Name: meth_lifetime_freq, dtype: int64



THIS IS COL: meth_yr_freq
Unknown    228360
0          128507
1-2X         1417
3-5X          543
6-9X          350
10-19X        272
40+           218
20-39X        143
Name: meth_yr_freq, dtype: int64



THIS IS COL: meth_month_freq
Unknown    228414
0          130130
1-2X          646
3-5X          225
6-9X          165
10-19X        105
40+            83
20-39X         42
Name: meth_month_freq, dtype: int64



THIS IS COL: sedbarb_lifetime_freq
0          302820
Unknown     30290
1-2X        10711
3-5X         5352
6-9X         3225
10-19X       2873
40+          2769
20-39X       1770
Name: sedbarb_lifetime_freq, dtype: int64



THIS IS COL: sedbarb_yr_freq
0          311641
Unknown     30300
1-2X         8285
3-5X         3585
6-9X         2280
10-19X       1816
40+           962
20-39X        941
Name: sedbarb_yr_freq, dtype: int64



THIS IS COL: sedbarb_month_freq
0          321035
Unknown     30362
1-2X         4632
3-5X         1752
6-9X          990
10-19X        618
20-39X        226
40+           195
Name: sedbarb_month_freq, dtype: int64



THIS IS COL: tranq_lifetime_freq
0          314656
Unknown     16271
1-2X        12831
3-5X         5697
6-9X         3197
10-19X       2881
40+          2535
20-39X       1742
Name: tranq_lifetime_freq, dtype: int64



THIS IS COL: tranq_yr_freq
0          324712
Unknown     16288
1-2X         9278
3-5X         3747
6-9X         2297
10-19X       1698
40+           898
20-39X        892
Name: tranq_yr_freq, dtype: int64



THIS IS COL: tranq_month_freq
0          335532
Unknown     16390
1-2X         4492
3-5X         1585
6-9X          890
10-19X        526
40+           203
20-39X        192
Name: tranq_month_freq, dtype: int64



THIS IS COL: heroin_lifetime_freq
0          338818
Unknown     16202
1-2X         2270
3-5X          797
40+           717
6-9X          394
10-19X        393
20-39X        219
Name: heroin_lifetime_freq, dtype: int64



THIS IS COL: heroin_yr_freq
0          340901
Unknown     16131
1-2X         1189
3-5X          494
40+           362
6-9X          297
10-19X        267
20-39X        169
Name: heroin_yr_freq, dtype: int64



THIS IS COL: heroin_month_freq
0          342164
Unknown     16149
1-2X          572
3-5X          276
40+           226
6-9X          183
10-19X        181
20-39X         59
Name: heroin_month_freq, dtype: int64



THIS IS COL: narcotic_lifetime_freq
0          299830
Unknown     26343
1-2X        13623
3-5X         6863
6-9X         3988
10-19X       3616
40+          3354
20-39X       2193
Name: narcotic_lifetime_freq, dtype: int64



THIS IS COL: narcotic_yr_freq
0          310991
Unknown     26371
1-2X        10362
3-5X         4631
6-9X         2813
10-19X       2211
40+          1286
20-39X       1145
Name: narcotic_yr_freq, dtype: int64



THIS IS COL: narcotic_month_freq
0          324241
Unknown     26504
1-2X         4937
3-5X         1866
6-9X         1016
10-19X        684
40+           319
20-39X        243
Name: narcotic_month_freq, dtype: int64



THIS IS COL: inhal_lifetime_freq
0          171238
Unknown    167511
1-2X        11242
3-5X         3990
6-9X         2017
10-19X       1704
40+          1294
20-39X        814
Name: inhal_lifetime_freq, dtype: int64



THIS IS COL: inhal_yr_freq
0          183765
Unknown    167594
1-2X         4503
3-5X         1640
6-9X          941
10-19X        649
40+           405
20-39X        313
Name: inhal_yr_freq, dtype: int64

THIS IS COL: inhal_month_freq
0          188983
Unknown    167659
1-2X         1846
3-5X          576
6-9X          304
10-19X        191
40+           170
20-39X         81
Name: inhal_month_freq, dtype: int64



THIS IS COL: age
18+        168532
< 18       137913
Unknown     53365
Name: age, dtype: int64



THIS IS COL: sex
Female     166983
Male       159871
Unknown     32956
Name: sex, dtype: int64



THIS IS COL: race_bwh
White       200615
Unknown      82670
Black        45746
Hispanic     30779
Name: race_bwh, dtype: int64



THIS IS COL: area_type
Small Town                   84484
Medium City                  44126
Unknown                      42189
Country                      40570
Large City                   34688
Suburb of Medium City        33274
Suburb of Large City         25324
City >500,000 (Vry Large)    20938
Farm                         18503
Suburb of Vry Lrg City       15714
Name: area_type, dtype: int64



THIS IS COL: marital_status
Single                300365
Engaged                21022
Unknown                18101
Married                16066
Separated/Divorced      4256
Name: marital_status, dtype: int64



THIS IS COL: lives_alone
Unknown    330206
No          29317
Yes           287
Name: lives_alone, dtype: int64



THIS IS COL: has_father
Yes        242078
No          89649
Unknown     28083
Name: has_father, dtype: int64



THIS IS COL: has_mother
Yes        295561
No          36734
Unknown     27515
Name: has_mother, dtype: int64



THIS IS COL: has_siblings
Yes        222491
No         108287
Unknown     29032
Name: has_siblings, dtype: int64



THIS IS COL: hshld_grandparents
Unknown    330206
No          27841
Yes          1763
Name: hshld_grandparents, dtype: int64



THIS IS COL: hshld_spouse
Unknown    330206
No          29323
Yes           281
Name: hshld_spouse, dtype: int64



THIS IS COL: hshld_children
Unknown    330216
No          29070
Yes           524
Name: hshld_children, dtype: int64



THIS IS COL: hshld_relatives
Unknown    330206
No          27953
Yes          1651
Name: hshld_relatives, dtype: int64



THIS IS COL: hshld_nonrelatives
Unknown    330206
No          28353
Yes          1251
Name: hshld_nonrelatives, dtype: int64



THIS IS COL: father_educ_lvl
Graduated HS        82780
College Grad        68930
Unknown             55888
Some College        52263
Graduate School     43692
Some High School    31632
Grade School        24625
Name: father_educ_lvl, dtype: int64



THIS IS COL: mother_educ_lvl
College Grad        84978
Graduated HS        82921
Some College        65999
Graduate School     42081
Unknown             36274
Some High School    26813
Grade School        20744
Name: mother_educ_lvl, dtype: int64



THIS IS COL: mother_employed
Yes/Nearly All    151475
Yes/Some           67051
Yes/Most           63894
No                 51166
Unknown            26224
Name: mother_employed, dtype: int64



THIS IS COL: political_party
Don't Know           66147
No Pref              49913
Mild Democrat        46213
Mild Republican      43521
Strong Democrat      41793
Unknown              40409
Independent          34110
Strong Republican    31501
Other                 6203
Name: political_party, dtype: int64



THIS IS COL: political_value_type
Don't Know           102456
Moderate              80258
Liberal               52186
Conservative          40558
Unknown               37129
Very Liberal          20603
Very Conservative     16136
Radical               10484
Name: political_value_type, dtype: int64



THIS IS COL: relig_pref
Unknown                    330732
Roman Catholic               7422
Baptist                      5592
None                         4861
Other                        2186
Church of Christ             1777
Methodist                    1668
Other Protestant             1068
Lutheran                     1019
Presbytarian                  916
Jewish                        674
Latter-Day Saints             466
Episcopal                     389
Buddhist                      366
Muslim                        182
Eastern Orthodox              162
United Church of Christ       141
Disciples of Christ           136
Unitarian                      53
Name: relig_pref, dtype: int64



THIS IS COL: relig_attd
Rarely         91774
Every Week+    86223
Unknown        86047
Never          48913
1-2x Month     46853
Name: relig_attd, dtype: int64



THIS IS COL: relig_importance
Unknown               89648
Very Important        77476
Pretty Important      73452
A Little Important    67840
Not Important         51394
Name: relig_importance, dtype: int64



THIS IS COL: hs_grad_yr
June                        311564
Unknown                      32355
July-January                  8573
After January                 5323
Don't Expect to Graduate      1995
Name: hs_grad_yr, dtype: int64



THIS IS COL: hs_type
Academic/College Prep              186415
General                             98631
Other/Don't Know                    29148
Unknown                             25067
Vocational/Technical/Commercial     20549
Name: hs_type, dtype: int64



THIS IS COL: academic_self_rating
Average                   106728
Above Average              88065
Slightly Above Average     74428
Unknown                    25994
Far Above Average          22353
Slightly Below Avg         16965
Far Below                  12780
Below Avg                  12497
Name: academic_self_rating, dtype: int64



THIS IS COL: intelligence_self_rating
Average                   99593
Above Average             93958
Slightly Above Average    80045
Far Above Average         28605
Unknown                   23018
Far Below                 16063
Slightly Below Avg        13242
Below Avg                  5286
Name: intelligence_self_rating, dtype: int64



THIS IS COL: school_missed_illness
0          182886
1           58570
2           34774
Unknown     28449
3           25091
4-5         17079
6-10         8774
11+          4187
Name: school_missed_illness, dtype: int64



THIS IS COL: school_missed_ditched
0          212744
1           43647
Unknown     34062
2           23328
3           18357
4-5         14083
6-10         8392
11+          5197
Name: school_missed_ditched, dtype: int64



THIS IS COL: school_missed_other
0          175476
1           62539
2           35570
Unknown     31447
3           23217
4-5         17188
6-10         9191
11+          5182
Name: school_missed_other, dtype: int64



THIS IS COL: skipped_class
0          222533
1-2         64037
3-5         28991
Unknown     23820
6-10        11393
11-20        4926
21+          4110
Name: skipped_class, dtype: int64



THIS IS COL: avg_grade
B+         57589
B          56095
A-         53464
A+         51537
B-         36885
C+         28823
Unknown    24497
D          22103
C          18046
C-         10771
Name: avg_grade, dtype: int64



THIS IS COL: tech_school_after_hs
Definitely Won't    175957
Probably Won't       71047
Unknown              49135
Probably Will        40164
Definitely Will      23507
Name: tech_school_after_hs, dtype: int64



THIS IS COL: military_after_hs
Definitely Won't    220902
Probably Won't       58688
Unknown              40063
Probably Will        23635
Definitely Will      16522
Name: military_after_hs, dtype: int64



THIS IS COL: 2yrcoll_after_hs
Definitely Won't    120803
Probably Will        68055
Definitely Will      64521
Probably Won't       58414
Unknown              48017
Name: 2yrcoll_after_hs, dtype: int64



THIS IS COL: 4yrcoll_after_hs
Definitely Will     184867
Probably Will        73614
Definitely Won't     35395
Probably Won't       34081
Unknown              31853
Name: 4yrcoll_after_hs, dtype: int64



THIS IS COL: gradsch_after_hs
Probably Will       100785
Probably Won't       81187
Definitely Will      69749
Definitely Won't     60568
Unknown              47521
Name: gradsch_after_hs, dtype: int64



THIS IS COL: desire_tech_school
No         268205
Yes         54698
Unknown     36907
Name: desire_tech_school, dtype: int64



THIS IS COL: desire_military
No         266548
Yes         52742
Unknown     40520
Name: desire_military, dtype: int64



THIS IS COL: desire_2yrcoll
No         228724
Yes         91626
Unknown     39460
Name: desire_2yrcoll, dtype: int64

THIS IS COL: desire_4yrcoll
Yes        242196
No          88348
Unknown     29266
Name: desire_4yrcoll, dtype: int64



THIS IS COL: desire_gradsch
Yes        176457
No         149552
Unknown     33801
Name: desire_gradsch, dtype: int64



THIS IS COL: desire_none
No         297518
Unknown     33821
Yes         28471
Name: desire_none, dtype: int64



THIS IS COL: work_hrs
0            103128
Unknown       53638
16-20         39959
11-15         31449
21-25         31361
6-10          29456
5 or less     27717
30+           21778
26-30         21324
Name: work_hrs, dtype: int64



THIS IS COL: work_pay
0          107043
Unknown     63996
76-125      54619
126-175     47962
51-75       26171
36-50       16462
176+        12008
21-35       11264
6-10         8546
11-20        8400
1-5          3339
Name: work_pay, dtype: int64



THIS IS COL: other_income
0          113155
Unknown     76596
11-20       48614
21-35       30780
6-10        27267
36-50       18807
1-5         16872
51-75        9250
126-175      7782
76-125       7528
176+         3159
Name: other_income, dtype: int64



THIS IS COL: rec_time
2          82745
3          71442
4-5        47639
1          45534
<1         44445
Unknown    44215
6-7        23790
Name: rec_time, dtype: int64



THIS IS COL: date_freq
Never         99963
1x Month      52515
2-3x Week     47383
2-3x Month    45709
Unknown       43783
1x Week       43222
3x Week+      27235
Name: date_freq, dtype: int64



THIS IS COL: drive_freq
0          73915
11-50      71528
51-100     66549
101-200    47901
Unknown    39103
200+       33298
1-10       27516
Name: drive_freq, dtype: int64



THIS IS COL: 12mo_r_tcktd
0          214493
1           56236
Unknown     41796
2           21634
3           14194
4+          11457
Name: 12mo_r_tcktd, dtype: int64



THIS IS COL: tckts_aft_drnk
Unknown    255256
0           68342
1           16662
3+          12629
2            6921
Name: tckts_aft_drnk, dtype: int64



THIS IS COL: tckts_aft_marj
Unknown    256390
0           68884
1           15179
3+          14689
2            4668
Name: tckts_aft_marj, dtype: int64



THIS IS COL: tckts_aft_otdg
Unknown    252830
0           91426
1            7176
3+           6104
2            2274
Name: tckts_aft_otdg, dtype: int64



THIS IS COL: 12mo_accidents
0          239671
Unknown     57223
1           47932
2           11080
3            2700
4+           1204
Name: 12mo_accidents, dtype: int64



THIS IS COL: acdts_aft_drnk
Unknown    293269
0           63870
1            2062
2             346
3+            263
Name: acdts_aft_drnk, dtype: int64



THIS IS COL: acdts_aft_marj
Unknown    293490
0           64274
1            1536
2             274
3+            236
Name: acdts_aft_marj, dtype: int64



THIS IS COL: acdts_aft_otdg
Unknown    273768
0           81504
1            3409
2             744
3+            385
Name: acdts_aft_otdg, dtype: int64



THIS IS COL: mil_branch_pref
Unknown        347078
Army             4211
Air Force        2427
Marines          2103
Navy             1946
Uncertain        1609
Coast Guard       436
Name: mil_branch_pref, dtype: int64



THIS IS COL: mil_officer_pref
Unknown      348500
Uncertain      4758
Yes            4505
No             2047
Name: mil_officer_pref, dtype: int64



THIS IS COL: expect_mil_career
Unknown      348582
Uncertain      5007
Yes            3969
No             2252
Name: expect_mil_career, dtype: int64



THIS IS COL: hash_lifetime_freq
Unknown    324396
None        31488
1-2X         1566
3-5X          723
40+           713
6-9X          412
10-19X        282
20-39X        230
Name: hash_lifetime_freq, dtype: int64



THIS IS COL: hash_yr_freq
Unknown    299579
None        53235
1-2X         2741
3-5X         1163
40+          1124
6-9X          752
10-19X        687
20-39X        529
Name: hash_yr_freq, dtype: int64



THIS IS COL: hash_month_freq
Unknown    324419
None        34077
1-2X          544
40+           228
3-5X          199
6-9X          140
10-19X        111
20-39X         92
Name: hash_month_freq, dtype: int64



THIS IS COL: weed_lifetime_freq
Unknown    324522
None        18971
40+          5615
1-2X         3339
3-5X         2165
10-19X       1856
20-39X       1686
6-9X         1656
Name: weed_lifetime_freq, dtype: int64



THIS IS COL: weed_yr_freq
Unknown    324573
None        22723
40+          3268
1-2X         3264
3-5X         1949
6-9X         1425
10-19X       1410
20-39X       1198
Name: weed_yr_freq, dtype: int64



THIS IS COL: weed_month_freq
Unknown    324573
None        27476
1-2X         2553
40+          1383
3-5X         1200
10-19X        960
20-39X        834
6-9X          831
Name: weed_month_freq, dtype: int64



THIS IS COL: evr_tobacco
Unknown      342842
Never         14281
1-2x           1372
1-2x Week       597
1x Day          440
3-5x Week       278
Name: evr_tobacco, dtype: int64



THIS IS COL: bidi_yr_freq
Unknown    335916
0           23338
1-2X          274
3-5X           92
40+            66
6-9X           66
10-19X         37
20-39X         21
Name: bidi_yr_freq, dtype: int64



THIS IS COL: kreteks_yr_freq
Unknown    333766
0           22308
1-2X         1238
3-5X          701
40+           542
6-9X          485
10-19X        444
20-39X        326
Name: kreteks_yr_freq, dtype: int64



THIS IS COL: drunk_lifetime_freq
Unknown    286338
0           43040
1-2X         9112
3-5X         5396
40+          4895
6-9X         4000
10-19X       3909
20-39X       3120
Name: drunk_lifetime_freq, dtype: int64



THIS IS COL: drunk_yr_freq
Unknown    295435
0           39281
1-2X         9213
3-5X         4869
6-9X         3531
10-19X       3236
40+          2287
20-39X       1958
Name: drunk_yr_freq, dtype: int64



THIS IS COL: drunk_month_freq
Unknown    300009
0           43892
1-2X         8001
3-5X         3489
6-9X         1959
10-19X       1236
40+           747
20-39X        477
Name: drunk_month_freq, dtype: int64



THIS IS COL: beer_lifetime_freq
Unknown    346021
0            4778
40+          2216
1-2X         1909
3-5X         1386
10-19X       1298
20-39X       1116
6-9X         1086
Name: beer_lifetime_freq, dtype: int64



THIS IS COL: beer_yr_freq
Unknown    346110
0            6563
1-2X         1989
3-5X         1419
6-9X         1055
10-19X       1053
40+           911
20-39X        710
Name: beer_yr_freq, dtype: int64



THIS IS COL: beer_month_freq
Unknown    346157
0            9097
1-2X         1956
3-5X         1140
6-9X          721
10-19X        432
40+           165
20-39X        142
Name: beer_month_freq, dtype: int64



THIS IS COL: beer_2week
Unknown    346335
0           10186
1            1159
2             822
3-5           779
6-9           316
10+           213
Name: beer_2week, dtype: int64



THIS IS COL: winecool_lifetime_freq
Unknown    346016
0            7285
1-2X         2113
3-5X         1586
6-9X         1012
10-19X        834
40+           496
20-39X        468
Name: winecool_lifetime_freq, dtype: int64



THIS IS COL: winecool_yr_freq
Unknown    346079
0            9675
1-2X         1952
3-5X          980
6-9X          523
10-19X        307
40+           158
20-39X        136
Name: winecool_yr_freq, dtype: int64



THIS IS COL: winecool_month_freq
Unknown    346146
0           12066
1-2X          986
3-5X          298
6-9X          151
10-19X         83
40+            55
20-39X         25
Name: winecool_month_freq, dtype: int64



THIS IS COL: winecool_2week
Unknown    346409
0           11854
1             673
2             426
3-5           235
6-9           123
10+            90
Name: winecool_2week, dtype: int64



THIS IS COL: wine_lifetime_freq
Unknown    346085
0            7248
1-2X         2666
3-5X         1595
6-9X          871
10-19X        615
40+           430
20-39X        300
Name: wine_lifetime_freq, dtype: int64



THIS IS COL: wine_yr_freq
Unknown    346151
0            9435
1-2X         2405
3-5X          869
6-9X          426
10-19X        273
40+           145
20-39X        106
Name: wine_yr_freq, dtype: int64



THIS IS COL: wine_month_freq
Unknown    346193
0           11991
1-2X         1079
3-5X          298
6-9X          121
40+            55
10-19X         55
20-39X         18
Name: wine_month_freq, dtype: int64

THIS IS COL: wine_2week
Unknown    346515
0           11719
1             509
2             351
3-5           255
6-9           252
10+           209
Name: wine_2week, dtype: int64



THIS IS COL: liqr_lifetime_freq
Unknown    346158
0            4626
40+          1707
1-2X         1659
10-19X       1523
3-5X         1516
6-9X         1372
20-39X       1249
Name: liqr_lifetime_freq, dtype: int64



THIS IS COL: liqr_yr_freq
Unknown    346229
0            6195
1-2X         2162
3-5X         1625
6-9X         1233
10-19X       1125
20-39X        637
40+           604
Name: liqr_yr_freq, dtype: int64



THIS IS COL: liqr_month_freq
Unknown    346345
0            9076
1-2X         2116
3-5X         1163
6-9X          566
10-19X        305
20-39X        126
40+           113
Name: liqr_month_freq, dtype: int64



THIS IS COL: liqr_2week
Unknown    346687
0            9344
1            1289
2             968
3-5           834
6-9           387
10+           301
Name: liqr_2week, dtype: int64



THIS IS COL: flvrdalc_lifetime_freq
Unknown    345078
0            5075
1-2X         2202
3-5X         1863
10-19X       1549
6-9X         1492
40+          1459
20-39X       1092
Name: flvrdalc_lifetime_freq, dtype: int64



THIS IS COL: flvrdalc_yr_freq
Unknown    345106
0            7408
1-2X         2590
3-5X         1716
6-9X         1128
10-19X        936
20-39X        486
40+           440
Name: flvrdalc_yr_freq, dtype: int64



THIS IS COL: flvrdalc_month_freq
Unknown    345065
0           11116
1-2X         1986
3-5X          808
6-9X          432
10-19X        211
40+           118
20-39X         74
Name: flvrdalc_month_freq, dtype: int64



THIS IS COL: pcp_lifetime_freq
Unknown    344671
0           14864
1-2X          147
40+            44
3-5X           33
6-9X           25
10-19X         16
20-39X         10
Name: pcp_lifetime_freq, dtype: int64



THIS IS COL: pcp_yr_freq
Unknown    344665
0           15000
1-2X           46
40+            32
3-5X           28
6-9X           25
10-19X          7
20-39X          7
Name: pcp_yr_freq, dtype: int64



THIS IS COL: pcp_month_freq
Unknown    342138
0           17231
1-2X          191
3-5X           71
6-9X           58
40+            55
10-19X         51
20-39X         15
Name: pcp_month_freq, dtype: int64



THIS IS COL: mdma_lifetime_freq
Unknown    279490
0           75728
1-2X         2493
3-5X          872
6-9X          477
10-19X        326
40+           260
20-39X        164
Name: mdma_lifetime_freq, dtype: int64



THIS IS COL: mdma_yr_freq
Unknown    279497
0           77550
1-2X         1657
3-5X          502
6-9X          250
10-19X        166
40+           122
20-39X         66
Name: mdma_yr_freq, dtype: int64



THIS IS COL: mdma_month_freq
Unknown    270500
0           88145
1-2X          723
3-5X          175
6-9X           94
40+            91
10-19X         59
20-39X         23
Name: mdma_month_freq, dtype: int64



THIS IS COL: crack_lifetime_freq
0          191161
Unknown    163083
1-2X         2671
3-5X          950
40+           693
6-9X          532
10-19X        441
20-39X        279
Name: crack_lifetime_freq, dtype: int64



THIS IS COL: crack_yr_freq
0          193410
Unknown    163029
1-2X         1544
3-5X          624
6-9X          412
40+           367
10-19X        263
20-39X        161
Name: crack_yr_freq, dtype: int64



THIS IS COL: crack_month_freq
0          190414
Unknown    167412
1-2X          931
3-5X          360
40+           248
6-9X          233
10-19X        146
20-39X         66
Name: crack_month_freq, dtype: int64



THIS IS COL: othcoke_lifetime_freq
Unknown    227558
0          126187
1-2X         2916
3-5X          994
40+           694
6-9X          546
10-19X        538
20-39X        377
Name: othcoke_lifetime_freq, dtype: int64



THIS IS COL: othcoke_yr_freq
Unknown    227523
0          128586
1-2X         1784
3-5X          647
6-9X          415
10-19X        350
40+           291
20-39X        214
Name: othcoke_yr_freq, dtype: int64



THIS IS COL: othcoke_month_freq
Unknown    232463
0          125672
1-2X          914
3-5X          314
6-9X          178
10-19X        130
40+           102
20-39X         37
Name: othcoke_month_freq, dtype: int64



THIS IS COL: ritalin_yr_freq
Unknown    299199
0           59013
1-2X          687
3-5X          337
6-9X          186
40+           168
10-19X        147
20-39X         73
Name: ritalin_yr_freq, dtype: int64



THIS IS COL: dietpill_lifetime_freq
Unknown    343534
0           14715
1-2X          572
3-5X          271
40+           251
6-9X          177
10-19X        157
20-39X        133
Name: dietpill_lifetime_freq, dtype: int64



THIS IS COL: dietpill_yr_freq
Unknown    343530
0           15223
1-2X          390
3-5X          187
10-19X        131
40+           124
6-9X          118
20-39X        107
Name: dietpill_yr_freq, dtype: int64



THIS IS COL: dietpill_month_freq
Unknown    343530
0           15694
1-2X          226
3-5X          101
6-9X           83
10-19X         74
20-39X         56
40+            46
Name: dietpill_month_freq, dtype: int64



THIS IS COL: staawak_lifetime_freq
Unknown    343545
0           14693
1-2X          750
3-5X          285
6-9X          174
40+           149
10-19X        136
20-39X         78
Name: staawak_lifetime_freq, dtype: int64



THIS IS COL: staawak_yr_freq
Unknown    343546
0           15269
1-2X          514
3-5X          167
6-9X          111
10-19X         85
40+            69
20-39X         49
Name: staawak_yr_freq, dtype: int64



THIS IS COL: staawak_month_freq
Unknown    343562
0           15837
1-2X          224
3-5X           69
6-9X           54
10-19X         27
40+            26
20-39X         11
Name: staawak_month_freq, dtype: int64



THIS IS COL: lookalik_lifetime_freq
Unknown    343577
0           15564
1-2X          291
3-5X          128
6-9X           74
40+            73
10-19X         64
20-39X         39
Name: lookalik_lifetime_freq, dtype: int64



THIS IS COL: lookalik_yr_freq
Unknown    343566
0           15827
1-2X          200
3-5X           72
6-9X           54
10-19X         42
40+            34
20-39X         15
Name: lookalik_yr_freq, dtype: int64



THIS IS COL: lookalik_month_freq
Unknown    343665
0           15916
1-2X          109
3-5X           41
6-9X           29
40+            25
20-39X         13
10-19X         12
Name: lookalik_month_freq, dtype: int64



THIS IS COL: quaa_lifetime_freq
Unknown    343828
0           15828
1-2X           53
3-5X           32
6-9X           25
40+            23
10-19X         16
20-39X          5
Name: quaa_lifetime_freq, dtype: int64



THIS IS COL: quaa_yr_freq
Unknown    341645
0           18013
1-2X           71
3-5X           28
40+            22
6-9X           19
10-19X          7
20-39X          5
Name: quaa_yr_freq, dtype: int64



THIS IS COL: quaa_month_freq
Unknown    338849
0           20857
1-2X           39
40+            23
3-5X           14
10-19X         13
6-9X           10
20-39X          5
Name: quaa_month_freq, dtype: int64



THIS IS COL: roofi_yr_freq
Unknown    328505
0           30985
1-2X          113
3-5X           59
40+            55
6-9X           45
10-19X         27
20-39X         21
Name: roofi_yr_freq, dtype: int64



THIS IS COL: ghb_yr_freq
Unknown    339638
0           20001
1-2X           59
6-9X           35
40+            32
3-5X           23
10-19X         15
20-39X          7
Name: ghb_yr_freq, dtype: int64



THIS IS COL: keta_yr_freq
Unknown    282157
0           76530
1-2X          472
3-5X          214
40+           167
6-9X          147
10-19X         71
20-39X         52
Name: keta_yr_freq, dtype: int64



THIS IS COL: needle_lifetime_freq
Unknown    253205
0          105030
1-2X          680
3-5X          268
40+           216
6-9X          180
10-19X        149
20-39X         82
Name: needle_lifetime_freq, dtype: int64



THIS IS COL: needle_yr_freq
Unknown    253227
0          105638
1-2X          430
3-5X          154
6-9X          130
40+            95
10-19X         81
20-39X         55
Name: needle_yr_freq, dtype: int64



THIS IS COL: needle_month_freq
Unknown    258177
0          101122
1-2X          228
3-5X           97
40+            63
6-9X           62
10-19X         45
20-39X         16
Name: needle_month_freq, dtype: int64



THIS IS COL: nnher_lifetime_freq
Unknown    258653
0           99867
1-2X          687
3-5X          214
6-9X          133
40+           120
10-19X         94
20-39X         42
Name: nnher_lifetime_freq, dtype: int64

THIS IS COL: nnher_yr_freq
Unknown    258612
0          100407
1-2X          428
3-5X          153
6-9X           77
40+            58
10-19X         47
20-39X         28
Name: nnher_yr_freq, dtype: int64



THIS IS COL: nnher_month_freq
Unknown    254251
0          104909
1-2X          324
3-5X          121
6-9X           73
40+            55
10-19X         52
20-39X         25
Name: nnher_month_freq, dtype: int64



THIS IS COL: inject_lifetime_freq
Unknown    340111
0           18959
1-2X          348
3-5X          131
6-9X           91
40+            79
10-19X         62
20-39X         29
Name: inject_lifetime_freq, dtype: int64



THIS IS COL: inject_yr_freq
Unknown    272799
0           81899
1-2X         2460
3-5X         1080
6-9X          602
10-19X        429
40+           347
20-39X        194
Name: inject_yr_freq, dtype: int64



THIS IS COL: inject_month_freq
Unknown    340147
0           19481
1-2X           64
40+            48
3-5X           30
6-9X           28
10-19X          8
20-39X          4
Name: inject_month_freq, dtype: int64



THIS IS COL: oxy_yr_freq
Unknown    270640
0           85655
1-2X         1553
3-5X          739
6-9X          424
40+           353
10-19X        280
20-39X        166
Name: oxy_yr_freq, dtype: int64



THIS IS COL: vico_yr_freq
Unknown    272799
0           81899
1-2X         2460
3-5X         1080
6-9X          602
10-19X        429
40+           347
20-39X        194
Name: vico_yr_freq, dtype: int64



THIS IS COL: pprs_lifetime_freq
Unknown    344596
0           14887
1-2X          140
3-5X           77
6-9X           52
40+            31
10-19X         19
20-39X          8
Name: pprs_lifetime_freq, dtype: int64



THIS IS COL: pprs_yr_freq
Unknown    344596
0           14887
1-2X          140
3-5X           77
6-9X           52
40+            31
10-19X         19
20-39X          8
Name: pprs_yr_freq, dtype: int64



THIS IS COL: pprs_month_freq
Unknown    344596
0           14880
1-2X          152
6-9X           57
3-5X           56
40+            37
10-19X         19
20-39X         13
Name: pprs_month_freq, dtype: int64



THIS IS COL: steroid_lifetime_freq
Unknown    279260
0           78424
1-2X          867
3-5X          371
6-9X          321
40+           297
10-19X        148
20-39X        122
Name: steroid_lifetime_freq, dtype: int64



THIS IS COL: steroid_yr_freq
Unknown    279163
0           79114
1-2X          648
3-5X          391
40+           214
6-9X          150
10-19X         84
20-39X         46
Name: steroid_yr_freq, dtype: int64



THIS IS COL: steroid_month_freq
Unknown    281294
0           76935
1-2X          668
3-5X          426
40+           200
6-9X          139
10-19X         98
20-39X         50
Name: steroid_month_freq, dtype: int64



THIS IS COL: andro_yr_freq
Unknown    304964
0           53816
1-2X          361
3-5X          223
40+           146
6-9X          138
10-19X        102
20-39X         60
Name: andro_yr_freq, dtype: int64



THIS IS COL: creatine_yr_freq
Unknown    298879
0           55904
1-2X         1251
40+          1120
3-5X          790
10-19X        697
6-9X          591
20-39X        578
Name: creatine_yr_freq, dtype: int64



THIS IS COL: coughmed_yr_freq
Unknown    305683
0           51428
1-2X         1230
3-5X          700
6-9X          330
10-19X        192
40+           151
20-39X         96
Name: coughmed_yr_freq, dtype: int64



THIS IS COL: adderall_yr_freq
Unknown    319262
0           38227
1-2X         1129
3-5X          511
6-9X          261
10-19X        177
40+           160
20-39X         83
Name: adderall_yr_freq, dtype: int64



THIS IS COL: salvia_yr_freq
Unknown    326019
0           32584
1-2X          665
3-5X          217
6-9X          112
40+           105
10-19X         74
20-39X         34
Name: salvia_yr_freq, dtype: int64



THIS IS COL: provigil_yr_freq
Unknown    351523
0            8147
1-2X           64
40+            24
3-5X           19
6-9X           14
10-19X         11
20-39X          8
Name: provigil_yr_freq, dtype: int64



THIS IS COL: hookah_yr_freq
Unknown    357541
0            1869
1-2X          146
3-5X           94
6-9X           57
10-19X         49
40+            30
20-39X         24
Name: hookah_yr_freq, dtype: int64



THIS IS COL: smcigars_yr_freq
Unknown    357538
0            1739
1-2X          188
3-5X          104
10-19X         77
6-9X           74
40+            54
20-39X         36
Name: smcigars_yr_freq, dtype: int64



THIS IS COL: nrg_drinks_day
Unknown    357667
0            1452
<1            447
1             147
2              54
7+             19
3              16
4               6
5-6             2
Name: nrg_drinks_day, dtype: int64



THIS IS COL: nrg_shots_day
Unknown    357666
0            1916
<1            148
1              39
3              17
2              10
7+              7
4               4
5-6             3
Name: nrg_shots_day, dtype: int64



THIS IS COL: alc_caffeine_yr_freq
Unknown    328485
0           25118
1-2X         3033
3-5X         1382
6-9X          746
10-19X        500
40+           339
20-39X        207
Name: alc_caffeine_yr_freq, dtype: int64



THIS IS COL: syn_marj_yr_freq
Unknown    328030
0           29675
1-2X          943
3-5X          418
40+           242
6-9X          231
10-19X        173
20-39X         98
Name: syn_marj_yr_freq, dtype: int64



THIS IS COL: ecig_month_freq
Unknown    319848
0           34975
1-2          2315
3-5X          975
20-30         691
6-9           577
10-19X        429
Name: ecig_month_freq, dtype: int64



THIS IS COL: bath_salts_yr_freq
Unknown    340116
0           19539
40+            40
3-5X           38
1-2X           34
6-9X           21
10-19X         17
20-39X          5
Name: bath_salts_yr_freq, dtype: int64



THIS IS COL: lrg_cigar_month_freq
Unknown    340220
0           17980
1-2           886
20-30         254
3-5X          251
6-9           126
10-19X         93
Name: lrg_cigar_month_freq, dtype: int64



THIS IS COL: flvd_cigar_month_freq
Unknown    338556
0           19236
1-2          1196
3-5X          374
20-30         174
6-9           174
10-19X        100
Name: flvd_cigar_month_freq, dtype: int64



THIS IS COL: sml_cigar_month_freq
Unknown    338582
0           19760
1-2           799
3-5X          276
20-30         156
6-9           149
10-19X         88
Name: sml_cigar_month_freq, dtype: int64



THIS IS COL: syn_marj_month_freq
Unknown    340517
0           18775
1-2           275
3-5X           77
20-30          75
6-9            51
10-19X         40
Name: syn_marj_month_freq, dtype: int64



THIS IS COL: hgh_yr_freq
Unknown    355979
0            3779
40+            18
3-5X           13
1-2X           10
6-9X            5
10-19X          4
20-39X          2
Name: hgh_yr_freq, dtype: int64



THIS IS COL: pwd_alc_yr_freq
Unknown    344588
0           14422
1-2X          358
3-5X          188
6-9X           99
10-19X         70
40+            57
20-39X         28
Name: pwd_alc_yr_freq, dtype: int64



THIS IS COL: hookah_month_freq
Unknown    346419
0           12691
1-2           373
3-5X          138
6-9            77
20-30          72
10-19X         40
Name: hookah_month_freq, dtype: int64



THIS IS COL: evr_vape
Unknown    343501
Yes          9240
No           7069
Name: evr_vape, dtype: int64



THIS IS COL: vape_marj_lifetime_freq
Unknown    343070
0           13095
1-2X          999
20-39X        919
3-5X          581
6-9X          403
10-19X        375
40+           368
Name: vape_marj_lifetime_freq, dtype: int64



THIS IS COL: vape_marj_yr_freq
Unknown    343123
0           13592
1-2X          981
20-39X        719
3-5X          510
6-9X          382
10-19X        317
40+           186
Name: vape_marj_yr_freq, dtype: int64



THIS IS COL: vape_marj_month_freq
Unknown    343170
0           14497
1-2X          805
20-39X        381
3-5X          351
6-9X          261
10-19X        229
40+           116
Name: vape_marj_month_freq, dtype: int64



THIS IS COL: vape_flav_lifetime_freq
Unknown    343060
0           12631
1-2X         1401
20-39X        810
3-5X          740
6-9X          532
10-19X        413
40+           223
Name: vape_flav_lifetime_freq, dtype: int64



THIS IS COL: vape_flav_yr_freq
Unknown    343099
0           12650
1-2X         1416
3-5X          755
20-39X        594
6-9X          503
10-19X        416
40+           377
Name: vape_flav_yr_freq, dtype: int64

THIS IS COL: vape_flav_month_freq
Unknown    343130
0           14280
1-2X          924
3-5X          418
20-39X        335
6-9X          291
10-19X        220
40+           212
Name: vape_flav_month_freq, dtype: int64

In [1712]:
mtf.to_csv(path_or_buf='data/modeling_data/mtf.csv', index=False)

In [ ]:
mtf_base.to_csv(path_or_buf='data/modeling_data/mtf_base.csv', index=False)

In [1713]:
test = pd.read_csv('data/modeling_data/mtf.csv')

In [1714]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359810 entries, 0 to 359809
Columns: 210 entries, yr_adminst to vape_flav_month_freq
dtypes: float64(1), int64(3), object(206)
memory usage: 576.5+ MB

In [1715]:
mtf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359810 entries, 0 to 13712
Columns: 210 entries, yr_adminst to vape_flav_month_freq
dtypes: float64(1), int64(3), object(206)
memory usage: 587.3+ MB

In [1717]:
mtf.msa.value_counts()

0    233854
1    125956
Name: msa, dtype: int64

In [1716]:
test.head()

,yr_adminst,sampling_weight,region,msa,smsa,siblings,evr_smoked_cig,cig_month_freq,evr_drink,alcohol_lifetime_freq,alcohol_yr_freq,alcohol_month_freq,alcohol_amount,alcohol_2weeks,weed_hash_lifetime_freq,weed_hash_yr_freq,weed_hash_month_freq,lsd_lifetime_freq,lsd_yr_freq,lsd_month_freq,pysd_lifetime_freq,pysd_yr_freq,pysd_month_freq,coke_lifetime_freq,coke_yr_freq,coke_month_freq,amph_lifetime_freq,amph_yr_freq,amph_month_freq,meth_lifetime_freq,meth_yr_freq,meth_month_freq,sedbarb_lifetime_freq,sedbarb_yr_freq,sedbarb_month_freq,tranq_lifetime_freq,tranq_yr_freq,tranq_month_freq,heroin_lifetime_freq,heroin_yr_freq,heroin_month_freq,narcotic_lifetime_freq,narcotic_yr_freq,narcotic_month_freq,inhal_lifetime_freq,inhal_yr_freq,inhal_month_freq,age,sex,race_bwh,area_type,marital_status,lives_alone,has_father,has_mother,has_siblings,hshld_grandparents,hshld_spouse,hshld_children,hshld_relatives,hshld_nonrelatives,father_educ_lvl,mother_educ_lvl,mother_employed,political_party,political_value_type,relig_pref,relig_attd,relig_importance,hs_grad_yr,hs_type,academic_self_rating,intelligence_self_rating,school_missed_illness,school_missed_ditched,school_missed_other,skipped_class,avg_grade,tech_school_after_hs,military_after_hs,2yrcoll_after_hs,4yrcoll_after_hs,gradsch_after_hs,desire_tech_school,desire_military,desire_2yrcoll,desire_4yrcoll,desire_gradsch,desire_none,work_hrs,work_pay,other_income,rec_time,date_freq,drive_freq,12mo_r_tcktd,tckts_aft_drnk,tckts_aft_marj,tckts_aft_otdg,12mo_accidents,acdts_aft_drnk,acdts_aft_marj,acdts_aft_otdg,mil_branch_pref,mil_officer_pref,expect_mil_career,hash_lifetime_freq,hash_yr_freq,hash_month_freq,weed_lifetime_freq,weed_yr_freq,weed_month_freq,evr_tobacco,bidi_yr_freq,kreteks_yr_freq,drunk_lifetime_freq,drunk_yr_freq,drunk_month_freq,beer_lifetime_freq,beer_yr_freq,beer_month_freq,beer_2week,winecool_lifetime_freq,winecool_yr_freq,winecool_month_freq,winecool_2week,wine_lifetime_freq,wine_yr_freq,wine_month_freq,wine_2week,liqr_lifetime_freq,liqr_yr_freq,liqr_month_freq,liqr_2week,flvrdalc_lifetime_freq,flvrdalc_yr_freq,flvrdalc_month_freq,pcp_lifetime_freq,pcp_yr_freq,pcp_month_freq,mdma_lifetime_freq,mdma_yr_freq,mdma_month_freq,crack_lifetime_freq,crack_yr_freq,crack_month_freq,othcoke_lifetime_freq,othcoke_yr_freq,othcoke_month_freq,ritalin_yr_freq,dietpill_lifetime_freq,dietpill_yr_freq,dietpill_month_freq,staawak_lifetime_freq,staawak_yr_freq,staawak_month_freq,lookalik_lifetime_freq,lookalik_yr_freq,lookalik_month_freq,quaa_lifetime_freq,quaa_yr_freq,quaa_month_freq,roofi_yr_freq,ghb_yr_freq,keta_yr_freq,needle_lifetime_freq,needle_yr_freq,needle_month_freq,nnher_lifetime_freq,nnher_yr_freq,nnher_month_freq,inject_lifetime_freq,inject_yr_freq,inject_month_freq,oxy_yr_freq,vico_yr_freq,pprs_lifetime_freq,pprs_yr_freq,pprs_month_freq,steroid_lifetime_freq,steroid_yr_freq,steroid_month_freq,andro_yr_freq,creatine_yr_freq,coughmed_yr_freq,adderall_yr_freq,salvia_yr_freq,provigil_yr_freq,hookah_yr_freq,smcigars_yr_freq,nrg_drinks_day,nrg_shots_day,alc_caffeine_yr_freq,syn_marj_yr_freq,ecig_month_freq,bath_salts_yr_freq,lrg_cigar_month_freq,flvd_cigar_month_freq,sml_cigar_month_freq,syn_marj_month_freq,hgh_yr_freq,pwd_alc_yr_freq,hookah_month_freq,evr_vape,vape_marj_lifetime_freq,vape_marj_yr_freq,vape_marj_month_freq,vape_flav_lifetime_freq,vape_flav_yr_freq,vape_flav_month_freq
0,1995,0.6,Midwest,1,1,1,Never,None,Unknown,0,0,None,Unknown,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Male,White,Medium City,Single,No,No,Yes,Yes,No,No,No,No,No,Graduated HS,College Grad,Yes/Nearly All,Don't Know,Don't Know,None,Rarely,A Little Important,June,Academic/College Prep,Average,Slightly Above Average,0,0,0,0,B+,Probably Will,Definitely Won't,Definitely Will,Definitely Will,Definitely Will,No,No,No,No,Yes,No,30+,126-175,0,4-5,2-3x Month,51-100,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,1995,0.6,West,0,1,2,Regularly Now,2+ Packs,Unknown,40+,40+,1.5 Packs,Unknown,10+X,40+,40+,40+,40+,20-39X,10-19X,10-19X,6-9X,1-2X,40+,40+,10-19X,40+,40+,20-39X,Unknown,Unknown,Unknown,40+,40+,20-39X,10-19X,3-5X,3-5X,10-19X,3-5X,1-2X,1-2X,1-2X,1-2X,Unknown,Unknown,Unknown,Unknown,Male,Unknown,Small Town,Separated/Divorced,No,No,No,No,No,No,No,No,Yes,Some High School,Graduated HS,Yes/Some,Independent,Radical,None,Never,Not Important,June,Academic/College Prep,Far Above Average,Far Above Average,0,6-10,1,6-10,B+,Probably Won't,Definitely Won't,Probably Won't,Probably Will,Probably Will,No,No,No,No,No,Yes,5 or less,21-35,126-175,<1,Never,1-10,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,1995,0.9,Midwest,0,1,1,Regularly Now,2 Packs,Unknown,40+,40+,2 Packs,Unknown,Unknown,20-39X,20-39X,0,1-2X,1-2X,1-2X,1-2X,1-2X,1-2X,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Unknown,White,Small Town,Single,No,Yes,Yes,Yes,No,No,No,No,No,Some College,Graduated HS,Yes/Nearly All,Strong Republican,Don't Know,None,Never,Not Important,June,General,Average,Average,3,3,0,1-2,C,Probably Won't,Probably Will,Probably Won't,Definitely Won't,Definitely Won't,No,Yes,No,No,No,No,6-10,76-125,0,2,Never,101-200,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Air Force,Uncertain,Uncertain,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,1995,0.6,South,0,0,3+,Never,None,Unknown,0,0,None,Unknown,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Female,Unknown,Unknown,Single,No,Yes,Yes,Yes,Yes,No,No,No,No,Graduated HS,Graduated HS,Yes/Some,Independent,Moderate,Baptist,Every Week+,Pretty Important,June,General,Average,Average,0,0,1,0,B+,Probably Won't,Probably Won't,Probably Won't,Definitely Will,Definitely Will,No,No,No,Yes,No,No,21-25,51-75,0,1,1x Month,1-10,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,1995,0.9,Midwest,1,1,None,Never,None,Unknown,0,0,None,Unknown,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,Unknown,Unknown,Unknown,Male,Unknown,Small Town,Single,No,Yes,Yes,No,No,No,No,No,No,College Grad,Graduate School,Yes/Most,No Pref,Don't Know,Church of Christ,Every Week+,Very Important,June,Academic/College Prep,Average,Average,0,0,0,0,C,Definitely Will,Unknown,Definitely Won't,Definitely Will,Definitely Will,Yes,No,No,Yes,No,No,16-20,76-125,36-50,2,Never,0,0,Unknown,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown